  body {
        background: #2196F3;
    }

    #toolbar
    {
        display:none;
    }
    .gray-color {
       color: rgba(136, 136, 136, 0.5) !important;
    }

    .maincontent
    {
        background:#fff;
    }

    .modal
    {
        background:#fff;
    }
    .modal-footer
    {
        text-align:left;
    }

    .list-group-item
    {
        border:transparent;
        border-bottom:2px solid #eee;
    }
    .list-group-item.selected {
        background: #e3e3e3;
    }


        .list-group-item .col-xs-3{
            padding-left:5px;
            padding-right:5px;
        }

          .list-group-item .col-xs-7{
            padding-left:5px;
            padding-right:5px;
        }

            .list-group-item .col-xs-2{
            padding-left:5px;
            padding-right:5px;
        }
    
    
     .btn-warning {
        height: 50px;
        width: 50px;
        line-height: 50px;
      
        padding: 0px;
        text-align: center;
    }

    .list-group h4 {
        margin-top: 0px;
        font-size: 14px;
        color: #333;
        margin-bottom: 4px;
    }

    .list-group p {
        color: #8e8e8e;
        font-size:11px;
        margin-bottom:1px;
           word-break:break-all;
    }



    .loaderanimation {
        text-align: center;
        position: fixed;
        top: 22%;
        z-index: 10;
        width: 100%;
    }

.btn-next {
    height:50px;
    width:50px;
    border-radius:100%;
    text-align:center;
    line-height:50px;
    padding:0;
    color:#fff;
    background:#2196F3;
    float:right;
}

.btn-next i 
{
    color:#fff;
    font-size:30px;

}


.btn-next {
        height: 50px;
        width: 50px;
        border-radius: 100%;
        text-align: center;
        line-height: 50px;
        padding: 0;
        color: #333;
        background: #f2f2f2;
        float: right;
        border: 1px solid #ccc;
    }

        .btn-next i {
            color: #888;
        }

    .list-group {
        min-height: 40px;
    }


    .list-group-item:nth-child(even) {
        background: #f5f5f5;
    }

    .list-group-item:nth-child(odd) {
        background: #FFF;
    }

    body {
        background: #edecec;
    }

    .bottommenu {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        text-align: center;
        background: #ccc;
        color: #333;
        padding-top: 7px;
        padding-bottom: 7px;
    }

        .bottommenu i {
            display: block;
            font-size: 20px;
        }

        .bottommenu a:hover {
            color: #fff;
        }

    .row.listbtn {
        height: 25px;
    }


    .listbtn a {
        color: #069;
    }

    .btn-xs {
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }

    .panel-heading .accordion-toggle:after {
        /* symbol for "opening" panels */
        font-family: 'FontAwesome'; /* essential for enabling glyphicon */
        content: "\f107"; /* adjust as needed, taken from bootstrap.css */
        float: right; /* adjust as needed */
        color: #069; /* adjust as needed */
        width: 11px;
        margin-left: 3px;
    }

    .panel-heading .accordion-toggle.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "\f105"; /* adjust as needed, taken from bootstrap.css */
    }

    .sub-btn {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .alert-info {
        background-color: #d9edf7;
        border-color: #d9edf7;
        color: #2196f3;
    }

    .alert {
        padding: 15px;
        margin-bottom: 18px;
        border: 1px solid transparent;
        border-radius: 2px;
    }

    .panel p {
        font-size: 13px;
        margin-bottom: 7px;
    }

        .panel p i {
            font-size: 18px;
            color: #888;
            width: 18px;
        }

    .bottomlinks {
        position: absolute;
        background: #f5f5f5;
        left: 2px;
        right: 2px;
        width: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 9px;
    }

    .inventoryname {
        padding: 10px;
        color: #fff;
        margin-bottom: 0 !important;
        border-radius: 25px;
        font-size: 17px !important;
        text-align: center;
    }

    .col-xs-9 {
        padding-left: 0;
        padding-right: 0;
    }

    .col-xs-3 {
        padding-left: 0;
        padding-right: 5px;
    }

        .col-xs-3 a {
            margin-top: 10px;
        }

    .container .row {
        margin-left: 0;
        margin-right: 0;
    }

    #toolbar .title {
        background: transparent;
        color: #fff;
        padding: 5px;
        border-radius: 15px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        font-size: 17px;
    }

    .inventoryname {
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: -webkit-inline-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        -ms-word-break: break-all;
        word-break: break-all;
        margin-bottom: 0;
        width: 100%;
        line-height: 29px !important;
    }

    .col-xs-3 span {
        font-size: 14px;
    }

   .loaderanimation
   {
       left:0;
       top:40%;
   }
    #toolbar {
        background-color: #2196F3;
        padding-top: 7px;
    }