.btn-primary {
    background-color: #4285F4 !important;
    border: transparent !important;
    font-size: 17px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: capitalize;
    color: #fff !important;
}

    .btn-primary i {
        font-size: 18px;
    }

.btn-gray {
    background: #999 !important;
    color: #fff !important;
    opacity: 0.9;
    height: 45px;
    line-height: 45px;
    border: transparent !important;
    border-radius: 45px;
    font-size: 17px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: capitalize;
}

.primary-color {
    color: #fff !important;
}

.btn-gray i {
    font-size: 18px;
}

.bootbox .modal-body {
    padding: 15px;
    text-align: left;
}

.bootbox .mybootboxbody {
    padding-top: 0px;
    text-align: left;
    padding-left: 13px;
    background: #d6d6d6;
    padding-bottom: 7px;
    color: brown;
}

.cartitems .input-group-addon {
    background: transparent !important;
}

.myicon {
    background: transparent !important;
}

    .myicon .fa-thumb-tack {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

.input-group-addon .fa-thumb-tack {
    padding-left: 15px !important;
    padding-right: 15px !important;
}


.input-group-addon .fa-undo {
    padding-left: 13px !important;
    padding-right: 13px !important;
}

.input-group-addon .fa-thumb-tack {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.c-widget-figure {
    margin-right: 20px;
    width: 48px;
    min-width: 48px;
    height: 48px;
    color: #fff;
    border-radius: 50%;
    line-height: 51px;
    text-align: center;
}

.waves-effect.btn-warning {
    border-radius: 45px;
}


.input-group-addon .fa-plus {
    padding-left: 14px !important;
    padding-right: 14px !important;
}

.input-group-addon .fa-minus {
    padding-left: 14px !important;
    padding-right: 14px !important;
    padding-top: 14px !important;
}

.input-group-addon .fa-barcode {
    padding-left: 12px !important;
    padding-right: 12px !important;
    padding-top: 13px !important;
    padding-bottom: 11px !important;
}


.fileUpload.btn-primary {
    font-size: 14px;
    line-height: 18px;
    padding-top: 18px !important;
    text-transform: capitalize;
    height: 75px;
    border-radius: 100%;
    padding-top: 9px;
    width: 75px;
}

.bottom-modal {
    padding: 0px !important;
    background: transparent;
    border: none !important;
    box-shadow: none !important;
    max-height: initial !important;
}

    .bottom-modal .modal-body {
        padding: 0px;
        border-radius: 10px;
        background: transparent;
    }


    .bottom-modal ul {
        padding: 15px;
        margin-bottom: 0px;
        border-radius: 10px;
        width: 95%;
        background: #fff;
        margin: 0 auto;
        border: 1px solid #ccc;
    }

        .bottom-modal ul li {
            padding: 14px;
            border: 1px solid #ccc;
            background: #2196F3;
            list-style-type: none;
            margin-bottom: 10px;
            border-radius: 30px;
        }

            .bottom-modal ul li a {
                padding-left: 20px;
                display: block;
                width: 100%;
                text-decoration: none !important;
                color: #fff;
                text-align:left;
            }

                .bottom-modal ul li a i {
                    font-size: 16px;
                    margin-right: 7px;
                }


    .bottom-modal .modal-footer {
        margin-top: 0px;
    }


.menubtn {
    position: fixed;
    bottom: 23px;
    right: 25px;
    background: #FF4081 !important;
    z-index: 13000;
    color: #fff !important;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    text-align: center;
    line-height: 52px;
    cursor: pointer;
}

#bottommenumodal {
    position: fixed;
    right: 25px;
}

    #bottommenumodal .selectAction {
        position: fixed;
        bottom: 75px;
        right: 35px;
    }



        #bottommenumodal .selectAction li {
            list-style-type: none;
        }


            #bottommenumodal .selectAction li span {
                color: #000;
            }


        #bottommenumodal .selectAction .btn {
            height: 34px;
            width: 34px;
            padding: 0px;
            border-radius: 100%;
            text-align: center;
            line-height: 34px;
            border: transparent;
            margin-bottom: 5px;
            color: #fff;
        }

#bottommenumodal {
    position: fixed;
    right: 13px;
    font-size: 18px;
    text-align: right;
    display: none;
    background: transparent;
    overflow: hidden;
}

    #bottommenumodal span {
        font-size: 16px;
        font-family: verdana;
        margin-right: 7px;
         text-transform:capitalize;
    }


    #bottommenumodal .modal-body {
        background: transparent;
        height:100%;
        width:100%;
    }



.rotate {
    -ms-transform: rotate(42deg);
    -webkit-transform: rotate(42deg);
    -moz-transform: rotate(42deg);
    -o-transform: rotate(42deg);
    transform: rotate(42deg);
}

.filtercross {
    font-size: 25px;
    padding-top: 5px;
    color: brown;
    padding: 6px;
    margin-top: 3px;
  
    z-index: 10;
    position: absolute;
    right: 0px;
    cursor: pointer;
}

.right47 {
    right: 47px;
}

.close {
    opacity: 1;
}

.modal-header {
    padding: 10px;
}

    .modal-header h4 {
        line-height: 5px;
    }

.close i {
    color: brown;
    font-size: 40px;
}

.lesstop12 {
    margin-top: -12px;
}

.title-header {

    background-color: #2196F3;
    color: #fff;
    padding-bottom: 9px;
    position: fixed;
    width: 100%;
    z-index: 100;
    left: 0;
    right: 0;
}

    .title-header h4, small {
        color: #fff !important;
    }

    /*.title-header h4 {
        padding-left: 50px;
    }*/

    .title-header small {
        font-size: 12px !important;
    }

.titletext {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    /*display: -webkit-inline-box;*/
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    -ms-word-break: break-all;
    word-break: break-all;
    margin-bottom: 0;
    font-size: 17px;
    line-height: 25px;
    margin-top: 5px;
    text-align:center;
}

.roundbtntitle {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    position: fixed;
    padding: 0px;
    margin-top: 18px;
    background: #f44336;
    color: #fff !important;
    line-height: 33px;
    z-index: 100;
    font-size: 25px;
    right: 15px;
}


.top50 {
    padding-top: 50px;
}

.newbackbtn {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    position: fixed;
    padding: 0px;
    margin-top: 0px;
    margin-left: 7px;
    line-height: 37px;
    z-index: 100;
    color: #fff;
    font-size: 25px;
}

    .newbackbtn i {
        color: #fff !important;
    }

.btn-large {
    border-radius: 50px;
}

    .btn-large i {
        font-size: 17px;
    }

.left15 {
    margin-left: 15px !important;
}


#filtermodal {
    background: #fff;
    padding: 0px;
    overflow-x: hidden;
    overflow-x: hidden !important;
    left: initial !important;
    position: fixed;
    right: 0 !important;
    width: 295px;
    font-size: 13px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
    z-index: 25000;
}

    #filtermodal .modal-header {
        background: #2196F3;
        color: #fff;
    }

        #filtermodal .modal-header i {
            font-size: 22px;
            margin-top: 10px;
            color: #fff !important;
        }

    #filtermodal .width-100 {
        width: initial !important;
    }


    #filtermodal h4 {
        font-size: 15px;
    }


    #filtermodal img {
      
       
    }

    #filtermodal .input-group-addon {
        background: #2196F3;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }


    #filtermodal .dropdown-menu img {
        background: #2196F3;
        border: 1px solid #ccc;
         border-radius: 100%;
    padding: 3px;
    }

    #filtermodal .form-control {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        height: 41px;
        border-left: transparent;
        display: block;
        z-index: 1000;
        position: relative;
    }

    #filtermodal #firstDiv .fa-calendar {
        padding: 6px !important;
        color: #000 !important;
        background: #fff !important;
        border-radius: 100% !important;
    }

    #filtermodal #firstDiv .input-group-addon {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }

.finditems img {
   
   margin-top:-3px;
}

.finditems.input-group-addon a {
  background: #2196F3;
  
    padding: 6px;
    padding-top: 11px;
    padding-bottom: 11px;
   
 
    border-radius: 100% !important;
}

.finditems.input-group-addon ul li a {
    background:transparent;
}


.finditems .dropdown-menu img {
    background: #2196F3 ;
    border: 1px solid #ccc;
}


.finditems .fa-caret-down
 {
    color: #fff !important;
    background: transparent;
    padding: 1px !important;
    padding-top: 2px !important;
    padding-left: 9px !important;
    padding-right: 9px !important;
}

#toast-container {
    position: fixed !important;
    z-index: 999999;
    width: 100%;
    /*bottom: 0;*/
    left: 0;
    right: 0;
    top: 0;
}

.tagarrow .fa-tag {
    margin-top: 13px !important;
}

.toast-success {
    background: #3CB371;
    color: #fff !important;
}

.bootbox .modal-dialog {
    width: 94%;
    border-radius: 10px;
}

.bootbox .modal-content {
    background: #fff;
    box-shadow: none;
    border: transparent;
}

.bootbox .modal-body {
    background: #d6d6d6;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding-bottom: 5px;
}

.bootbox {
    position: fixed;
    bottom: 0;
    top: initial;
}


    .bootbox .modal-footer {
        background: #fff;
        padding: 0px;
        margin-top: 0px;
        border: transparent;
        padding-bottom: 10px;
        margin-top: 10px;
        padding-left: 7px;
        padding-right: 7px;
    }


    .bootbox .btn {
        width: 100%;
        margin-bottom: 10px;
        margin-left: 0px !important;
        text-align: left;
    }

.form-control
 {
    
    box-shadow:none !important;
    -webkit-transition: all .7s ease !important;
   -moz-transition: all .7s ease !important;
   transition: all .7s ease !important;
}


.form-control:focus
 {
  border:1px solid #ccc !important;
   box-shadow: 0px 0px 12px #ccc !important;
}


input[type="password"]
 {
      -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow:none !important;
    -webkit-transition: all .7s ease !important;
   -moz-transition: all .7s ease !important;
   transition: all .7s ease !important;
}


input[type="password"]:focus
 {
  border:1px solid #ccc !important;
   box-shadow: 0px 0px 12px #ccc !important;
}

.contentsection .infoareas .btn-white 
{
 background-color:#FF4081; 
 color:#fff;
 margin-top:8px;
}

.side-nav .no-child.active
{
    color: #2196F3;
   
   
}

.side-nav .no-child.active i
{
    color: #2196F3;
   
}


.form-control[disabled]
{
 
    opacity:1 !important;
    -webkit-text-fill-color:#6f6f6f !important;
}




@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)  {
 .form-control
 {
     height:55px;
 }

 .Ipadheight
 {
     height:50px;
 }

 .has-feedback .form-control-feedback {
   
   
    width: 40px;
    height: 40px;
    line-height: 55px;
   
}


 .Btndisabled {
 background: #ccc;
    border: 1px solid brown !important;
    color: brown !important;
    background-color: #ccc !important;
}



 #toolbar
 {
     height:80px;
 }

 .open-left .fa-bars
 {
     font-size:30px !important;
 }

 #toolbar .title
 {
     font-size:25px;
     line-height:63px;
 }

 #viewdata
 {
     margin-top:75px !important;
 }

    .titletext {
        font-size: 26px;
    line-height: 43px;
    margin-top: 0px;
    }

    .roundbtntitle {
    height: 55px;
    width: 55px;
    margin-top: 26px;
    line-height: 50px;
    font-size: 23px;
   
}

    #myimgProfile {
        height: 65px !important;
    width: 65px !important;
    margin-top: 5px;
    margin-left: -19px;
    border: 1px solid #ccc;
    }


    .menubtn {
 
    bottom: 35px;
    right: 35px;
   
    height: 90px;
    width: 90px;
   
  
    line-height: 110px;
    cursor: pointer;
}

    .menubtn i
    {
        font-size:45px;
    }

    #bottommenumodal .selectAction {
  
      bottom: 125px;
    right: 55px;
}

    #bottommenumodal .selectAction .btn {
height: 60px;
    width: 60px;
    line-height: 60px;
    margin-bottom: 12px;
   
}

    label {
        font-size:23px;
    }

    .btn-primary
    {
        font-size: 24px;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    }

    .btn-primary i {
    font-size: 24px;
}

    .btn-gray
    {
           font-size: 24px;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    }

    .btn-gray i
    {
         font-size: 24px;
    }
    .cd-top {
        height: 80px !important;
        width: 80px !important;
        color: #fff !important;
        background: #b39a99;
        position: fixed;
        bottom: 36px !important;
        text-align:center;
    }

    .cd-top i
    {
           font-size: 35px;
    margin-top: 15px;
   line-height:45px;
   font-size:35px !important;
    }







        #bottommenumodal .selectAction .btn i {
font-size:30px;
   
}

    #bottommenumodal span {
    font-size: 23px;
   
}


    .selectAction .btn {
    height: 60px !important;
    width: 60px !important;

    line-height: 60px !important;
  
}

    .selectAction {
    position: fixed;
    bottom: 125px !important;
    right: 52px !important;
}
    #myModal2 span {
    font-size: 20px !important;
  
}

    .selectAction li
    {
        margin-bottom:7px;
    }
    .cartbtn
    {
        height:90px !important;
        width:90px !important;
            bottom: 37px !important;
    right: 42px !important;
    line-height:90px !important;
    }

    .cartbtn i
    {
        font-size:35px;
    }

    .side-nav .no-child
    {
        font-size:18px;
    }

    .toast
    {
        font-size:30px !important;
    }

    .input-group-addon i
    {
        padding:18px !important;
    }

    .input-group-addon .fa-plus {
     padding-left: 19px !important; 
     padding-right: 19px !important; 
}

      .input-group-addon .fa-minus {
     padding-left: 18px !important; 
     padding-right: 18px !important; 
     padding-top:18px !important;
}

      .changebtn 
      {
          height:90px !important;
          width:90px !important;
          line-height:90px !important;
          bottom:60px !important;
      }

      .stickybtn .btn
      {
          height:60px !important;
          font-size:26px !important;
          line-height:60px;
          border-radius:30px !important;
      }

      .stickybtn .btn i
      {
          font-size:26px;
      }

      .switchmode .tophead
      {
          padding-top:20px !important;
          padding-bottom:20px !important;
      }

      .input-group-addon .fa-barcode {
    padding-left: 18px !important;
    padding-right: 18px !important;
    padding-top: 18px !important;
    padding-bottom: 18px !important;
}

   
      .input-group-addon .fa-undo
      {
            padding-left: 18px !important;
    padding-right: 18px !important;
      }

      .bottom-modal ul li {
    padding: 20px;
   
    margin-bottom: 15px;
    border-radius: 41px;
    font-size: 30px;
}
      
      .bottom-modal ul li a i {
        font-size: 28px;
}
      .bottom-modal .modal-body
      {
          padding-top:35px;
          padding-bottom:30px;
      }

   

    .title-header small {
        font-size:20px !important;
    }
    .searchsection
    {
        margin-top:-5px !important;
    }
    .finditems.input-group-addon a
    {
        padding:16px !important;
    }

    .squirelimg
    {
        height:125px !important;
        width:125px !important;
    }
    p {
        font-size:18px;
    }

    .form-group {
        margin-bottom:20px;
    }

    .signupheader
    {
        position:fixed;
    }

    .signupheader td
    {
        padding:15px;
    }

     .signupheader td h5
     {
         font-size:25px;
     }

     .finditems img
     {
         height:23px;
     }
     .dropdown-menu > li > a
     {
         font-size:16px;
     }

     .top-menu i
     {
         font-size:20px;
     }
     #mycartModal span
     {
         font-size:20px !important;
     }
     .finditems .fa-caret-down {
    color: #fff !important;
    background: transparent;
    padding: 1px !important;
    padding-top: 1px !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
}

     .rotateData
     {
         height:50px !important;
         width:50px !important;
     }
     .summaryClearbtn i
     {
         font-size:45px;
     }

    .topheader i {
        font-size:24px !important;
    }

    .imagesection {
   
    min-height: 120px !important;
    margin-top: 10px !important;
}

    .btn-large {
    height: 63px;
   line-height:63px;
  
    font-size: 20px;
}

    .contentsection .table-responsive .input-group span
    {
        padding:0 !important;
    }
    .contentsection
    {
        padding-top:65px !important;
    }
    .Celldata
    {
        font-size:17px;
    }

    code
    {
        font-size:17px !important;
    }

    .top50 .listview
    {
        margin-top:18px;
    }

    .filtercross
    {
        margin-top:8px;
    }

    .scrollbar-for-ipad
    {
        max-height:780px !important;
    }
    .activityinfo
    {
        margin-top:25px;
    }

    .actionbtnarea .btn-primary i
    {
        font-size:18px;
    }





}


