.btn-primary {
    background-color: #2196F3  !important;
    border: transparent !important;
    font-size: 17px;
    height: 45px;
    line-height:45px;
    border-radius: 45px;
    padding-left:9px; 
    padding-right:9px;
}

.btn-gray {
    background: #949494 !important;
    color: #fff !important;
    opacity: 0.7;
    height: 45px;
    line-height:45px;
    border: transparent !important;
    border-radius: 45px;
    font-size: 17px;
    padding-left:9px; 
    padding-right:9px;
}

.bootbox .modal-body {
    padding: 15px;
    text-align:left;
}

.bootbox .mybootboxbody {
    padding: 15px;
    padding-top: 0px;
    text-align:left;
}

.cartitems .input-group-addon
{
    background:transparent !important;
}

.myicon
{
   background:transparent !important;
}

.myicon .fa-thumb-tack
{
    padding-left:15px !important;
    padding-right:15px !important;
}

.input-group-addon .fa-thumb-tack
{
    padding-left:15px !important;
    padding-right:15px !important;
}


.input-group-addon .fa-undo
 {
    padding-left:13px !important;
    padding-right:13px !important;
 }

.input-group-addon .fa-thumb-tack
{
    padding-left:15px !important;
    padding-right:15px !important;
}

.c-widget-figure {
    margin-right: 20px;
    width: 48px;
    height: 48px;
    color: #fff;
    border-radius: 50%;
    line-height: 51px;
    text-align: center;
}

.waves-effect.btn-warning
{
    border-radius:45px;
}


.input-group-addon .fa-plus
{
    padding-left:14px !important;
    padding-right:14px !important;

}

.input-group-addon .fa-minus
{
    padding-left:14px !important;
      padding-right:14px !important;

}

.input-group-addon .fa-barcode {
    padding-left: 12px !important;
    padding-right: 13px !important;
}





  .fileUpload.btn-primary
  {
     font-size: 14px;
    line-height: 30px;
    padding-top: 10px;
  }
