@-webkit-keyframes arrow-jump {
  0%   { opacity: 0;}
  100% { opacity: 1; 
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -0-transform: translateY(10px);
        transform: translateY(10px);
    }
  
}
#arrow {
  -webkit-animation: arrow-jump 1s infinite; /* Safari 4+ */
  -moz-animation:    arrow-jump 1s infinite; /* Fx 5+ */
  -o-animation:      arrow-jump 1s infinite; /* Opera 12+ */
  animation:         arrow-jump 1s infinite; /* IE 10+, Fx 29+ */

      height: 100px;
    float: right;
    position: fixed;
    bottom: 135px;
    right: 17px;
}

.bgm-MoveTagUpdate {
    background-color: #8C6900;
  font-size:21px;
}


#sticky {
    width: 100%;
}

    #sticky.stick {
        position: fixed;
        top: 0;
        z-index: 996;
        background: #2196F3;
        padding-bottom: 2px;
        padding-top: 2px;
        padding-right: 4px;
        padding-left: 4px;
        -webkit-animation: cssAnimation 1s 16 ease;
        -moz-animation: cssAnimation 1s 16 ease;
        -o-animation: cssAnimation 1s 16 ease;
        animation: cssAnimation 1s 16 ease;
    }

.checkicon {
    position: absolute !important;
    z-index: 10;
    height: auto;
    left: 17px;
    margin-top: 20px;
    max-width: 70px;
}

.container {
    width: 100% !important;
}

.textData {
    font-size: 18px;
}

.btn-success {
    background-color: #177B3D;
    border-color: #177B3D;
}



.checkbox-nice label {
    padding-top: 3px;
}

label {
    font-weight: 400;
    font-size: 0.875em;
}

.checkbox-nice input[type=checkbox] {
    visibility: hidden;
}

.checkbox-nice {
    position: relative;
    padding-left: 15px;
}

.widget-todo .name {
    float: left;
}

.widget-todo > li {
    border-bottom: 1px solid #ebebeb;
    padding: 10px 5px;
    background: white;
}

.widget-todo {
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget-products li .product > .warranty > i {
    color: #f1c40f;
}

.widget-products a {
    cursor: pointer;
    text-decoration: none !important;
}

.widget-products li .product > .warranty {
    display: block;
    text-decoration: none;
    width: 50%;
    float: left;
    font-size: 0.875em;
}

.widget-products li .product > .price > i {
    color: #2ecc71;
}

.widget-products li .product > .price {
    display: block;
    text-decoration: none;
    width: 50%;
    float: left;
    font-size: 0.875em;
}

.widget-products li .product > .name {
    display: block;
    font-weight: 600;
    padding-bottom: 7px;
}


.widget-products li .product {
    display: block;
    margin-left: 80px;
    margin-top: 7px;
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 10px;
    min-height:68px;
}

.widget-products li > a {
    min-height: 80px;
    display: block;
    width: 100%;
    color: #344644;
    padding: 3px 10px;
    position: relative;
    -webkit-transition: border-color 0.1s ease-in-out 0s,background-color 0.1s ease-in-out 0s;
    -moz-transition: border-color 0.1s ease-in-out 0s,background-color 0.1s ease-in-out 0s;
    -o-transition: border-color 0.1s ease-in-out 0s,background-color 0.1s ease-in-out 0s;
    transition: border-color 0.1s ease-in-out 0s,background-color 0.1s ease-in-out 0s;
}

.searchsection {
    background: #d5d5d5;
    padding: 10px;
    margin-top: -22px;
    padding-left: 0;
    padding-right: 0;
}

    .searchsection .input-group-addon {
         background: #d5d5d5;
         padding-left:3px;
         padding-right:3px;
    }



.unitdata {
    color: #333;
    font-size: 12px;
}

.widget-products {
    list-style: none;
    margin: 0;
    padding: 0;
    min-height: 175px;
    background: #edecec;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.widget-users li {
    border-bottom: 1px solid #ebebeb;
    padding: 15px 0;
    height: 96px;
}

.label {
    border-radius: 3px;
    font-size: 0.875em;
    font-weight: 600;
}

.widget-users li > .details > .time {
    color: #3498db;
    font-size: 0.75em;
    padding-bottom: 7px;
}

.widget-users li > .details > .name > a {
    color: #344644;
}

.widget-users li > .details > .name {
    font-weight: 600;
}

.widget-users li > .details {
    margin-left: 60px;
}

.widget-users li > .img {
    float: left;
    margin-top: 8px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.widget-users {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tabs-wrapper.tabs-no-header .tab-content {
    padding: 0 20px 20px;
}

.nav-tabs > li > a {
    border-radius: 0;
    font-size: 1.125em;
    font-weight: 300;
    outline: none;
    color: #555;
    margin-right: 3px;
}

.nav > li {
    float: left;
}

.tabs-wrapper .nav-tabs {
    margin-bottom: 15px;
}

.nav-tabs {
    background: #d0d8de;
    border-color: transparent;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.main-box {
    background: #FFFFFF;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 16px;
    -webikt-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.bottmsectop {
    background: rgba(18, 142, 206, 0.65);
    color: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0px;
}

.searchtable {
    margin: 0 auto;
    width: 99%;
}

.searchlist {
    max-height: 400px;
    overflow: scroll;
    overflow-x: hidden;
}

    .searchlist li a {
        text-align: left;
    }

.transparentBtn {
    background: #0083C7;
    border: 2px solid #ebebeb;
    color: #fff !important;
    margin-top: 0px;
    margin-left: 5px;
    padding-left: 7px;
    padding-right: 9px;
}

.text {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-inline-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    -ms-word-break: break-all;
    word-break: break-all;
    margin-bottom: 0;
    line-height: 1.3;
}

h5.list-group-item-heading {
    font-size: 14px !important;
    text-transform: uppercase;
    word-break:break-all;
   
}

.list-group-item-heading .pull-right {
    font-size: 13px !important;
}

.list-group-item-heading {
    margin-bottom: 1px;
    line-height: 20px !important;
    font-size: 14px !important;
    font-weight: 100;
    color: #000;
    padding-bottom: 3px;
    font-family: Verdana;
    word-break:break-all;
}

.list-group-item-text {
    font-size: 12px;
}

.text {
    font-size: 12px;
}



.img img {
    height: 65px;
    width: 65px;
    margin-left: -4px;
    border: 3px solid #ccc;
    border-radius: 100%;
}

.cd-top.cd-is-visible {
    visibility: visible;
    opacity: 0.7;
}

.cd-top {
    height: 47px;
    width: 47px;
    color: #fff !important;
    background: #b39a99;
    position: fixed;
    left: 25px;
    bottom: 25px;
    border-radius: 100%;
    z-index: 100;
    font-size: 25px;
    padding-left: 12px;
    padding-top: 4px;
    opacity: 1;
    visibility: hidden;
}

#myModalforlist {
    top: 25%;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
}

    #myModalforlist ul {
        padding: 0px;
        margin-bottom: 0px;
    }

        #myModalforlist ul li {
            padding: 10px;
            border-bottom: 1px solid #ccc;
            background: #fff !important;
            background-color: #fff !important;
        }

            #myModalforlist ul li a {
                padding-left: 20px;
                display: block;
                width: 100%;
                text-decoration: none !important;
                font-size: 16px;
                color: #404040;
                text-align: left;
                font-family: Verdana;
                background: #fff !important;
                background-color: #fff !important;
            }

.modal-backdrop.in {
    opacity: 0.8;
}


.modal-backdrop {
    background: #fff;
}


.increase {
    color: #177B3D;
}

.decrease {
    color: #AF2525;
}

.move {
    color: #C65E28;
}

.convert {
    color: #CE59A1;
}

.update {
    color: #583782;
}

.tag {
    color: #0D190F;
}

.modal-body {
    padding: 0px;
}

.modal-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
}


#myModal234 {
    position: fixed;
    right: 13px;
    font-size: 18px;
    text-align: right;
    display: none;
    background: transparent;
    overflow: hidden;
}

    #myModal234 span {
        color: #000;
            border: 1px solid #ccc;
            border-radius: 12px;
            padding: 5px;
            font-size: 14px;
            background: #fff;
            padding-left: 15px;
            /* text-shadow: -3px -1px 4px #ccc; */
            padding-right: 15px;
            text-transform:capitalize;
    }


    #myModal234 .modal-body {
        height:100%;
        background: transparent;
        width:100%;
    
    }


#mycartModal {
    position: fixed;
    right: 13px;
    font-size: 18px;
    text-align: right;
    display: none;
    background: transparent;
    overflow: hidden;
}

    #mycartModal span {
        color: #000;
            border: 1px solid #ccc;
            border-radius: 12px;
            padding: 5px;
            font-size: 14px;
            background: #fff;
            padding-left: 15px;
            /* text-shadow: -3px -1px 4px #ccc; */
            padding-right: 15px;
            margin-right:0px;
             text-transform:capitalize;
    }


    #mycartModal .modal-body {
        background: transparent;
         height:100%;
        width:100%;
     
    }


.Addbtn {
    position: fixed;
    bottom: 23px;
    right: 20px;
    background: #f44336 !important;
    z-index: 13000;
    color: #fff !important;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    text-align: center;
    line-height: 66px;
}

    .Addbtn .fa {
        font-size: 24px;
        margin-top: 13px;
        color: #fff !important;
    }

.rotate {
    -ms-transform: rotate(42deg);
    -webkit-transform: rotate(42deg);
    -moz-transform: rotate(42deg);
    -o-transform: rotate(42deg);
    transform: rotate(42deg);
}

.cartbtn {
    position: fixed;
    bottom: 23px;
    right: 20px;
    z-index: 13000;
    color: #fff !important;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    text-align: center;
    line-height: 60px;
}




.selectAction {
    position: fixed;
    bottom: 75px;
    right: 35px;
}



    .selectAction li {
        list-style-type: none;
    }


        .selectAction li span {
            color: #000;
        }


    .selectAction .btn {
        height: 34px;
        width: 34px;
        padding: 0px;
        border-radius: 100%;
        text-align: center;
        line-height: 34px;
        border: transparent;
        margin-bottom: 5px;
        color: #fff;
        margin-left:8px;
    }

.counter {
    position: absolute;
    left: -14px;
    top: 13px;
    color: #fff;
    background: #EC2E0E;
    height: 25px;
    width: 25px;
    line-height: 27px;
    text-align: center;
}

.bgm-red {
}

.container {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.page-header {
    color: #000;
}

body {
    background: #edecec;
}

.finditem {
    display: block !important;
}


.img {
    height: 66px;
    width: 67px;
   
    white-space: nowrap;
    text-align: center;
    margin: 1em 0;
    float: left;
    margin-top: 5px;
    /*border-radius: 100%;*/
    position: fixed;
  
}

.imghelper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}



.img .thumbimg {
    vertical-align: middle;
  
    border: transparent !important;
    opacity: 1 !important;
    margin-left: -4px;
    max-height: 60px;
    max-width: 60px;
    border-radius: 100%;
}


.disablepointer {
    pointer-events: none;
}

.newbackbtn {
    margin-left: 15px;
}

.cartImage {
  font-size: 35px;
    color: #9c9a9a;
    margin: 15px;
    margin-left: 0px;
    background: #f2f2f2;
    padding: 12px;
    padding-left: 14px;
    border: 1px solid #ccc;
    border-radius: 100%;
    padding-right: 14px;
    margin-top: 5px;
}

.drag-target {
    display: none;
}

.btn-group {
    width: 100%;
}

.multiselect {
   width: 100% !important;
    background: #fff !important;
    text-align: left !important;
    height: 42px !important;
  
    box-shadow: none !important;
    padding-left: 3px;
    font-size: 13px;
    text-transform: none;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.list-group-item-heading .pull-right span {
     text-transform:none;
}



.multiselect-container {
    width: 100%;
}


    .multiselect-container > li {
        padding: 0;
        background: #fff;
        border-bottom: 1px solid #ECECEC;
    }

#btnClearSearch {
    top: 0px;
}

.active label {
    color: #fff;
}

.multiselect-container .active a:hover {
    background: #2196F3 !important;
    color: #fff;
}

#mylist {
    -webkit-overflow-scrolling: touch;
}



 .form-group.has-feedback {
        margin-bottom: 0;
    }

    .cartbtn {
        background: #4CAF50;
    }

    .img .thumbimg {
        border-radius: 0;
    }

    .cartImage {
        border-radius: 0;
    }

    .hideimage img {
        visibility: hidden;
    }

    .hideimage .fa-shopping-cart {
        visibility: hidden;
    }

    .cartcounter {
        position: absolute;
    }

    .cartcounter {
        position: absolute;
        font-size: 12px !important;
        height: 25px;
        width: 25px;
        border-radius: 100%;
        background: brown;
        margin-top: -18px;
        line-height: 21px;
    }

    .cartbtn {
        position: fixed;
        bottom: 23px;
        right: 20px;
        z-index: 13000;
        color: #fff !important;
        height: 38px;
        width: 70px;
        border-radius: 100%;
        text-align: center;
        line-height: 46px;
        border-radius: 20px;
    }

    .form-control[disabled] {
        opacity: 1 !important;
        background-color: #cecdcd !important;
        -webkit-text-fill-color: #6f6f6f !important;
    }

    .Addfirstinv a {
        height: 70px;
        width: 70px;
        text-align: center;
        display: block;
        margin: 0 auto;
        background: #177B3D;
        border-radius: 100%;
        color: #fff;
        font-size: 35px;
        line-height: 70px;
    }




        .Addfirstinv a span {
            display: block;
        }

    .Addfirstinv {
        background: #efefef;
        border: 1px solid #ccc;
        padding: 19px;
        margin-top: 28px;
        width: 275px;
        margin: 0 auto;
        border-radius: 19px;
        margin-top: 30px;
    }

        .Addfirstinv span {
            color: #888;
            font-size: 18px;
        }

         .mainmodal {
        height: 100%;
        width: 100%;
        display: table;
    }

    .wrappermodal {
        display: table-cell;
        height: 100%;
        vertical-align: middle;
    }


  


@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) {


   #mycartModal .transactionbody.selectAction {
    bottom: 120px !important;
}

      .widget-products li .product {
    display: block;
    margin-left: 120px;
    margin-top: 7px;
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 10px;
    min-height: 90px;
}

      h5.list-group-item-heading {
    font-size: 20px !important;
    text-transform: uppercase;
    word-break: break-all;
}
.list-group-item-heading {
    margin-bottom: 4px;
}
.text {
    font-size: 15px;
}
.unitdata span
{
     font-size: 15px;
}
.list-group-item-heading .text span
{
     font-size: 18px;
}
.cartImage {
    font-size: 50px;
}

.img .thumbimg {
   
    max-height: 100px;
    max-width: 100px;
    height:76px !important;
    width:76px !important;
    margin-left:-2px;
  
}
.img
{
    height:76px;
    width:76px;
}

.checkicon {
    position: absolute !important;
    z-index: 10;
    height: auto;
    left: 20px;
    margin-top: 24px;
    max-width: 70px;
}

.selectAction .btn i
{
    font-size:20px;
}

.finditems a
{
    padding-top:17px;
    padding-bottom:17px;
}

.cartcounter {
    position: absolute;
    font-size: 17px !important;
    height: 32px;
    width: 32px;
    border-radius: 100%;
    background: brown;
    margin-top: -26px;
    line-height: 27px;
}

.switchinv {
    background: #e6e4e4 !important;
    color: #333;
    border-radius: 15px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 8px;
    height: 40px;
    width: 52px;
    display: inline-block;
    line-height: 30px !important;
    vertical-align: top;
}

#toolbar .title {
    background: #fff;
    color: #333;
    border-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 17px;
    min-width: 45px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-inline-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    -ms-word-break: break-all;
    word-break: break-all;
    margin-bottom: 0;
    line-height: 36px !important;
    height: 40px;
    text-align: center;
    padding-left: 13px;
    padding-right: 13px;
    vertical-align: top;
}
.open-left
{
    margin-top:10px;
}
.menubtn {
    bottom: 35px;
    right: 35px;
    height: 90px;
    width: 90px;
    line-height: 102px;
    cursor: pointer;
}

#toolbar .title
 {
   
     line-height:63px;
 }
  .menubtn {
 
    bottom: 35px;
    right: 35px;
   
    height: 90px;
    width: 90px;
   
  
    line-height: 110px;
    cursor: pointer;
}

    .menubtn i
    {
        font-size:45px;
    }

    #bottommenumodal .selectAction {
  
      bottom: 125px;
    right: 55px;
}

    #bottommenumodal .selectAction .btn {
height: 60px;
    width: 60px;
    line-height: 60px;
    margin-bottom: 12px;
   
}

      #bottommenumodal .selectAction .btn i {
font-size:30px;
   
}

    #bottommenumodal span {
    font-size: 23px;
   
}
  



    .selectAction .btn {
    height: 60px !important;
    width: 60px !important;

    line-height: 60px !important;
  
}

    .selectAction {
    position: fixed;
    bottom: 125px !important;
    right: 52px !important;
}
    #myModal2 span {
    font-size: 20px !important;
  
}

    .selectAction li
    {
        margin-bottom:7px;
    }

    #myModal234 span {
    color: #000;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 8px;
    font-size: 20px;
    background: #fff;
    padding-left: 25px;
    /* text-shadow: -3px -1px 4px #ccc; */
    padding-right: 25px;
    text-transform: capitalize;
}

     .titletext {
        font-size: 26px;
    line-height: 43px;
    margin-top: 0px;
    }

   

}