 
        input[type="number"].form-control {
            background: #fff url(img/clear.png) no-repeat right -26px center;
            transition: background 0.2s;
            padding-right: 30px;
        }

        input[type="text"] {
            background: #fff url(img/clear.png) no-repeat right -26px center;
            transition: background 0.2s;
            padding-right: 30px;
        }

            input[type="text"].x {
                background-position: right 5px center;
            }

            input[type="text"].onX {
                cursor: pointer;
            }


            input[type="text"].form-control {
                background: #fff url(img/clear.png) no-repeat right -26px center;
                transition: background 0.2s;
                padding-right: 30px;
            }

                input[type="text"].form-control.x {
                    background-position: right 5px center;
                }

        input[type="number"].form-control.x {
            background-position: right 5px center;
        }

        input[type="number"] .form-control.onX {
            cursor: pointer;
        }

        input[type="text"].form-control.onX {
            cursor: pointer;
        }

        input[type="text"].form-control::-ms-clear {
            display: none;
            width: 0;
            height: 0;
        }

        input[type="number"] .form-control::-ms-clear {
            display: none;
            width: 0;
            height: 0;
        }

        /*.testp {
            visibility: hidden;
            font-size: 0px;
        }

            .testp::first-letter {
                visibility: visible;
                line-height: 50px;
                text-align: center;
                color: #fff;
                font-size: 15px;

            }*/

        #filtermodal .operator {
            z-index: 1001 !important;
        }

        .restricted {
            color: brown !important;
            background-color: pink !important;
        }

        .overflowtext {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-inline-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            word-break: break-all;
            height: 40px;
            margin-bottom: 0;
        }

        .Celldata {
            word-break: break-all;
            width: 100%;
        }

        [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x- ng-cloak {
            display: none !important;
        }

        .side-nav {
            z-index: 1500;
        }


        .input-group {
            width: 100%;
        }

        .sidebar-nav li a.active {
            background: #0083C7;
            color: #fff;
        }

        .newcartcounter {
            border-radius: 100%;
            background: #fff;
            color: #333;
            text-align: center;
            display: inline-block;
            width: 26px;
            height: 26px;
            line-height: 26px;
            margin-bottom: 3px;
            vertical-align: middle;
        }


        .select2-container {
            width: 100% !important;
        }


        .navbar-inverse {
            background-color: #128ece !important;
        }

        #list321 img {
            position: absolute;
        }





        label {
            font-size: 17px;
        }

        .page-header {
            margin-top: 22px;
            margin-bottom: 0px;
            padding-bottom: 0px;
            color: #fff;
            border-bottom: transparent;
        }

        .drag-target {
            display: none;
        }

        h3 {
            font-size: 20px;
        }


        .topheader {
            width: 100%;
            position: fixed;
            left: 0px;
            right: 0px;
            font-size: 24px;
            color: #fff;
            background: #0083C7;
            z-index: 100;
        }

            .topheader .col-xs-6 {
                text-align: center;
            }

            .topheader a {
                color: #fff !important;
                border: transparent;
                padding-left: 0px;
            }

            .topheader i {
                font-size: 17px;
                margin-top: 7px;
            }




            .topheader .headerdropdown i {
                font-size: 15px;
            }

        .fa-arrow-circle-left {
            margin-top: 2px !important;
            font-size: 28px !important;
        }


        .btn-md {
            text-align: left;
        }

        .form-control {
            border-radius: 5px;
            min-width: 95%;
        }

        .maincontent {
            padding: 9px;
            background: #f2f2f2;
        }

        .scnbtn {
            border-radius: 0px;
        }

        .fileUpload {
            position: relative;
            overflow: hidden;
            height: 75px;
            width: 100px;
            text-align: center;
            padding-left: 5px !important;
            padding-right: 5px !important;
            margin-top: 0px !important;
        }

            .fileUpload input.upload {
                position: absolute;
                padding: 0;
                font-size: 20px;
                cursor: pointer;
                opacity: 0;
                filter: alpha(opacity=0);
            }

        .select2-container--default .select2-selection--single {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 4px;
            height: 50px;
        }

        .headerdropdown ul {
            margin-left: -110px;
        }


        .headerdropdown li a {
            color: #000 !important;
            font-size: 14px;
            padding: 12px;
            padding-top: 7px;
            padding-bottom: 7px;
            border-bottom: 1px solid #ccc;
        }

        .headerdropdown img {
            height: 38px;
            width: 38px;
            border-radius: 100%;
            border: 2px solid #e5e5e5;
            margin-top: 2px;
        }



        .container {
            padding-left: 8px;
            padding-right: 8px;
        }

        .nointernet {
            width: 100%;
            color: #8a6d3b;
            background-color: #fcf8e3;
            border: #fcf8e3;
            position: absolute;
            top: 0px;
            z-index: 1000;
            display: none;
            padding-top: 0px;
        }

        .removeImage {
            padding: 7px;
            padding-top: 0px;
            margin-top: -77px;
            margin-left: -29px;
            border-radius: 100%;
            height: 30px;
            width: 30px;
            line-height: 30px;
        }

        .swiper-wrapper {
            height: auto !important;
            display: inline-block;
        }




        .scanbtn {
            width: 100%;
        }

        .primary-color:hover {
            color: #fff !important;
        }


        .swiper-container table {
            width: 100%;
        }


            .swiper-container table .btn {
                width: auto;
            }


        .iteminfo {
            margin-bottom: 10px;
            padding: 5px;
            box-shadow: 0 1px 11px rgba(0,0,0,.27);
            font-size: 13px;
            margin-top: 17px;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 99%;
            background: white;
            min-height: 120px;
        }

            .iteminfo span {
                color: #716D6D;
                font-size: 15px;
                display: block;
            }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            top: 12px;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 45px;
        }

        .wellNew {
            background-color: pink;
            padding: 8px;
            margin-top: 10px;
            font-size: 13px;
            margin-bottom: 10px;
            font-family: Verdana;
        }

            .wellNew span {
                font-size: 17px;
                color: #6683DA;
                cursor: pointer;
            }


        .bootstrap-switch-primary {
            background: #0083C7 !important;
        }

        .activitylist .bottomlink {
            width: 155px;
            float: right;
        }


        .contentsection {
            padding-bottom: 45px;
        }
   
   
        #itemlistmodal {
            background: rgba(255,255,255,0.9);
            background-color: rgba(255,255,255,0.9);
        }

        #locationlistmodal {
            background: rgba(255,255,255,0.9);
            background-color: rgba(255,255,255,0.9);
        }
   
   
        #mysmallModalSave {
            top: 30%;
            overflow: hidden;
            position: fixed;
            z-index: 1050;
            display: none;
            text-align: center;
            padding: 20px !important;
            width: 100%;
        }

        #mysmallModalWaiting {
            bottom: 0;
            overflow: hidden;
            position: fixed;
            z-index: 1050;
            display: none;
            text-align: center;
            width: 100%;
            left: 0;
            right: 0;
            font-size: 14px;
        }

        #mysmallModal {
            top: 30%;
            overflow: hidden;
            position: fixed;
            z-index: 1050;
            display: none;
            text-align: center;
            padding: 20px !important;
            width: 100%;
        }

        #myloginModal {
            top: 30%;
            overflow: hidden;
            position: fixed;
            z-index: 1050;
            display: none;
            text-align: center;
            padding: 20px !important;
            width: 100%;
        }


        .errorcontent {
            background: rgba(52, 73, 94,0.8);
            padding: 10px;
            margin: 0 auto;
            width: 160px;
            z-index: 1050;
            text-align: center;
        }

        .waitingContent {
            background: rgba(71, 79, 88, 0.8);
            padding: 10px;
            margin: 0 auto;
            z-index: 1050;
            text-align: center;
        }

        .bgColorTransparent {
            background-color: transparent !important;
        }

        .bluearea {
            min-height: 50px;
            padding-left: 42px;
            background: #0083C7;
            color: #fff;
            text-align: left;
            padding-bottom: 2px;
        }

        #viewdata {
            margin-top: 50px;
        }
   
   
        #menu-toggle {
            padding: 6px 12px;
            padding-left: 0px;
        }


        .modal-backdrop {
            background: #fff;
        }

        .rightsection {
            background: #1E1E1E !important;
        }

            .rightsection .p-10 {
                background: #1E1E1E !important;
                color: #fff;
            }

            .rightsection .no-child {
                color: #fff;
                padding-left: 0px;
            }

      



        #toolbar {
            text-align: center;
        }

        .tablink {
            background: #1E1E1E !important;
            opacity: 1 !important;
            color: #fff;
        }

        .fa-barcode {
            color: #2196F3 !important;
        }


        .onelinelabel {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            line-height: 18px;
            max-height: 16px;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }

        .top-menu {
            left: -114px;
            text-align: left;
        }


            .top-menu:before {
                position: absolute;
                top: -7px;
                right: 9px;
                display: inline-block;
                border-right: 7px solid transparent;
                border-bottom: 7px solid #ccc;
                border-left: 7px solid transparent;
                border-bottom-color: rgba(0, 0, 0, 0.2);
                content: '';
            }

            .top-menu:after {
                position: absolute;
                top: -6px;
                right: 10px;
                display: inline-block;
                border-right: 6px solid transparent;
                border-bottom: 6px solid #ffffff;
                border-left: 6px solid transparent;
                content: '';
            }

            .top-menu i {
                line-height: initial !important;
                color: #333 !important;
                font-size: 15px !important;
            }
   

   
        .input-group-addon {
            background: #fff;
            border: transparent;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 5px;
            padding-right: 5px;
        }


            .input-group-addon i {
                color: #fff !important;
                background: #2196F3;
                padding: 12px;
                font-size: 14px !important;
                border-radius: 100%;
                cursor: pointer;
            }

            .input-group-addon .fa-barcode {
                padding-left: 10px;
                padding-right: 13px;
            }

        .add-clear-x {
            font-size: 25px;
            padding-top: 3px;
        }

        #filtermodal .add-clear-x {
            z-index:1000 !important;
        }
   