
.bknext
{
        padding-left: 4px;
    padding-right: 6px;
}

    .navbar-toggle {
        display: block !important;
    }

    body {
        background: #f1f1f1;
     
    }


    html, body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
   
}


   .swiper-slide {
    height: auto !important;
    min-height:100px;
    max-height:120px;
    padding-top:8px;
}

    #myModal1 {
        position: fixed;
        right: 13px;
        font-size: 18px;
        text-align: right;
        bottom: 125px;
        display: none;
        background: transparent;
        overflow: hidden;
    }

        #myModal1 span {
            font-size: 14px;
            background: #fff;
            padding: 3px;
            box-shadow: 0 2px 10px rgba(0,0,0,.2);
            margin-right: 7px;
        }


        #myModal1 .modal-body {
            background: transparent;
        }

    .Addbtn {
        position: fixed;
        bottom: 75px;
        right: 20px;
        z-index: 13000;
        color: #128ece !important;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        text-align: center;
        line-height: 50px;
    }

    #selectAction {
        position: fixed;
        bottom: 120px;
        right: 25px;
    }

        #selectAction li {
            list-style-type: none;
        }



        #selectAction .btn {
            height: 40px;
            width: 40px;
            padding: 0px;
            border-radius: 100%;
            text-align: center;
            line-height: 38px;
            border: transparent;
            margin-bottom: 5px;
        }

    .btn-block {
        height: 45px;
        padding-left: 16px;
    }

    .container {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    #myModalforlist {
        top: 25%;
        overflow: hidden;
        width: 95%;
        margin: 0 auto;
    }

        #myModalforlist ul {
            padding: 0px;
            margin-bottom: 0px;
        }

            #myModalforlist ul li {
                padding: 14px;
                border-bottom: 1px solid #ccc;
                background: #fff;
                list-style-type: none;
            }

                #myModalforlist ul li a {
                    padding-left: 20px;
                    display: block;
                    width: 100%;
                    text-decoration: none !important;
                    background: #fff;
                    color: #000;
                }


    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border: 1px solid #ccc;
        height: 50px !important;
    }

    .select2-container--default .select2-selection--multiple {
        border-radius: 0px !important;
        height: 50px;
    }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            background-color: transparent;
            border: transparent;
            border-radius: 4px;
            cursor: default;
            float: left;
            margin-right: 5px;
            margin-top: 10px;
            padding: 0 5px;
            /* font-size: 15px; */
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
            cursor: pointer;
            display: inline-block;
            font-weight: bold;
            position: absolute;
            margin-right: 2px;
            font-size: 20px;
            top: 1px;
            right: -1px;
            padding: 10px;
            background: brown;
            padding-left: 15px;
            color: #fff !important;
            padding-right: 15px;
        }

    #itemlistmodal {
        background: #fff;
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        top: 0;
        bottom: 0;
        overflow: hidden;
    }

        #itemlistmodal .modal-header {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 7px;
        }

        #itemlistmodal .modal-body {
            overflow: auto;
            min-height: 250px;
            max-height: 500px;
            padding: 7px;
        }

        #itemlistmodal .modal-header .close {
            margin-top: 6px;
            opacity: 1;
            padding-left: 25px;
        }

    .searchresultlist {
        padding-left: 0px;
        border: 1px solid #eaeaea;
    }


        .searchresultlist li a {
            color: #000;
            padding-left: 10px;
            font-size: 16px;
            text-decoration: none;
        }

        .searchresultlist li {
            list-style-type: none;
            padding-top: 10px;
            padding-bottom: 10px;
            background: #fff;
        }

            .searchresultlist li:nth-child(odd) {
                background: #eeeeee;
            }

            .searchresultlist li a .fa-angle-right {
                position: absolute;
                right: 32px;
                font-size: 26px;
            }

    #locationlistmodal {
        background: #fff;
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        top: 0;
        bottom: 0;
        overflow: hidden;
    }

        #locationlistmodal .modal-header {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 7px;
        }

        #locationlistmodal .modal-body {
            overflow: auto;
            min-height: 250px;
            max-height: 500px;
            padding: 7px;
        }

        #locationlistmodal .modal-header .close {
            margin-top: 6px;
            opacity: 1;
            padding-left: 25px;
        }

    #uomlistmodal {
        background: #fff;
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        top: 0;
        bottom: 0;
        overflow: hidden;
    }

        #uomlistmodal .modal-header {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 7px;
        }

        #uomlistmodal .modal-body {
            overflow: auto;
            min-height: 250px;
            max-height: 500px;
            padding: 7px;
        }

        #uomlistmodal .modal-header .close {
            margin-top: 6px;
            opacity: 1;
            padding-left: 25px;
        }

    .swiper-container table .ibtn {
        border-radius: 100% !important;
        padding: 0px;
        height: 50px;
        width: 50px;
        line-height: 50px;
        text-align: center;
    }

    .swiper-container table .dbtn {
        border-radius: 100% !important;
        padding: 0px;
        height: 50px;
        width: 50px;
        line-height: 50px;
        text-align: center;
    }

    .maincontent
    {
        padding-top:0px;
        background:initial;
        background:#f1f1f1;
    }

    .redText{
        color:red !important;
    }


    #toolbar{
      
       
        position:fixed;
    }
    #toolbar i {
  
   
  
}

.open-left {
 
 
 
}



.iteminfo
{
    margin-top:8px;
    padding-top:8px;
    min-height:initial;
    padding-bottom:8px;
    display:block;
    min-height:95px;
}

#viewdata {
    margin-top: 45px;
}


.swiper-slide .form-group
{
    margin-bottom:0px;
}