


    .editsection .btn {
        border: none;
        height: 45px;
        text-align: center;
        width: 100%;
        border-radius: 0px;
        font-size: 19px;
        line-height: 17px;
    }

    .editsection .form-control {
        height: 47px;
        border-radius: 0px;
    }


    .maincontent label {
        color: #333;
    }


    #myModal2 {
        position: fixed;
        right: 13px;
        font-size: 18px;
        text-align: right;
        bottom: 125px;
        display: none;
        background: transparent;
        overflow: hidden;
    }

        #myModal2 span {
            font-size: 14px;
            background: #fff;
            padding: 3px;
            box-shadow: 0 2px 10px rgba(0,0,0,.2);
            margin-right: 7px;
        }


        #myModal2 .modal-body {
            background: transparent;
        }


    .Addbtn {
        position: fixed;
        bottom: 23px;
        right: 13px;
        background: #f44336 !important;
        z-index: 13000;
        color: #fff !important;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        text-align: center;
        line-height: 50px;
    }

        .Addbtn .fa {
            font-size: 24px;
            margin-top: 13px;
            color: #fff !important;
        }

    #selectAction {
        position: fixed;
        bottom: 110px;
        right: 25px;
    }



        #selectAction li {
            list-style-type: none;
        }


            #selectAction li span {
                color: #000;
            }




        #selectAction .btn {
            height: 36px;
            width: 36px;
            padding: 0px;
            border-radius: 100%;
            text-align: center;
            line-height: 35px;
            border: transparent;
            margin-bottom: 5px;
            color: #fff;
        }

    .bgm-red {
        background: #f44336;
    }




    .container {
        width: 100% !important;
        padding-left: 0px;
        padding-right: 0px;
    }


    body {
        background: #fff;
        font-family: Verdana;
        text-align: center;
        overflow-x: hidden;
    }
    .imagesection i {
        font-size: 35px;
    }

    .imagesection {
        text-align: center;
        background: #eee;
    }

        .imagesection img {
            margin-top: 5px;
            margin-bottom: 5px;
        }
