  .container
    {
        width:100%;
    }

    .btn-large
    {
        text-align:center;
        height:auto;
        margin-top:8px;
        padding-left:12px;
        padding-right:12px;
    }


        .btn-large p {
           
            margin: 0 0 10px;
            text-transform: capitalize;
            margin-top:-5px;
            margin-bottom:8px;
        }

    .btn-large h4
    {
        font-size:50px;
        text-align:right;
    }

    body
    {
        background:#eaeaea;
        overflow-x:hidden !important;
    }

    .list
    {
        padding-left:0px;
        margin-left:0px;
    }

    .list-group-item {
        list-style-type: none;
        padding:15px !important;
        min-height:65px;
    }

    .list-group-item a {
      font-size:14px;
    }

        .list li a{
            padding:10px;
            font-size:20px;
            color:#000;
            background:#fff;
            border-bottom:1px solid #ccc;
        }

    .form-group label span {
        color: red;
    }

    .btn-large:disabled {
        color: #fff !important;
        opacity: 0.7 !important;
    }

    .list-group .btn-warning {
        border-radius: 100% !important;
        margin-right: 5px;
    }

    .list-group .btn-danger {
        border-radius: 100% !important;
        margin-right: 5px;
    }

      .text.btn-success {
        height: 35px;
        width: 35px;
        line-height: 35px;
        padding: 0px;
        text-align: center;
    }

    .list-group-item {
        background-color: #e2e2e2;
    }

    .list-group-item {
        padding: 12px !important;
        border: transparent;
        border-bottom: 2px solid #d8d8d8;
        border-left: 3px solid #2196F3;
    }


        .list-group-item a {
            font-size: 17px;
        }

    .text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-inline-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        word-break: break-all;
        margin-bottom: 0;
        font-size: 17px;
        line-height:33px;
    }

    .left-border {
        border-left: 3px solid #FF4081;
    }

    .cd-top.cd-is-visible {
        visibility: visible;
        opacity: 0.7;
    }

    .cd-top {
        height: 47px;
        width: 47px;
        color: #fff !important;
        background: #b39a99;
        position: fixed;
        left: 25px;
        bottom: 25px;
        border-radius: 100%;
        z-index: 100;
        font-size: 25px;
        padding-left: 12px;
        padding-top: 4px;
        opacity: 1;
        visibility: hidden;
    }