

<link href="css/account.css" rel="stylesheet" />



<div style="text-align:center; margin-bottom:15px;">

    <img style="height:75px; width:75px;" src="img/u2.png" alt="Alternate Text" />
  
</div>

<div class="animated slideInDown maincontent">

    <p>My Accounts</p>
    <p style="color:#615a5a; font-size:13px;">Click on account you want to enter</p>

    <div ng-if="IsLoading==true" class="loaderanimation">
        <img src="img/loader.gif" alt="Alternate Text" />
    </div>

    <ul class="list-group">
        <li ng-repeat="_obj in AccountsList" class="list-group-item" ng-class="{'selected':CheckCurrentAccount(_obj.AccountName,_obj.AccountID)==true}">


            <div class="row">
                <div class="col-xs-3">
                    <div ng-class="{'accent-color': $index % 2 === 0 }" class="btn btn-warning"> {{$index+1}} </div>
                </div>

                <div ng-click="UpdateSecurityToken(_obj.AccountID,_obj.AccountName)" class="col-xs-7">
                    <h4>{{_obj.AccountName}} <small style="color:brown !important; font-size:11px !important;"> - {{_obj.CustomerType}}</small> </h4>
                    <p>{{_obj.FirstName}} {{_obj.LastName}}</p>
                    <p>{{_obj.Email}}</p>

                </div>

                <div class="col-xs-2" ng-click="UpdateSecurityToken(_obj.AccountID,_obj.AccountName)">
                    <a class="btn btn-next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>

        </li>
    </ul>
</div>


<a href="#" class="menubtn waves-effect btn-info">
    <i class="fa fa-sign-out"></i>
</a>

