

<link href="css/account.css" rel="stylesheet" />

<link rel="stylesheet" href="https://jquerycreditcardvalidator.com/css/demo.css">

<style>
    body {
        font-size: 15px;
        padding-top: 0;
        color: #000;
        opacity: 1;
        line-height: inherit;
        font-weight: inherit;
    }

    h4 {
        font-size: 18px;
        color: #000;
    }

    label {
        color: #000 !important;
    }

    input {
        color: #000 !important;
    }

    select {
        color: #000 !important;
    }

    .myform {
        position: relative;
        width: 100%;
    }

    form #card_number {
        width: 100%;
        height: 38px;
        background-size: 124px 364px,120px 361px;
    }

    #name_on_card {
        width: calc(100% - 30px);
    }

    .vertical li {
        float: left !important;
        width: 33%;
    }

        .vertical li:last-child input {
            float: left;
        }

    .vertical input {
        width: 100%;
    }

    .vertical li input, select {
        border-radius: 0 !important;
    }

    p {
        color: #000;
        margin-bottom: 13px;
    }

    b
    {
        font-weight:700 !important;
    }

    form
    {
        background:transparent;
        padding:0;
        box-shadow:none;
        border:none;
        color:#000;
        margin:0;
        position:relative;
        width:100%;
    }

        form input
        {
            box-sizing:inherit;
        }

    .card-header
    {
        color:#000;
    }
</style>



<script type="text/javascript" src="https://jquerycreditcardvalidator.com/js/demo.js"></script>

<style>
    .nodata {
        text-align: center;
        padding: 15px;
    }

        .nodata i {
            position: initial !important;
            top: 0 !important;
            font-size: 30px !important;
            color: #ccc !important;
        }

        .nodata p {
            font-family: cursive;
        }
    .btn-next {
        height: 50px;
        width: 50px;
        border-radius: 100%;
        text-align: center;
        line-height: 50px;
        padding: 0;
        color: #333;
        background: #f2f2f2;
        float: right;
        border: 1px solid #ccc;
    }

        .btn-next i {
            color: #888;
        }

    .list-group {
        min-height: 40px;
    }


    .list-group-item:nth-child(even) {
        background: #f5f5f5;
    }

    .list-group-item:nth-child(odd) {
        background: #FFF;
    }

    body {
        background: #edecec;
    }

    .bottommenu {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        text-align: center;
        background: #ccc;
        color: #333;
        padding-top: 7px;
        padding-bottom: 7px;
    }

        .bottommenu i {
            display: block;
            font-size: 20px;
        }

        .bottommenu a:hover {
            color: #fff;
        }

    .listbtn a {
        color: #069;
    }

    .card
    {
        padding:0;
        margin:0;
        margin-bottom:12px;
    }

    .card-header
    {
        background-color:#f5f5f5;
        padding:12px;
        font-size:16px;
    }

    .card-body
    {
        padding:12px;
    }

     .card-body p
    {
        font-size:13px;
    }

        .card-body .editicon {
            position: absolute;
            right: 17px;
            top: 74px;
            font-size: 14px;
            background: #2196F3;
            color: #fff;
            padding: 0;
            height: 40px;
            border-radius: 100%;
            width: 40px;
            text-align: center;
            line-height: 40px;
        }

    .card-body .editicon i
    {
        font-size:20px;
    }
</style>


<style>
       .redColor {
           color: red;
       }

       .accordion {
           width: 100%;
           margin: 30px auto 20px;
           background: #FFF;
           -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
           border-radius: 4px;
       }

           .accordion .link {
               cursor: pointer;
               display: block;
               padding: 15px 15px 15px 42px;
               color: #069;
               font-size: 14px;
               font-weight: 700;
               border-bottom: 1px solid #CCC;
               position: relative;
               -webkit-transition: all 0.4s ease;
               -o-transition: all 0.4s ease;
               transition: all 0.4s ease;
               background: #f2f2f2;
           }

           .accordion li:last-child .link {
               border-bottom: 0;
           }

           .accordion li i {
               position: absolute;
               top: 16px;
               left: 12px;
               font-size: 18px;
               color: #595959;
               -webkit-transition: all 0.4s ease;
               -o-transition: all 0.4s ease;
               transition: all 0.4s ease;
           }

               .accordion li i.fa-chevron-down {
                   right: 12px;
                   left: auto;
                   font-size: 16px;
               }

           .accordion li.open .link {
               color: #fff;
               background: #2196F3;
           }

           .accordion li.open i {
               color: #fff;
           }

               .accordion li.open i.fa-chevron-down {
                   -webkit-transform: rotate(180deg);
                   -ms-transform: rotate(180deg);
                   -o-transform: rotate(180deg);
                   transform: rotate(180deg);
               }

           .accordion li.default .submenu {
               display: block;
           }
       /**
    * Submenu
    -----------------------------*/
       .submenu {
           display: none;
           font-size: 14px;
       }

           .submenu li {
               border-bottom: 1px solid #4b4a5e;
           }

           .submenu a {
               display: block;
               text-decoration: none;
               color: #d9d9d9;
               padding: 12px;
               padding-left: 42px;
               -webkit-transition: all 0.25s ease;
               -o-transition: all 0.25s ease;
               transition: all 0.25s ease;
           }

               .submenu a:hover {
                   background: #b63b4d;
                   color: #FFF;
               }

       .loaderanimation {
           text-align: center;
           position: fixed;
           top: 22%;
           z-index: 10;
           width: 100%;
           left: 0;
       }

       .table-bordered thead {
           background: #d2d2d2;
       }

       .table-bordered {
           margin-bottom: 0;
       }
</style>

<div style="display:block !important; text-align:left; padding-left:15px;" id="toolbar" class="primary-color">

    <span class="title"> <i class="fa fa-credit-card"></i> Billing Information</span>

    <a style="padding-right:15px;" class="pull-right" href="#">
        <i style="font-size:28px;" class="fa fa-sign-out"></i>
    </a>


</div>

<br />


<div ng-if="IsLoading==true" class="loaderanimation">
    <img src="img/loader.gif" alt="Alternate Text" />
    <p>Loading data....</p>
</div>

<div ng-show="IsLoading==false">
    <div ng-show="ShowInvoicedetails==false">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-user"></i> Customer Information
            </div>
            <div class="card-body">


                <div ng-if="CustomerEdit==false">
                    <a class="editicon" ng-click="ToggleCustomerEdit()"> <i class="fa fa-pencil"></i> </a>

                    <p><b>{{BillingData.MasterAccountID}}</b></p>
                    <p>{{BillingData.Description}}</p>
                    <p>{{BillingData.Email}}</p>


                </div>
                <div ng-if="CustomerEdit==true">

                    <form name="signup" id="signup">

                        <div class="form-group">
                            <label>Name</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="cardholder-name" required="required" name="Name" ng-model="CustomerObj.Name" />
                                <span class="redColor" ng-if="signup.$submitted && signup.Name.$valid==false && signup.Name.$error.required">
                                    Name is required.
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            <div class="input-group">
                                <input type="email" class="form-control" id="email" name="Email" required="required" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-model="CustomerObj.Email" />
                                <span class="redColor" ng-if="signup.$submitted && signup.Email.$valid==false && signup.Email.$error.required">
                                    Email is required.
                                </span>
                                <span class="redColor" ng-if="signup.$submitted && signup.Email.$error.pattern">
                                    Please fill correct email.
                                </span>

                            </div>
                        </div>

                        <div style="margin-bottom:10px;">
                            <button type="button" class="btn btn-primary" id="signUpBtn" data-ng-click="signup.$submitted=true;signup.$valid && UpdateCustomerDetail()" title="save credit card information"><i class="fa fa-check c-white" ng-class="{'fa-spin':IsSaving==true}"></i>Save</button>
                            <a ng-click="ToggleCustomerEdit()" class="btn btn-gray" title="go back"><i class="fa fa-times"></i>Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-header">
                <i class="fa fa-credit-card"></i> Credit card Information
            </div>
            <div ng-show="CreditcardEdit==false" ng-repeat="obj in BillingData.Cards" class="card-body">

                <a ng-click="ToggleCreditcardEdit()" class="editicon"> <i class="fa fa-pencil"></i> </a>

                <p>Credit card : <b>{{obj.Brand}} {{obj.Last4}}</b></p>
                <p>Expr date : <b>{{obj.ExpMonth}}/{{obj.ExpYear}}</b></p>
                <p>Name on card : <b>{{obj.CardName}}</b></p>

            </div>

            <div ng-show="CreditcardEdit==true" class="card-body">

                <form class="myform">
               
                    <ul>

                        <li>
                            <label for="card_number">Name on card</label>
                            <input ng-model="creditcardinfo.Name" type="text" class="form-control"  placeholder="My Name">
                            <input type="hidden" id="stripe-token" value="">

                        </li>


                        <li>
                            <label for="card_number">Card number</label>
                            <input ng-model="creditcardinfo.Number"  type="text" onkeypress="if(this.value.length==16) return false;" name="card_number" id="card_number" placeholder="1234 5678 9012 3456">

                        </li>

                        <li class="vertical">
                            <ul>
                                <li>
                                    <label for="expiry_date">Exp Month</label>
                                    <select ng-model="creditcardinfo.ExpMonth" class="form-control">
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>

                                </li>

                                <li>
                                    <label for="expiry_date">Exp Yr</label>
                                    <select ng-model="creditcardinfo.ExpYear" id="year1" class="form-control"></select>

                                </li>

                                <li>
                                    <label for="cvv">CVV</label>
                                    <input ng-model="creditcardinfo.CVV" onkeypress="if(this.value.length==3) return false;" class="form-control" style="text-align:center;padding:0; " type="number" name="cvv" id="cvvnumber" maxlength="3" placeholder="123">
                                </li>
                            </ul>
                        </li>


                        <li>
                            <label>Postal Code</label>
                            <input id="PostalCode" style="padding-top:0;padding-bottom:0;padding-right:0;" onkeypress="if(this.value.length==5) return false;" type="number" class="form-control" ng-model="creditcardinfo.PostalCode" placeholder="43210">
                        </li>




                    </ul>


                </form>

                <div style="margin-bottom:10px;">
                    <button type="button" ng-if="IsSaving==false" ng-click="savecreditcardinfo();" class="btn btn-primary {{GetDisabledClass()}}" title="save credit card information"><i class="fa fa-check c-white"></i>Save</button>
                    <button type="button" ng-if="IsSaving==true" class="btn btn-primary disabled" title="save credit card information"><i class="fa fa-check fa-spin"></i>Save</button>
                    <a ng-click="ToggleCreditcardEdit()" class="btn btn-gray" title="go back"><i class="fa fa-times"></i>Cancel</a>
                </div>
            </div>

        </div>








        <!-- Contenedor -->
        <ul id="accordion" class="accordion">

            <li class="default open">
                <div class="link"><i class="fa fa-file-pdf-o"></i>Current Subscription <i class="fa fa-chevron-down"></i></div>
                <div class="submenu">
                    <table ng-show="BillingData.Subscriptions.length>0" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>QTY x Price</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in BillingData.Subscriptions">
                                <td>
                                    {{data.Item}}
                                </td>
                                <td >
                                    {{data.Quantity}} x  {{data.UnitPrice}}
                                </td>
                                <td ng-bind="{{data.Quantity*data.UnitPrice | number:2}}"></td>
                            </tr>
                            <tr><td style="text-align:right;" colspan="2">Subscription Amount</td><td>${{CurrentSubscriptionTotal}}</td></tr>
                        </tbody>

                    </table>

                    <div class="nodata" ng-show="BillingData.Subscriptions.length==0">
                        <p><i class="fa fa-frown-o" aria-hidden="true"></i></p>
                        <p>No subscription record !</p>
                    </div>

                </div>
            </li>
            <li>
                <div class="link"><i class="fa fa-file-text-o"></i>Next Invoice will be on 6/26/2018 <i class="fa fa-chevron-down"></i></div>
                <div class="submenu">
                    <table ng-show="BillingData.UpComingInvoices.length>0" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Description (Period: {{StartDate}} to {{EndDate}})</th>

                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in BillingData.UpComingInvoices">
                                <td>
                                    {{data.Description}}
                                </td>

                                <td>
                                    {{data.Amount/100}}
                                </td>
                            </tr>
                            <tr style=""><td style="text-align:right;">Estimated Amount</td><td>${{UpcomingSubscriptionTotal}}</td></tr>
                        </tbody>

                    </table>

                    <div class="nodata" ng-show="BillingData.UpComingInvoices.length==0">
                        <p><i class="fa fa-frown-o" aria-hidden="true"></i></p>
                        <p>No Invoice record !</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="link"><i class="fa fa-history"></i>Past Invoices <i class="fa fa-chevron-down"></i></div>
                <div class="submenu">
                    <table ng-show="BillingData.PreviousInvoices.length>0" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Invoice</th>
                                <th>Date</th>
                                <th>Amount</th>

                                <th>Ispaid</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="prev in BillingData.PreviousInvoices">
                                <td>
                                    <a style="color:#069 !important; padding:7px !important; background:#fff;" ng-click="getInvoiceDetails(prev.InvoiceID)">{{prev.InvoiceNumber}}</a>
                                </td>
                                <td>
                                    {{prev.InvoiceDate}}
                                </td>
                                <td>
                                    ${{prev.InvoiceTotal/100}}
                                </td>

                                <td>

                                    <span ng-if="prev.InvoicePaid==true"> <i class="fa fa-check-square-o"></i> yes</span>
                                    <span ng-if="prev.InvoicePaid==false"> <i class="fa fa-square-o"></i> No</span>


                                </td>
                            </tr>
                        </tbody>

                    </table>

                    <div class="nodata" ng-show="BillingData.PreviousInvoices.length==0">
                        <p><i class="fa fa-frown-o" aria-hidden="true"></i></p>
                        <p>No Invoice record !</p>
                    </div>
                </div>
            </li>

        </ul>


        <div class="row">
            <div class="col-md-12">
                <br /><br />
            </div>
        </div>



    </div>

</div>
<div ng-show="ShowInvoicedetails==true">

    <div class="card">
        <div class="card-header">
            <i class="fa fa-info-circle"></i> Invoice Details <a style="color:#069;" ng-click="ShowInvoicedetails=false" class="pull-right">Back</a>
        </div>
        <div class="card-body">

            <p><b>{{InvoiceDetails.CustomerDescription}}</b></p>
            <p>{{InvoiceDetails.InvoiceDate}}</p>
            <p>{{InvoiceDetails.Email}}</p>

            <p>{{InvoiceDetails.Number}}</p>

        </div>
    </div>


    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Description (Period: {{StartInvoiceDate}} to {{EndInvoiceDate}})</th>

                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in InvoiceDetails.Invoices">
                <td>
                    {{data.Description}}
                </td>

                <td>
                    {{data.Amount}}
                </td>
            </tr>
            <tr style=""><td style="text-align:right;">Total</td><td>${{InvoiceDetails.InvoicesTotal}}</td></tr>
        </tbody>

    </table>

</div>

<div>
    <br /><br /><br />
</div>

<div class="bottommenu">
    <div class="row">
        <div style="border-right: 1px solid #888; " class="col-xs-6">

            <a style="color: #000;" href="#/Accounts"><i class="fa fa-cubes"></i>Inventories</a>
        </div>
        <div style="color: #2196F3;" class="col-xs-6">

            <a href="#/Billings"><i class="fa fa-credit-card"></i>Billing Info</a>
        </div>
    </div>

</div>


<script>
    $(function () {
        var Accordion = function (el, multiple) {
            this.el = el || {};
            this.multiple = multiple || false;

            // Variables privadas
            var links = this.el.find('.link');
            // Evento
            links.on('click', { el: this.el, multiple: this.multiple }, this.dropdown)
        }

        Accordion.prototype.dropdown = function (e) {
            var $el = e.data.el;
            $this = $(this),
			$next = $this.next();

            $next.slideToggle();
            $this.parent().toggleClass('open');

            if (!e.data.multiple) {
                $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
            };
        }

        var accordion = new Accordion($('#accordion'), false);
    });

</script>

<script>
    $(document).ready(function () {

        var d = new Date();
        var n = d.getFullYear();
        var year = n + 1;
        for (i = 0; i < 25; i++) {
            $("#year1").get(0).options[$("#year1").get(0).options.length] = new Option(year, year);
            year = year + 1;
        }
    });
</script>