


<link href="css/settingmenu.css" rel="stylesheet" />
<style>
    .text.btn-success {
        height: 35px;
        width: 35px;
        line-height: 35px;
        border-radius: 100%;
        padding: 0px;
        text-align: center;
    }

    .list-group-item {
        background-color: #e2e2e2;
    }

    .list-group-item {
        padding: 12px !important;
        border: transparent;
        border-bottom: 2px solid #d8d8d8;
        border-left: 3px solid #2196F3;
    }


        .list-group-item a {
            font-size: 17px;
        }

    .text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-inline-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        word-break: break-all;
        margin-bottom: 0;
        font-size: 17px;
        line-height: 33px;
    }

    .left-border {
        border-left: 3px solid #FF4081;
    }

    .c-widget-figure {
        margin-right: 20px;
        width: 32px;
        min-width: 32px;
        height: 32px;
        color: #fff;
        border-radius: 50%;
        line-height: 34px;
        text-align: center;
    }

    .c-widget i {
        font-size:17px;
    }

    .c-widget {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    p {
        font-size:14px;
    }
</style>
<div class="title-header">

    <div class="row">

        <div class="col-xs-12">
            <h4 class="titletext">Contact Us </h4>
        </div>
    </div>
</div>

<a href="#/Accounts" class="newbackbtn"> <i class="fa fa-arrow-left"></i> </a>



<div class="top50">

    <div class="well">

        <div class="c-widget">
            <div class="c-widget-figure primary-color">
                <i class="fa fa-map-marker"></i>
            </div>
            <div class="c-widget-body">
                <p class="m-0 ng-binding" style="color:black;"> 662 E. Elliott Ave Saint Louis, MO 63122 </p>
          

            </div>
        </div>

        <div class="c-widget">
            <div class="c-widget-figure primary-color">
                <i class="fa fa-envelope"></i>
            </div>
            <div class="c-widget-body">
                <p class="m-0 ng-binding" style="color:black;">support@clearlyinventory.com </p>


            </div>
        </div>

        <div class="c-widget">
            <div class="c-widget-figure primary-color">
                <i class="fa fa-phone"></i>
            </div>
            <div class="c-widget-body">
                <p class="m-0 ng-binding" style="color:black;">800-300-0160</p>


            </div>
        </div>

        <div class="c-widget">
            <div class="c-widget-figure primary-color">
                <i class="fa fa-phone"></i>
            </div>
            <div class="c-widget-body">
                <p class="m-0 ng-binding" style="color:black;">+1 (1) 314-488-2728 outside the USA</p>


            </div>
        </div>

     

</div>

   

    </div>








