

<link href="css/account.css" rel="stylesheet" />


<link rel="stylesheet" href="https://jquerycreditcardvalidator.com/css/demo.css">

<style>
  body
  {
      font-size:15px;
      padding-top:0;
      color:#000;
      opacity:1;
      line-height:inherit;
      font-weight:inherit;
  }
  h4
  {
      font-size:18px;
      color:#000;

  }

  label
  {
      color:#000 !important;
  }

  input 
  {
      color:#000 !important;
  }

  select
  {
      color:#000 !important;
  }

</style>



<script type="text/javascript" src="https://jquerycreditcardvalidator.com/js/demo.js"></script>

<style>


    .btn-next {
        height: 50px;
        width: 50px;
        border-radius: 100%;
        text-align: center;
        line-height: 50px;
        padding: 0;
        color: #333;
        background: #f2f2f2;
        float: right;
        border: 1px solid #ccc;
    }

        .btn-next i {
            color: #888;
        }

    .list-group {
        min-height: 40px;
    }


    .list-group-item:nth-child(even) {
        background: #f5f5f5;
    }

    .list-group-item:nth-child(odd) {
        background: #FFF;
    }

    body {
        background: #fff;
    }

    .bottommenu {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        text-align: center;
        background: #ccc;
        color: #333;
        padding-top: 7px;
        padding-bottom: 7px;
    }

        .bottommenu i {
            display: block;
            font-size: 20px;
        }

        .bottommenu a:hover {
            color: #fff;
        }

    .listbtn a {
        color: #069;
    }

    .btn-xs {
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }

    .panel-heading .accordion-toggle:after {
        /* symbol for "opening" panels */
        font-family: 'FontAwesome'; /* essential for enabling glyphicon */
        content: "\f107"; /* adjust as needed, taken from bootstrap.css */
        float: right; /* adjust as needed */
        color: white; /* adjust as needed */
    }

    .panel-heading .accordion-toggle.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "\f105"; /* adjust as needed, taken from bootstrap.css */
    }

   #newcardelement iframe {
        z-index: 999999 !important;
    }

    .myform
    {
        position:relative;
        width:100%;
    }

    form #card_number
    {
        width:calc(100% - 86px);
    }

    #name_on_card {
        width: calc(100% - 30px);
    }

    .vertical li {
        float: left !important;
        width:33%
    }

        .vertical li:last-child input {
           float:left;
        }

    .vertical input {
      width:100%;
    }

    .vertical li input, select
    {
        border-radius:0 !important;
    }
</style>
<div style="display:block !important; text-align:left; padding-left:15px;" id="toolbar" class="primary-color">

    <span class="title"> <i class="fa fa-cogs"></i> Manage Billing</span>

    <a style="padding-right:15px;" class="pull-right" href="#">
        <i style="font-size:28px;" class="fa fa-sign-out"></i>
    </a>


</div>
<div ng-show="IsLoading==true" class="loaderanimation">
    <img src="img/loader.gif" alt="Alternate Text" />
</div>

<br />


<b>     Estimated Amount<br /> (based on current usage)</b>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Item</td>
            <td class="text-right">QTY</td>
            <td class="text-right">Amount</td>
            <td class="text-right">Extended</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Standard Inventory</td>
            <td class="text-right">1</td>
            <td class="text-right">$39.99</td>
            <td class="text-right">$39.99</td>
        </tr>
       
        <tr ng-if="CreditCard.UserCount>2">
            <td>Included Users</td>
            <td class="text-right">2</td>
            <td class="text-right">0</td>
            <td class="text-right">0</td>
        </tr>
        <tr ng-if="CreditCard.UserCount>2">
            <td>Additional Users</td>
            <td class="text-right">{{ CreditCard.UserCount - includedUserCount}}</td>
            <td class="text-right">$4.99</td>
            <td class="text-right">${{ (CreditCard.UserCount - includedUserCount) * 4.99}}</td>
        </tr>
      
        <tr ng-if="CreditCard.UserCount<=2">
            <td>Included Users</td>
            <td class="text-right">{{CreditCard.UserCount}}</td>
            <td class="text-right">0</td>
            <td class="text-right">0</td>
        </tr>
        
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td class="text-right"></td>
            <td class="text-right">Estimated Amount:</td>
            <td class="text-right"><strong>${{(CreditCard.UserCount - includedUserCount) * 4.99 + 39.99}}</strong></td>
        </tr>
    </tfoot>
</table>

<div class="form-group">
    <label>Email</label>
    <div class="input-group">
        <input type="text" class="form-control" ng-model="CreditCard.Email" />

        <input type="hidden" id="stripe-token" ng-model="CreditCard.StripeToken" value="">
       
    </div>
</div>

<div class="form-group">
    <label>Name</label>
    <div class="input-group">
        <input type="text" class="form-control" id="cardholder-name" ng-model="CreditCard.Name" />

    </div>
</div>
<form style="visibility:hidden" id="stripeForm">
    <div class="form-group">
        <label>Card info</label>
        <div class="input-group">
            <div id="newcardelement" class="form-control" style="padding-top:5px;"></div>
            <div id="card-error" style="color: #eb1c26;"></div>
        </div>
    </div>
    
   
</form>
<br />


<form class="myform">
    <h4>Payment details</h4>

    <ul>
        <li>
            <label for="card_number">Card number</label>
            <input ng-model="creditcardinfo.Number" type="text" onkeypress="if(this.value.length==16) return false;" name="card_number" id="card_number" placeholder="1234 5678 9012 3456">

         
        </li>

        <li class="vertical">
            <ul>
                <li>
                    <label for="expiry_date">Exp Month</label>
                    <select ng-model="creditcardinfo.ExpMonth" class="form-control">
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                  
                </li>

                <li>
                    <label for="expiry_date">Exp Yr</label>
                    <select ng-model="creditcardinfo.ExpYear" id="year1" class="form-control"></select>

                </li>

                <li>
                    <label for="cvv">CVV</label>
                    <input ng-model="creditcardinfo.CVV" onkeypress="if(this.value.length==3) return false;" class="form-control" style="text-align:center;padding:0; height:40px;" type="number" name="cvv" id="cvvnumber" maxlength="3" placeholder="123">
                </li>
            </ul>
        </li>


        <li>
            <label>Postal Code</label>
            <input id="PostalCode" style="padding-top:0;padding-bottom:0;padding-right:0; width:calc(100% - 12px);" onkeypress="if(this.value.length==5) return false;" type="number" class="form-control" ng-model="creditcardinfo.PostalCode" placeholder="43210">
        </li>

        

     
    </ul>


</form>

<div class="row">
    <div class="col-md-12">
        <br />
    </div>  
</div>

<!--<button ng-click="savecreditcardinfo();" style="width:100%" class="btn btn-primary"> <i class="fa fa-check"></i> Save data </button>-->  
<div style="margin-bottom:10px;">
    <button type="button" ng-if="IsSaving==false" ng-click="savecreditcardinfo();" class="btn btn-primary {{GetDisabledClass()}}" title="save credit card information"><i class="fa fa-check c-white"></i>Save</button>
    <button type="button" ng-if="IsSaving==true" class="btn btn-primary disabled" title="save credit card information"><i class="fa fa-check fa-spin"></i>Save</button>
    <a href="#/Billings" class="btn btn-gray" title="go back"><i class="fa fa-times"></i>Cancel</a>
</div>

<div class="row">
    <div class="col-md-12">
        <br /><br /><br /><br />
    </div>
</div>




<div class="bottommenu">
    <div class="row">
        <div  class="col-xs-6" style="border-right: 1px solid #888;">
          
            <a href="#/Accounts"><i class="fa fa-cubes"></i>Inventories</a>
        </div>
        <div class="col-xs-6">
          
            <a style="color: #2196F3;"><i class="fa fa-credit-card"></i>Billing Info</a>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {

        var d = new Date();
        var n = d.getFullYear();
        var year = n + 1;
        for (i = 0; i < 25; i++) {
            $("#year1").get(0).options[$("#year1").get(0).options.length] = new Option(year, year);
            year = year + 1;
        }
    });
</script>

