
<style>
    .container {
        width: 100%;
    }

    .btn-large {
        text-align: center;
        height: auto;
        padding-left: 12px;
        padding-right: 12px;
        margin-top: 8px;
    }


        .btn-large p {
            margin: 0 0 10px;
            text-transform: capitalize;
            margin-top: -5px;
            margin-bottom: 8px;
        }

        .btn-large h4 {
            font-size: 50px;
            text-align: right;
        }

    body {
        background: #eaeaea;
        overflow-x: hidden !important;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .list {
        padding-left: 0px;
        margin-left: 0px;
    }

    .list-group-item {
        list-style-type: none;
        padding: 7px !important;
        text-align: center;
        min-height: 72px;
    }

        .list-group-item a {
            font-size: 12px;
            font-family: Verdana;
            width: 100%;
        }

    .list li a {
        padding: 10px;
        font-size: 20px;
        color: #000;
        background: #fff;
        border-bottom: 1px solid #ccc;
    }

    .form-group label span {
        color: red;
    }

    .btn-large:disabled {
        color: #fff !important;
        opacity: 0.7 !important;
    }

    .operator {
        margin-left: -50px;
        max-height: 250px;
        overflow-y: auto;
        text-align: center;
    }


        .operator li {
            background: #fff;
        }


    li.disabled {
        background: #E2E2E2;
        text-decoration: line-through;
    }

    .operator li a {
        color: #000 !important;
    }

    .dropdown-toggle {
        padding-left: 13px;
        padding-right: 13px;
        height: 30px;
        line-height: 30px;
    }

    .text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-inline-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        word-break: break-all;
        margin-bottom: 0;
        font-size: 17px;
        line-height: 32px;
    }

  


    .onbtn {
        color: #fff;
        padding: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
        background: #0094ff;
    }


    .alert-info {
        background-color: #5bc0de;
        border-color: #3db5d8;
        color: #ffffff;
        height: 50px;
        margin-bottom: 5px;
    }

    .infoareas {
        padding-top: 10px;
        padding-bottom: 10px;
    }


    .Addbtn {
        position: fixed;
        bottom: 23px;
        right: 13px;
        z-index: 13000;
        color: #fff !important;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        text-align: center;
        line-height: 55px;
    }

    .save-btn {
        margin-bottom: 4px;
        width: 88px;
        height: 35px;
        line-height: 35px;
        text-transform: capitalize;
        border-radius: 18px;
    }

    .ordernumber {
        position: absolute;
        padding: 5px;
        background: #e99002;
        height: 25px;
        width: 25px;
        padding: 0px;
        font-size: 12px;
        border-radius: 100%;
        line-height: 25px;
        margin-top: -6px;
    }

    .custombtnGroup {
        float: right;
    }

    .vertical-text {
        -ms-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -ms-transform-origin: left top 0;
        -moz-transform-origin: left top 0;
        -webkit-transform-origin: left top 0;
        transform-origin: left top 0;
        color: #333;
        text-transform: uppercase;
        white-space: nowrap;
        position: fixed;
        left: 96%;
        top: 42%;
    }

    .myLinkToTop {
        position: fixed;
        top: 30%;
        right: 6px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        padding: 0px;
        text-align: center;
        border-radius: 100%;
        padding: 0px;
    }


    .myMenuLink {
        position: fixed;
        top: 20%;
        right: 6px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        padding: 0px;
        text-align: center;
        border-radius: 100%;
        padding: 0px;
    }

    .btn-primary.dropdown-toggle {
        opacity: 0.5;
    }

    .btn-success.dropdown-toggle {
        border-radius: 16px;
    }

    .btn-primary {
        background-color: #2196F3 !important;
        border: transparent !important;
        border-radius: 100%;
        font-size: 16px;
        height: 35px;
        line-height: 35px;
        float: right;
        border-radius: 18px;
        padding-left: 9px;
        padding-right: 9px;
    }

    .report-header {
        background-color: #2196F3;
        color: #fff;
        padding-bottom: 15px;
        position: fixed;
        width: 100%;
        z-index: 10;
    }

        .report-header h4, small {
            color: #fff !important;
        }

        .report-header h4 {
            padding-left: 50px;
        }

        .report-header small {
            font-size: 12px !important;
        }


    .container {
        padding: 0px;
    }

    #toolbar {
        box-shadow: none;
    }

    .roundbtn {
        height: 40px;
        width: 40px;
        border-radius: 100%;
        position: fixed;
        padding: 0px;
        margin-top: 44px;
        margin-left: 17px;
        line-height: 37px;
        z-index: 100;
        color: #fff;
        font-size: 25px;
    }

    .contentsection {
        padding-top: 85px;
        padding-left: 12px;
        padding-right:12px;
    }

        .contentsection .date {
            margin-left: 50px;
        }

    .btn-white {
        height: 40px;
        width: 40px;
        padding: 0px;
        border-radius: 40px;
        text-align: center;
        line-height: 40px;
    }

    .infoareas .row {
        padding: 10px;
        padding-left: 0px;
    }

    .infoareas .col-xs-10 {
        border-bottom: 1px solid #ccc;
    }

    .infoareas p {
        font-size: 12px;
    }

    .infoareas i {
        color: #069;
        margin-top: 7px;
    }

    .table > tbody > tr > td
    {
        white-space:normal !important;
    }
    code
    {
      color:#000;
      float:right;
    }

    body
    {
    overflow-x:hidden !important;
    }

    .contentsection {
        overflow-x: hidden !important;
    }
</style>

<div class="report-header">

    <div class="row">

        <div class="col-xs-12">
            <h4 class="text">{{CurrentView}} <small>Reports</small></h4>
        </div>


    </div>
</div>


<a ng-if="isviewload==false" class="waves-effect roundbtn btn btn-success">+ </a>

<a ng-if="isviewload==true" ng-click="showview()" class="waves-effect roundbtn btn btn-success"> <i class="fa fa-th-list"></i> </a>

<a style="right:20px;" ng-if="isviewload==true" ng-click="showfilter()" class="waves-effect roundbtn btn btn-warning"> <i class="fa fa-filter"></i> </a>

<div class="contentsection">
    

    <div ng-if="isviewload==false" class="infoareas">

        <div ng-repeat="_obj in InventoryViews" class=" row" ng-click="AssignCurrentView(_obj)">

            <div class="col-xs-2">
                <a class="btn btn-white">
                    {{$index+1}}
                </a>
            </div>

            <div ng-click="viewdetail(_obj.Name)" class="col-xs-10">

                <div style="padding-top:0px;" class="row">
                    <div class="col-xs-9">
                        <a class="text">{{_obj.Name}} </a>
                        <p>{{_obj.Description}}</p>
                    </div>
                    <div style="text-align:right;" class="col-xs-3">
                        <span>
                            <i class="fa fa-pencil"></i>
                        </span>
                    </div>
                </div>

            </div>

        </div>

    </div>


    <div ng-if="isviewload==true" class="table-responsive">
        <table class="table table-striped">

            <tbody>
                <tr>
                    <td><code class="w3-codespan">Item name</code></td>
                    <td>BLC23654</td>
                </tr>
                <tr>
                    <td><code class="w3-codespan">Item Description</code></td>
                    <td>Indicates a successful or positive action Indicates a successful or positive actionIndicates a successful or positive action</td>
                </tr>
                <tr>
                    <td><code class="w3-codespan">Quantity</code></td>
                    <td>180</td>
                </tr>
                <tr>
                    <td><code class="w3-codespan">Unit of measure</code></td>
                    <td>Active</td>
                </tr>
                <tr>
                    <td><code class="w3-codespan">Status</code></td>
                    <td>Indicates a dangerous or potentially negative action</td>
                </tr>

                <tr>
                    <td><code class="w3-codespan">Expiration date</code></td>
                    <td>25/11/2015</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>


<div style="background:#fff; padding:0px;" id="modalfilter" class="modal animated bounceIn">
    <div style="padding-top:0px; padding-bottom:0px;" class="modal-header">

        <button type="button" class="close" data-dismiss="modal"><span> <i class="fa fa-times-circle"></i> </span></button>
        <h4>Apply filters</h4>
    </div>

    <div style="padding:5px;" class="modal-body">
       

        <div><br /></div>


    </div>
</div>



<script>
    $('.myLinkToTop').click(function () {
        $('html, body').animate({ scrollTop: $(document).height() }, 'slow');
        return false;
    });

    $('.myMenuLink').click(function () {
        $('html, body').animate({ scrollTop: 0 }, 'slow');
        return false;
    });
</script>


















