<link href="css/itemdetail.css" rel="stylesheet" />
<style>
    .cropArea {
        overflow: hidden;
        width: 100%;
        height: 300px;
        text-align: center;
    }

    img-crop {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
    }

        img-crop canvas {
            position: absolute;
            top: 50%;
            max-width: 220px;
        }

    .c-widget-body p {
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: -webkit-inline-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        -ms-word-break: break-all;
        word-break: break-all;
        margin-bottom: 0;
        line-height: 21px !important;
    }
    .prepend, .append {
        padding-left: 0 !important;
        padding-right: 0 !important;
        line-height: 0 !important;
        padding-top: 2px;
    }

    .prepend .inner {
        background-color: #e9ecef !important;
        color: #888 !important;
        vertical-align: middle;
        /* margin-top: 22px; */
        padding: 9px;
        padding-bottom: 9px;
        padding-top: 10px;
        font-size: 17px;
        border-top-left-radius: 4px !important;
        border-bottom-left-radius: 4px !important;
        border: 1px solid #ccc;
        /* line-height: 23px; */
        font-weight: 100;
        border-right: transparent;
    }

        .append .inner {
            background-color: #e9ecef !important;
            color: #888 !important;
            vertical-align: middle;
            padding: 9px;
            padding-bottom: 9px;
            padding-top: 10px;
            font-size: 17px;
            border-top-right-radius: 4px !important;
            border-bottom-right-radius: 4px !important;
            border: 1px solid #ccc;
            /* line-height: 23px; */
            font-weight: 100;
            border-left: transparent;
        }

        .form-control
        {
            border-radius:0px;
        }


    .switch1 {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch1 input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 35px;
            width: 35px;
            left: 1px;
            border: 1px solid #ccc;
            bottom: 0px;
            background-color: white;
            -webkit-transition: .4s;
            -moz-transition: .4s;
            -o-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: rgb(100, 189, 99);
    }

    input:focus + .slider {
        box-shadow: 0 0 1px rgb(100, 189, 99);
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        -moz-transform: translateX(26px);
        -o-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
        width: 60px;
        height: 34px;
        margin-left: 7px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    .slider {
        height: auto;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        border: 1px solid #ccc;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 33px;
            width: 35px;
            left: -1px;
            border: 1px solid #ccc;
            bottom: 0px;
            background-color: white;
            -webkit-transition: .4s;
            -moz-transition: .4s;
            -o-transition: .4s;
            transition: .4s;
        }

    .emailError
    {
        color:brown;
    }

    .form-control
    {
        border-radius:0 !important;
    }

    .spinner {
        text-align: center;
        position: fixed;
        width: 100%;
      
        z-index: 100;
    }

    .form-group
    {
        margin-bottom:0;
    }

    .form-group label
    {
        margin-top:15px;
    }

    .input-group .form-control
    {
        border-radius:0 !important;
    }

    input[type=email] {
        /* Remove First */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        /* Then Style */
    
        outline: none;
    }

    .input-group-addon.currency {
        background-color: #e9ecef !important;
        color: #888 !important;
        padding-left: 12px !important;
        padding-right: 12px !important;
        border: 1px solid #ccc;
        border-right: transparent;
        font-size: 17px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

        .input-group-addon.currency.last {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-left: transparent;
            border-right: 1px solid #ccc;
        }
    .inventorydetail h4
    {
        font-size:17px;
        margin-bottom:0;
    }

    .inventorydetail small
    {
        color:#888 !important;
        margin-bottom:0;
    }

    .itemdetail table p
    {
        margin-bottom:0;
        font-size:12px;
    }


</style>
<div class="title-header">

    <div class="row">
        <div class="col-xs-12">
            <h4 ng-click="getitemimage()" class="titletext">Details</h4>
        </div>
    </div>
</div>

<a href="#/FindItems" class="newbackbtn"> <i class="fa fa-arrow-left"></i> </a>

<a ng-if="IsEditMode==false" ng-click="ToggleEditView()" class="btn waves-effect btn-danger btn-primary roundbtntitle"> <i class="fa fa-pencil"></i> </a>

<a ng-if="IsEditMode==true" ng-click="ToggleEditView()" class="btn waves-effect btn-danger roundbtntitle"> <i class="fa fa-times"></i> </a>
<a ng-if="IsActiveItemLibrary==false" ng-click="locked()" class="btn waves-effect btn-danger roundbtntitle"> <i class="fa fa-lock"></i> </a>

<div ng-show="loaditemfields==false" class="spinner" style="text-align:center">
  
    <img src="img/loader.gif" alt="Alternate Text" />
</div>

<div id="content" class="top50 grey-blue" >
    <div ng-show="IsEditMode==false">
              <div class="swiper-container">
                  <div style="width:100%; text-align:center;">
                      <img style="margin-top:12px; width:40px !important; " class="loadingimage" src="img/loader.gif" alt="Alternate Text" />
                  </div>

                        <div class="swiper-wrapper">

                            <div ng-if="ImageListdetail.length > 0" ng-repeat="obj in ImageListdetail" class="swiper-slide">

                                

                                <table style="display:none;" class="imagesection">
                                    <tr>
                                        <td>
                                            <span class="arrow-left" ng-show="slide != 0"><i class="fa fa-angle-left"></i></span>
                                            <span class="arrow-left" style="pointer-events:none; color:#ccc" ng-if="slide == 0"><i class="fa fa-angle-left"></i></span>
                                        </td>
                                        <td>
                                            <div style="text-align:center">
                                                <img style=" border: 1px solid #ccc; height:60px; width:60px;" ng-click="OpenImageModal(obj)" src="{{obj.LargeImageURI}}" alt="" />
                                            </div>
                                        </td>
                                        <td>

                                            <span class="arrow-right" ng-show="slide+1 != Totalslides"><i class="fa fa-angle-right"></i></span>
                                            <span style="pointer-events: none; color: #ccc" ng-if="slide+1 == Totalslides"><i class="fa fa-angle-right"></i></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div ng-if="ImageListdetail.length == 0" class="swiper-slide">

                               


                                <table style="display:none;" class="imagesection">
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div style="text-align:center">
                                                <img style="height:70px; width:70px; border: 1px solid #ccc;" src="img/default.png" alt="" />
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

        <div style="display:none; margin-top:20px;" class="viewimage">
            <span  ng-repeat="_obj in ImageList" ng-if="ImageList.length>0">

                <img src="{{_obj.bytestring}}" height="60" width="60" alt="Alternate Text" />
                <a class="btn btn-danger removeImage" altid="{{_obj.ImageID}}" ng-click="RemoveFromImageList(_obj.ImageID)"><i class="fa fa-trash-o"></i></a>

            </span>

            <span style="background-color: #43ac6a !important; font-size: 30px; line-height: 22px; padding: 9px; padding-left: 11px; " ng-click="OpenBox()" class="btn btn-primary">+</span>

            <a ng-if="ImageList.length>0" ng-click="saveimage()" class="btn btn-primary" style="width:calc(100% - 30px); margin-top:7px;"> <i class="fa fa-upload"></i> Upload</a>

        </div>

        
        
              
                <div style="position:absolute; margin-top:-33px; right:30px;" class="floating-button animated bouncein delay-3">

                </div>
                <!--<div class="banner-title" style="color:black;">{{CurrentInventory.pPart}}</div>-->
         


        <div style="margin-bottom:12px;" class="inventorydetail">
            <h4> {{itemlabel}} </h4>
            <small>{{CurrentInventory.pDescription}}</small>
            <p style="margin-top: 5px; margin-bottom: 0px; font-size: 13px;"> {{CurrentInventory.iQty}} {{CurrentInventory.uomUOM}}</p>
            <p style="font-size: 13px; margin-bottom: 0px;">{{CurrentInventory.lLoc}} </p>
            <p ng-if="CurrentInventory.iStatusValue !=''" style="font-size:13px;"> <span style="color:#888"> Status -</span> {{CurrentInventory.iStatusValue}} </p>
        </div>

        <div class="itemdetail">



            <h4 style="background-color: #069; margin: 0; color: #fff; padding: 12px; text-transform: capitalize; font-size: 15px; text-align: center; ">Attribute fields</h4>

            <div style="text-align:center;" ng-show="itemsummaryload==false">
                <p><img style="height:30px;" src="img/loader.gif" alt="Alternate Text" /> </p>


            </div>

            <table style="margin-bottom:0" ng-show="itemsummaryload==true" class="table table-bordered">
                <tr ng-repeat="summary in Itemsummary">
                    <td style="text-align:right;" width="50%;">
                        <p> {{summary.cfdName}} </p>
                    </td>
                    <td style="text-align:left;" width="50%;">
                        <p style="color:#888" ng-if="summary.cfdValue != null"> {{summary.cfdValue}} </p>

                        <p style="color:#888" ng-if="summary.cfdValue == null"> N/A </p>



                    </td>
                </tr>
            </table>


        </div>
     
        <!-- Profile Content -->
        
        <div class="statedetail">
            <h4 style="background-color: #069; margin: 0; color: #fff; padding: 12px; text-transform: capitalize; font-size: 15px; text-align: center; ">State fields</h4>

            <table class="table table-bordered">
                <tr ng-if="CurrentInventory.iReqValue != ''">
                    <td style="text-align:right; width:50%">{{GetUnitDataLabel('iReqValue')}}</td>
                    <td style="width:50%; text-align:left">{{CurrentInventory.iReqValue}}</td>
                </tr>

                <tr ng-if="CurrentInventory.iUnitTag2 != ''">
                    <td style="text-align:right; width:50%">{{GetUnitDataLabel('iUnitTag2')}}</td>
                    <td style="width:50%; text-align:left">{{CurrentInventory.iUnitTag2}}</td>
                </tr>

                <tr ng-if="CurrentInventory.iUnitTag3 != ''">
                    <td style="text-align:right; width:50%">{{GetUnitDataLabel('iUnitTag3')}}</td>
                    <td style="width:50%; text-align:left">{{CurrentInventory.iUnitTag3}}</td>
                </tr>

                <tr ng-if="CurrentInventory.iUnitTag4 != ''">
                    <td style="text-align:right; width:50%">{{GetUnitDataLabel('iUnitTag4')}}</td>
                    <td style="width:50%; text-align:left">{{CurrentInventory.iUnitTag4}}</td>
                </tr>

                <tr ng-if="CurrentInventory.iUnitTag5 != ''">
                    <td style="text-align:right; width:50%">{{GetUnitDataLabel('iUnitTag5')}}</td>
                    <td style="width:50%; text-align:left">{{CurrentInventory.iUnitTag5}}</td>
                </tr>

                <tr ng-if="CurrentInventory.iUnitTag6 != ''">
                    <td style="text-align:right; width:50%">{{GetUnitDataLabel('iUnitTag6')}}</td>
                    <td style="width:50%; text-align:left">{{CurrentInventory.iUnitTag6}}</td>
                </tr>

                <tr ng-if="CurrentInventory.iUnitTag7 != ''">
                    <td style="text-align:right; width:50%">{{GetUnitDataLabel('iUnitTag7')}}</td>
                    <td style="width:50%; text-align:left">{{CurrentInventory.iUnitTag7}}</td>
                </tr>

                <tr ng-if="CurrentInventory.iUnitTag8 != ''">
                    <td style="text-align:right; width:50%">{{GetUnitDataLabel('iUnitTag8')}}</td>
                    <td style="width:50%; text-align:left">{{CurrentInventory.iUnitTag8}}</td>
                </tr>

                <tr ng-if="CurrentInventory.iUniqueDate != null">
                    <td style="text-align:right; width:50%">{{GetUnitDataLabel('iUniqueDate')}}</td>
                    <td style="width:50%; text-align:left">{{CurrentInventory.iUniqueDate}}</td>
                </tr>

                <tr ng-if="CurrentInventory.iUnitDate2 != null">
                    <td style="text-align:right; width:50%">{{GetUnitDataLabel('iUnitDate2')}}</td>
                    <td style="width:50%; text-align:left">{{CurrentInventory.iUnitDate2}}</td>
                </tr>

                <tr ng-if="CurrentInventory.iUnitDate3 != null">
                    <td style="text-align:right; width:50%">{{GetUnitDataLabel('iUnitDate3')}}</td>
                    <td style="width:50%; text-align:left">{{CurrentInventory.iUnitDate3}}</td>
                </tr>

                <tr ng-if="CurrentInventory.iUnitDate4 != null">
                    <td style="text-align:right; width:50%">{{GetUnitDataLabel('iUnitDate4')}}</td>
                    <td style="width:50%; text-align:left">{{CurrentInventory.iUnitDate4}}</td>
                </tr>


                <tr ng-if="CurrentInventory.iUnitNumber1 != null">
                    <td style="text-align:right; width:50%">{{GetUnitDataLabel('iUnitNumber1')}}</td>
                    <td style="width:50%; text-align:left">{{CurrentInventory.iUnitNumber1}}</td>
                </tr>

                <tr ng-if="CurrentInventory.iUnitNumber2 != null">
                    <td style="text-align:right; width:50%">{{GetUnitDataLabel('iUnitNumber2')}}</td>
                    <td style="width:50%; text-align:left">{{CurrentInventory.iUnitNumber2}}</td>
                </tr>

                <tr ng-if="CurrentInventory.iUnitNumber3 != null">
                    <td style="text-align:right; width:50%">{{GetUnitDataLabel('iUnitNumber3')}}</td>
                    <td style="width:50%; text-align:left">{{CurrentInventory.iUnitNumber3}}</td>
                </tr>

                <tr ng-if="CurrentInventory.iUnitNumber4 != null">
                    <td style="text-align:right; width:50%">{{GetUnitDataLabel('iUnitNumber4')}}</td>
                    <td style="width:50%; text-align:left">{{CurrentInventory.iUnitNumber4}}</td>
                </tr>
            </table>

          </div>
        
    </div>



   




    <div class="scaninfo animated bounceInUp" id="scaninfo">

        <h4>Use <strong>{{itemscanvalue}}</strong> Record</h4>
        <br />
        <a class="btn btn-success" ng-click="Takeitem()"> <i class="fa fa-check"></i>  </a>

        <a class="btn btn-danger" ng-click="closebottoarea()"> <i class="fa fa-times-circle"></i>  </a>

        <br />

    </div>

    <div id="content" class="grey-blue">
        <div class="" ng-show="IsEditMode==true">

            <div class="page-header">
                <h4 style="color:#000; padding-left:12px; text-align:left;">Edit Item -

                    <small style=" color: #000 !important; font-size: 12px !important;">
                        {{CurrentInventory.iQty}} Of {{CurrentInventory.pPart}} {{CurrentInventory.uomUOM}} @@ {{CurrentInventory.lLoc}}
                    </small>
                </h4>

                

            </div>



            <div style="text-align:left; color:#000; padding:10px;" class="editsection maincontent" ng-if="IsEditMode==true">
                <div class="form-group">
                    <label>{{realItemname}}  <span class="redText">*</span></label>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="CurrentInventory.pPart" />
                        <span class="input-group-addon last">
                            <a ng-click="Scanitem()"><i class="fa fa-barcode" style=" color: #2196F3; font-weight: 400;"></i></a>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label>{{realDescname}}</label>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="CurrentInventory.pDescription" />
                        <span class="input-group-addon last">
                            <a ng-click="Scandescription()"><i class="fa fa-barcode" style=" color: #2196F3; font-weight: 400;"></i></a>
                        </span>
                    </div>
                </div>

                <div ng-repeat="obj in MyinventoryFields" class="form-group">

                    <!--<p>Val - {{InventoryObject[obj.CustomFieldIndex].Value}}</p>-->
                    <label> {{obj.cfdName}} <span ng-if="obj.Required" class="redText">*</span>  </label>

                    <div ng-if="obj.cfdDataType=='string'">

                        <div class="input-group" ng-if="GetCustomItemObjByColumnmap(obj.ColumnName).cfdSpecialType !=1">
                            <div ng-if="GetCustomItemObjByColumnmap(obj.ColumnName).cfdprefixsuffixtype!='1'&& GetCustomItemObjByColumnmap(obj.ColumnName).cfdprefixsuffixtype!='2'&& GetCustomItemObjByColumnmap(obj.ColumnName).cfdprefixsuffixtype!='3'">


                                <input id="CustomItem_{{obj.cfdID}}" maxlength="{{GetCustomItemObjByColumnmap(obj.ColumnName).MaxLength}}" ng-if="GetCustomItemObjByColumnmap(obj.ColumnName).cfdInputMask=='text' || GetCustomItemObjByColumnmap(obj.ColumnName).cfdInputMask==0" type="text" ng-model="InventoryObject[obj.CustomFieldIndex].Value" class="form-control" />

                                <input id="CustomItem_{{obj.cfdID}}" ng-if="$.trim(GetCustomItemObjByColumnmap(obj.ColumnName).cfdInputMask)==''" type="text" ng-model="InventoryObject.CustomPartData[obj.CustomFieldIndex].Value" class="form-control" />

                                <!--<input id="CustomItem_{{obj.cfdID}}" ng-if="$.trim(GetCustomItemObjByColumnmap(obj.ColumnName).cfdInputMask)!='' && GetCustomItemObjByColumnmap(obj.ColumnName).cfdInputMask=='month'" type="{{GetCustomItemObjByColumnmap(obj.ColumnName).cfdInputMask}}" ng-model="InventoryObject.CustomPartData[obj.CustomFieldIndex].Value" class="form-control" />-->

                                <select ng-if="$.trim(GetCustomItemObjByColumnmap(obj.ColumnName).cfdInputMask)!='' && GetCustomItemObjByColumnmap(obj.ColumnName).cfdInputMask=='month'" ng-model="InventoryObject[obj.CustomFieldIndex].Value" class="form-control">

                                    <option ng-repeat="n in MonthlistGlobal track by n.Value" value="{{n.Value}}" ng-selected="n.Value == InventoryObject[obj.CustomFieldIndex].Value"> {{n.Text}}</option>
                                </select>

                                <input id="CustomItem_{{obj.cfdID}}" ng-if="$.trim(GetCustomItemObjByColumnmap(obj.ColumnName).cfdInputMask)!='' && GetCustomItemObjByColumnmap(obj.ColumnName).cfdInputMask=='email'" type="{{GetCustomItemObjByColumnmap(obj.ColumnName).cfdInputMask}}" ng-model="InventoryObject[obj.CustomFieldIndex].Value" class="emailtextbox form-control" />

                                <select id="CustomItem_{{obj.cfdID}}" ng-model="InventoryObject[obj.CustomFieldIndex].Value" class="form-control weekPicker" selectvalue="{{InventoryObject[obj.CustomFieldIndex].Value}}" ng-if="$.trim(GetCustomItemObjByColumnmap(obj.ColumnName).cfdInputMask)!='' && GetCustomItemObjByColumnmap(obj.ColumnName).cfdInputMask=='week'">
                                    <option value="">choose week</option>
                                    <option ng-repeat="n in weeklist" value="{{CurrentYear-1}}-W{{n}}">Week {{n}}, {{CurrentYear-1}}</option>
                                    <option ng-repeat="n in weeklist" value="{{CurrentYear}}-W{{n}}">Week {{n}}, {{CurrentYear}}</option>
                                    <option ng-repeat="n in weeklist" value="{{CurrentYear+1}}-W{{n}}">Week {{n}}, {{CurrentYear+1}}</option>
                                    <option ng-repeat="n in weeklist" value="{{CurrentYear+2}}-W{{n}}">Week {{n}}, {{CurrentYear+2}}</option>
                                </select>


                            </div>

                            <span ng-if="(GetCustomItemObjByColumnmap(obj.ColumnName).cfdprefixsuffixtype=='1'||GetCustomItemObjByColumnmap(obj.ColumnName).cfdprefixsuffixtype=='2'||GetCustomItemObjByColumnmap(obj.ColumnName).cfdprefixsuffixtype=='3') && (GetCustomItemObjByColumnmap(obj.ColumnName).cfdPrefix !=undefined && GetCustomItemObjByColumnmap(obj.ColumnName).cfdPrefix != null && GetCustomItemObjByColumnmap(obj.ColumnName).cfdPrefix != '')" class="input-group-addon currency prepend"> {{GetCustomItemObjByColumnmap(obj.ColumnName).cfdPrefix}} </span>

                            <div ng-if="GetCustomItemObjByColumnmap(obj.ColumnName).cfdprefixsuffixtype=='1'||GetCustomItemObjByColumnmap(obj.ColumnName).cfdprefixsuffixtype=='2'||GetCustomItemObjByColumnmap(obj.ColumnName).cfdprefixsuffixtype=='3'">


                                <input id="CustomItem_{{obj.cfdID}}" type="text" data-prefix="{{GetCustomItemObjByColumnmap(obj.ColumnName).cfdPrefix}}" data-suffix="{{GetCustomItemObjByColumnmap(obj.ColumnName).cfdSuffix}}" data-value="{{GetCustomItemObjByColumnmap(obj.ColumnName).CombineValue}}" data-orginal-value="{{GetCustomItemObjByColumnmap(obj.ColumnName).cfdPrefix}}{{InventoryObject[obj.CustomFieldIndex].Value}}{{GetCustomItemObjByColumnmap(obj.ColumnName).cfdSuffix}}" ng-model="InventoryObject[obj.CustomFieldIndex].Value" class="form-control  prepostCustom" />
                            </div>


                            <span ng-if="(GetCustomItemObjByColumnmap(obj.ColumnName).cfdprefixsuffixtype=='1'||GetCustomItemObjByColumnmap(obj.ColumnName).cfdprefixsuffixtype=='2'||GetCustomItemObjByColumnmap(obj.ColumnName).cfdprefixsuffixtype=='3') && (GetCustomItemObjByColumnmap(obj.ColumnName).cfdSuffix !='' && GetCustomItemObjByColumnmap(obj.ColumnName).cfdSuffix !=undefined && GetCustomItemObjByColumnmap(obj.ColumnName).cfdSuffix !=null)" class="input-group-addon currency append last"> {{GetCustomItemObjByColumnmap(obj.ColumnName).cfdSuffix}} </span>

                            <span class="input-group-addon last" ng-click="ScanNewCustomSwitch(obj.cfdID,obj.ColumnName,1)"> <i class="fa waves-effect  fa-barcode"></i></span>
                        </div>

                        <div ng-click="customradiolist(obj.ColumnName, obj.cfdID, 'item')" class="input-group" ng-if="GetCustomItemObjByColumnmap(obj.ColumnName).cfdSpecialType ==1">
                            <input id="CustomItem_{{obj.cfdID}}" disabled type="text" ng-model="InventoryObject[obj.CustomFieldIndex].Value" class="form-control" />

                            <span class="input-group-addon last" ng-click="customradiolist(obj.ColumnName, obj.cfdID, 'item')"><i class="fa fa-circle-o"></i></span>
                        </div>

                    </div>


                    <div ng-if="obj.cfdDataType=='date'||obj.cfdDataType=='datetime'" class="input-group">
                        <input ng-model="InventoryObject[obj.CustomFieldIndex].Value" ng-if="GetCustomItemObjByColumnmap(obj.ColumnName).cfdSpecialType==2" type="datetime-local" class="form-control customFieldDatePicker FormDateType" />
                        <input ng-model="InventoryObject[obj.CustomFieldIndex].Value" ng-if="GetCustomItemObjByColumnmap(obj.ColumnName).cfdSpecialType==3" type="time" class="form-control customFieldDatePicker FormDateType" />
                        <input ng-model="InventoryObject[obj.CustomFieldIndex].Value" ng-if="GetCustomItemObjByColumnmap(obj.ColumnName).cfdSpecialType!=3 && GetCustomItemObjByColumnmap(obj.ColumnName).cfdSpecialType!=2" type="date" class="form-control customFieldDatePicker FormDateType" />
                        <span class="input-group-addon last" ng-click="ScanNewCustomSwitch(obj.cfdID,obj.ColumnName,1)"> <i class="fa waves-effect  fa-barcode"></i></span>
                    </div>

                    <div class="input-group" ng-if="obj.cfdDataType=='combobox'">



                        <div ng-if="GetCustomItemObjByColumnmap(obj.ColumnName).cfdIsAutoComplete != true" class="select">
                            <select ng-model="InventoryObject[obj.CustomFieldIndex].Value" class="form-control">
                                <option value="">-Select-</option>
                                <option value="{{_optionValue}}" ng-repeat="_optionValue in obj.cfdComboValues track by $index" ng-selected="_optionValue == InventoryObject[obj.CustomFieldIndex].Value">{{_optionValue}}</option>

                            </select>
                        </div>

                        <div ng-click="customautocomplete(obj.ColumnName, obj.cfdID, 'item')">
                            <input ng-model="InventoryObject[obj.CustomFieldIndex].Value" disabled ng-if="GetCustomItemObjByColumnmap(obj.ColumnName).cfdIsAutoComplete == true" id="CustomItem_{{obj.cfdID}}" class="form-control" type="text" />
                        </div>

                        <span class="input-group-addon last" ng-click="ScanNewCustomSwitch(obj.cfdID,obj.ColumnName,1)"> <i class="fa waves-effect  fa-barcode"></i></span>
                    </div>


                    <div ng-if="obj.cfdDataType=='number'" class="input-group">

                        <input ng-model="InventoryObject[obj.CustomFieldIndex].Value" id="CustomItem_{{obj.cfdID}}" max="{{GetCustomItemObjByColumnmap(obj.ColumnName).MaximumValue}}" min="{{GetCustomItemObjByColumnmap(obj.ColumnName).MinimumValue}}" name="CustomItem_{{obj.ColumnName}}" type="number" class="form-control FormControlType" />

                        <span ng-if="GetCustomColumn(obj.ColumnName).cfdIsIncremental==true" ng-click="UpDownValue(obj.ColumnName,false,1)" class="input-group-addon last">
                            <i class="fa fa-minus"></i>
                        </span>
                        <span ng-if="GetCustomColumn(obj.ColumnName).cfdIsIncremental==true" ng-click="UpDownValue(obj.ColumnName,true,1)" class="input-group-addon last">
                            <i class="fa fa-plus"></i>
                        </span>

                        <span class="input-group-addon last" ng-click="ScanNewCustomSwitch(obj.cfdID,obj.ColumnName,1)"> <i class="fa waves-effect  fa-barcode"></i></span>

                    </div>

                    <div ng-if="obj.cfdDataType=='currency'" class="input-group">
                        <input id="CustomItem_{{obj.cfdID}}" type="number" class="form-control FormControlType" ng-model="InventoryObject[obj.CustomFieldIndex].Value" />

                        <span class="input-group-addon last" ng-click="ScanNewCustomSwitch(obj.cfdID,obj.ColumnName,1)"> <i class="fa waves-effect  fa-barcode"></i></span>
                    </div>


                    <div ng-if="obj.cfdDataType=='checkbox'">


                        <div class="btn-group custombtnGroup" ng-if="GetCustomItemObjByColumnmap(obj.ColumnName).cfdSpecialType!=4 && GetCustomItemObjByColumnmap(obj.ColumnName).cfdSpecialType!=5">
                            <label style="width:100%" class="switch1">
                                <input ng-if="InventoryObject[obj.CustomFieldIndex].Value =='true' || InventoryObject[obj.CustomFieldIndex].Value ==true" id="CustomItem_{{obj.cfdID}}" ng-init="InventoryObject[obj.CustomFieldIndex].Value=true" type="checkbox" ng-model="InventoryObject[obj.CustomFieldIndex].Value">

                                <input ng-if="InventoryObject[obj.CustomFieldIndex].Value=='false' || InventoryObject[obj.CustomFieldIndex].Value ==false || InventoryObject[obj.CustomFieldIndex].Value ==null" id="CustomItem_{{obj.cfdID}}" type="checkbox" ng-model="InventoryObject[obj.CustomFieldIndex].Value">

                                <div class="slider round"></div>

                                <span style="margin-left:75px; -webkit-box-decoration-break: clone;" ng-if="InventoryObject[obj.CustomFieldIndex].Value==true">
                                    {{GetCustomItemObjByColumnmap(obj.ColumnName).cfdTruelabel}}
                                </span>

                                <span style="margin-left:75px; -webkit-box-decoration-break: clone;" ng-if="InventoryObject[obj.CustomFieldIndex].Value!=true">
                                    {{GetCustomItemObjByColumnmap(obj.ColumnName).cfdFalselabel}}
                                </span>
                            </label>
                        </div>

                        <div ng-if="GetCustomItemObjByColumnmap(obj.ColumnName).cfdSpecialType==4">


                            <select id="CustomItem_{{obj.cfdID}}" class="form-control radioselectlist" ng-model="InventoryObject[obj.CustomFieldIndex].Value" selectvalue="{{InventoryObject[obj.CustomFieldIndex].Value}}">
                                <option ng-selected="InventoryObject[obj.CustomFieldIndex].Value==true" value="{{GetCustomItemObjByColumnmap(obj.ColumnName).cfdTruelabel}}">{{GetCustomItemObjByColumnmap(obj.ColumnName).cfdTruelabel}}</option>
                                <option ng-selected="InventoryObject[obj.CustomFieldIndex].Value==false" ng-value="false" value="{{GetCustomItemObjByColumnmap(obj.ColumnName).cfdFalselabel}}">{{GetCustomItemObjByColumnmap(obj.ColumnName).cfdFalselabel}}</option>
                            </select>
                        </div>


                        <div class="" ng-if="GetCustomItemObjByColumnmap(obj.ColumnName).cfdSpecialType==5">
                            <p class="todo-element">
                                <input name="CustomItem_{{obj.cfdID}}" id="CustomItem_{{obj.cfdID}}" ng-model="InventoryObject[obj.CustomFieldIndex].Value" ng-value="true" value="true" ng-checked="InventoryObject.obj.CustomFieldIndex].Value==true" type="radio"> <label class="chekasradiotrue" currentvalue="{{InventoryObject[obj.CustomFieldIndex].Value}}" for="CustomItem_{{obj.cfdID}}">{{GetCustomItemObjByColumnmap(obj.ColumnName).cfdTruelabel}}</label>
                                <input name="CustomItem_{{obj.cfdID}}" id="CustomItem1_{{obj.cfdID}}" ng-model="InventoryObject[obj.CustomFieldIndex].Value" ng-value="false" value="false" ng-checked="InventoryObject[obj.CustomFieldIndex].Value==false" type="radio"> <label class="chekasradiofalse" currentvalue="{{InventoryObject[obj.CustomFieldIndex].Value}}" for="CustomItem1_{{obj.cfdID}}">{{GetCustomItemObjByColumnmap(obj.ColumnName).cfdFalselabel}}</label>
                            </p>

                        </div>
                    </div>


                    <!--<div class="input-group">
            <input type="text" class="form-control" value="{{obj.cfdValue}}" />

        </div>-->
                </div>

              
                <br/>

                

                
           
                <div class="row stickybtn">
                    <div class="col-xs-6">
                        <button type="button" ng-click="UpdateInventory()" ng-if="SavingData==false" ng-class="{'Btndisabled':CheckCustomRequiredFields()==true}" ng-disabled="CheckCustomRequiredFields()==true || CurrentInventory.pPart=='' || CheckEmailFields()==true" class="waves-effect btn btn-primary"> <i class="fa fa-pencil"></i> Update</button>
                        <button type="button" ng-if="SavingData==true" disabled class="waves-effect btn btn-primary"> <i class="fa fa-pencil fa-spin"></i> Update</button>
                    </div>
                    <div class="col-xs-6">
                        <button ng-if="SavingData==false" class="waves-effect  btn btn-gray" ng-click="ToggleEditView()"><i class="fa fa-times"></i> Cancel</button>
                        <button ng-if="SavingData==true" disabled class="waves-effect btn btn-gray"><i class="fa fa-times"></i> Cancel</button>
                    </div>
                </div>
            </div>
            
        </div>

        </div>

    <div style="background:#fff;" id="customautolistmodal" class="modal animated bounceIn" data-backdrop="static" data-keyboard="false">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span> <i class="fa fa-times"></i> </span>
            </button>
            <h4>Select Item  </h4>
            <div class="form-group">
                <div class="input-group">
                    <input ng-model="searchcustom" type="text" placeholder="Type Keyword to find value" class="form-control" autofocus />
                </div>
            </div>
        </div>


        <div class="modal-body">

            <ul ng-repeat="obj in currtrentcustomauto | filter:searchcustom track by $index">
                <a ng-click="fillcustomvalue(obj)">{{obj }}</a>
            </ul>

        </div>
    </div>


    <div style="background:#fff;" id="customradiotextmodal" class="modal animated bounceIn" data-backdrop="static" data-keyboard="false">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span> <i class="fa fa-times"></i> </span>
            </button>
            <h4>Select Item  </h4>

        </div>


        <div class="modal-body">

            <p ng-repeat="obj in currtrentcustomradiovalue" class="todo-element">
                <input ng-click="fillcurrentradiovalue(obj)" id="{{obj}}" name="dashrath" type="radio"> <label for="{{obj}}">{{obj}}</label>
            </p>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <a ng-click="fillvaluetoradio()" class="waves-effect btn btn-primary"> <i class="fa fa-check"></i> OK</a>
                    <a data-dismiss="modal" class="waves-effect btn btn-gray"> <i class="fa fa-times"></i> Cancel </a>
                </div>
            </div>

        </div>
    </div>


    <div id="bottommenumodal" class="modal fade bottommenu">

        <div class="modal-body">
            <ul class="animated selectAction slideInUp" id="selectAction">
                <li ng-click="OpenBox()"><span>Upload Image</span><a class="waves-effect btn-danger btn"> <i class="fa fa-picture-o"></i> </a></li>
                <li ng-click="viewhistory()"><span>View history</span><a href="#/InventoryHistory" class="waves-effect btn-primary btn"> <i class="fa fa-file-text"></i> </a></li>
                <li ng-click="showinventory()"><span>Show all Inventory</span><a href="#/FindItems" class="waves-effect btn-danger btn"> <i class="fa fa-shopping-cart"></i> </a></li>
                <li ng-click="addtocart(CurrentInventory)" ng-show="CanAddIntoCart==false"><span>Select for cart</span><a class="waves-effect btn-success btn" data-dismiss="modal"> <i class="fa fa-check"></i> </a></li>
                <li ng-click="removecart(CurrentInventory)" ng-show="CanAddIntoCart==true"><span>Remove from cart</span><a class="waves-effect btn-danger btn" data-dismiss="modal"> <i class="fa fa-trash-o"></i> </a></li>
                <li ng-if="IsActiveItemLibrary==true && IsEditMode==false && checkpermission('URL:Manage/Item')==true" ng-click="ToggleEditView()" data-dismiss="modal"><span>Edit Item details</span><a class="waves-effect btn bgm-orange" data-dismiss="modal"> <i class="fa fa-pencil"></i> </a></li>
                <li ng-if="IsActiveItemLibrary==true && IsEditMode==true && checkpermission('URL:Manage/Item')==true" ng-click="ToggleEditView()" data-dismiss="modal"><span>Show Item details</span><a class="waves-effect btn bgm-orange" data-dismiss="modal"> <i class="fa fa-info"></i> </a></li>
                <li ng-if="IsActiveItemLibrary==false" ng-click="locked()" data-dismiss="modal"><span>Show Item details</span><a class="waves-effect btn bgm-orange" data-dismiss="modal"> <i class="fa fa-lock"></i> </a></li>
            </ul>
        </div>
    </div>

    <div id="myModalforlist" class="modal bottom-sheet bottom-modal fade" role="dialog">
        <!-- Modal content-->
        <div class="modal-body">

            <ul>
                <li>
                   <!--<input id="files" type="file" name="name" value="" />-->
                    <a ng-click="capturePhotoNew();"> <i class="fa fa-camera"></i> Capture Photo</a>
                </li>
                <li>

                    <!--<a ng-click="triggerFileClick()"><i class="fa fa-picture-o"></i> From Photo Library</a>-->
                    <a ng-click="getPhoto()"><i class="fa fa-picture-o"></i> From Photo Library</a>
                </li>
            </ul>



        </div>
        <div class="modal-footer">
            <button type="button" class="btn width-100 btn-gray" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
        </div>

    </div>




    



    <div style="background:#fff;" id="imagemodal" class="modal animated bounceIn">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span> <i class="fa fa-times"></i> </span></button>
            <h4>Uploaded images</h4>
        </div>

        <div style="padding:5px;" class="modal-body">
            <br />
            <span ng-repeat="_obj in ImageList" class="pull-left" ng-if="ImageList.length>0">

                <img style="border:1px solid #ccc;" src="{{_obj.bytestring}}" height="80" width="80" alt="Alternate Text" />
                <a class="btn btn-danger removeImage" altid="{{_obj.ImageID}}" ng-click="RemoveFromImageList(_obj.ImageID)"><i class="fa fa-trash-o"></i></a>
            </span>

        </div>
    </div>


    <a ng-click="Openbottommenu()" class="waves-effect menubtn btn-info">
        <i class="fa fa-bars"></i>
    </a>


    <div class="modal fade" id="imagemodaldetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div style="background:#fff;" class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span> <i class="fa fa-times"></i> </span></button>
            <h4>Image</h4>
        </div>

        <div class="modal-body">
            <img src="{{CurrentActiveImage.LargeImageURI}}" id="imagepreview" style="max-height:250px;max-width:250px;">
        </div>

    </div>
    </div>
        <div id="overlay"></div>


 <style>
     .udt
     {
         padding-top:13px;
     }
     .h-banner
     {
         height:150px !important

     }
 </style>