<link href="css/itemdetail.css" rel="stylesheet" />
<style>
    .redText {
        color: red !important;
    }

    .scaninfo {
        position: fixed;
        width: 100%;
        bottom: 0;
        background: #fafafa;
        border-top: 1px solid #ccc;
        display: none;
        padding-top: 15px;
        z-index: 10000;
    }

        .scaninfo .btn {
            border-radius: 100%;
            padding: 0px;
            height: 40px;
            width: 40px;
            text-align: center;
            line-height: 37px;
            margin-bottom: 10px;
        }

    .parallax img {
        position: relative;
        left: 50%;
        bottom: 0;
        width: 10px !important;
        height: 75px !important;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        transform: translateX(-50%);
        min-height:100px !important;
        min-width:100px !important;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
        z-index: 5000;
    }

    .modal-backdrop.in {
        opacity: 0.8;
    }

    .c-widget-body
    {
        text-align:left;
    }

    .m-0 span
    {
        color:#808080;
    }

    .m-0
    {
        text-transform:capitalize;
    }
</style>


<div id="content" class="grey-blue" >
    <div ng-if="IsEditMode==false">

      
         
              

              <div class="swiper-container">

                        <div class="swiper-wrapper">

                            <div ng-if="ImageList.length > 0" ng-repeat="obj in ImageList" class="swiper-slide">


                                <table style="width:100%;">
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div style="text-align:center">
                                                <img style="margin-top:12px; width:40px !important; " class="loadingimage" src="img/loader.gif" alt="Alternate Text" />
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                </table>


                                <table style="display:none;" class="imagesection">

                                    <tr>
                                        <td>
                                            <span class="arrow-left" ng-show="slide != 0"><i class="fa fa-angle-left"></i></span>
                                            <span class="arrow-left" style="pointer-events:none; color:#ccc" ng-if="slide == 0"><i class="fa fa-angle-left"></i></span>
                                        </td>
                                        <td>
                                            <div style="text-align:center">
                                                <img style=" border: 1px solid #ccc; height:60px; width:60px;" ng-click="OpenImageModal(obj)" src="{{obj.LargeImageURI}}" alt="" />
                                            </div>
                                        </td>
                                        <td>
                                            
                                            <span class="arrow-right" ng-show="slide+1 != Totalslides"><i class="fa fa-angle-right"></i></span>
                                            <span style="pointer-events: none; color: #ccc" ng-if="slide+1 == Totalslides"><i class="fa fa-angle-right"></i></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div ng-if="ImageList.length == 0" class="swiper-slide">


                                <table style="width:100%;">
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div style="text-align:center">
                                                <img style="margin-top:12px; width:40px !important; " class="loadingimage" src="img/loader.gif" alt="Alternate Text" />
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                </table>




                                <table style="display:none;" class="imagesection">
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div style="text-align:center">
                                                <img style="height:70px; width:70px; border: 1px solid #ccc;" src="img/default.png" alt="" />
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

              
                <div style="position:absolute; margin-top:-33px; right:30px;" class="floating-button animated bouncein delay-3">

                    <span class="btn-floating resize btn-large waves-effect waves-light accent-color btn z-depth-1" ng-click="ToggleEditView()">
                        <i class="fa fa-pencil">
                        </i>
                    </span>
                </div>
                <!--<div class="banner-title" style="color:black;">{{CurrentInventory.pPart}}</div>-->
         
     
        <!-- Profile Content -->
        <div class="card m-t-10 animated fadeinup delay-1" style="padding:10px;">
            <div class="c-widget">
                <div class="c-widget-figure primary-color">
                    <i class="fa fa-info udt"></i>
                </div>
                <div class="c-widget-body">
                    <p class="m-0" style="color:black;"> <span>Name:</span> {{itemlabel}} </p>
                    <p class="m-0" style="color:black;"> <span>Description:</span> {{CurrentInventory.pDescription}} </p>

                </div>
            </div>
        </div>

        <div class="card m-t-10 animated fadeinup delay-1" style="padding:10px;">
            <div class="c-widget">
                <div class="c-widget-figure primary-color">
                    <i class="fa fa-list udt"></i>
                </div>
                <div class="c-widget-body">
                    <p class="m-0"> <span>Quantity:</span> {{CurrentInventory.iQty}} {{CurrentInventory.uomUOM}} </p>
                    <p class="m-0"> <span>Location:</span> {{CurrentInventory.lLoc}} </p>
                </div>
            </div>
        </div>

        <div class="card m-t-10 animated fadeinup delay-1" style="padding:10px;">
            <div class="c-widget">
                <div class="c-widget-figure primary-color">
                    <i class="fa fa-map-marker udt"></i>
                </div>
                <div class="c-widget-body">
                  
                    <p class="m-0" ng-if="CurrentInventory.iStatusValue!=''"> <span>Status:</span> {{CurrentInventory.iStatusValue}} </p>
                

                        <p class="m-0" ng-if="CurrentInventory.iReqValue != ''">
                            <span> {{GetUnitDataLabel('iReqValue')}}:</span>{{CurrentInventory.iReqValue}}
                        </p>
                        <p class="m-0" ng-if="CurrentInventory.iUnitTag2 != ''">
                            <span> {{GetUnitDataLabel('iUnitTag2')}}:</span>{{CurrentInventory.iUnitTag2}}
                        </p>

                        <p class="m-0" ng-if="CurrentInventory.iUnitTag3 != ''">
                            <span>{{GetUnitDataLabel('iUnitTag3')}}:</span>{{CurrentInventory.iUnitTag3}}
                        </p>


                        <p class="m-0" ng-if="CurrentInventory.iUniqueDate != null">
                            <span> {{GetUnitDataLabel('iUniqueDate')}}:</span>{{CurrentInventory.iUniqueDate}}
                        </p>

                        <p class="m-0" ng-if="CurrentInventory.iUnitDate2 != null">
                            <span> {{GetUnitDataLabel('iUnitDate2')}}:</span>{{CurrentInventory.iUnitDate2}}
                        </p>

                        <p class="m-0" ng-if="CurrentInventory.iUnitNumber1 != 0">
                            <span> {{GetUnitDataLabel('iUnitNumber1')}}:</span>{{CurrentInventory.iUnitNumber1}}
                        </p>

                        <p class="m-0" ng-if="CurrentInventory.iUnitNumber2 != 0">
                            <span> {{GetUnitDataLabel('iUnitNumber2')}}:</span>{{CurrentInventory.iUnitNumber2}}
                        </p>
                  
                </div>

            </div>
          


         

        </div>

<br /><br />

    </div>



   




    <div class="scaninfo animated bounceInUp" id="scaninfo">

        <h4>Use <strong>{{itemscanvalue}}</strong> Record</h4>
        <br />
        <a class="btn btn-success" ng-click="Takeitem()"> <i class="fa fa-check"></i>  </a>

        <a class="btn btn-danger" ng-click="closebottoarea()"> <i class="fa fa-times-circle"></i>  </a>

        <br />

    </div>

    <div id="content" class="grey-blue">
        <div class="" ng-if="IsEditMode==true">

            <div class="page-header">
                <h4 style="color:#000; padding-left:12px; text-align:left;">Edit inventory details {{itemscanvalue}}</h4>
            </div>



            <div style="text-align:left; color:#000; padding:10px;" class="editsection maincontent" ng-if="IsEditMode==true">
                <div class="form-group">
                    <label>Item Name <span class="redText">*</span></label>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="CurrentInventory.pPart" />
                        <span class="input-group-addon last">
                            <a ng-click="Scanitem()"><i class="fa fa-barcode" style=" color: #2196F3; font-weight: 400;"></i></a>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label>Item Description<span class="redText">*</span></label>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="CurrentInventory.pDescription" />
                        <span class="input-group-addon last">
                            <a ng-click="Scandescription()"><i class="fa fa-barcode" style=" color: #2196F3; font-weight: 400;"></i></a>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label>Unit of Measure</label>
                    <input type="text" class="form-control" disabled="disabled" ng-model="CurrentInventory.uomUOM" />
                </div>

                

                <div class="form-group">
                    <label>Location</label>
                    <input type="text" class="form-control" disabled="disabled" ng-model="CurrentInventory.lLoc" />
                </div>
                <br/>
                <br />
                <br />

                <div style="position:fixed; width:100%; bottom:0; left:0; right:0;">
                    <table style="width:100%;">
                        <tr>
                            <td style="width:50%;">
                                <button style="width:100%; margin-bottom:0px; border-radius:0px;" type="button" ng-click="UpdateInventory()" ng-if="SavingData==false" ng-disabled="CurrentInventory.pPart==''||CurrentInventory.pDescription==''" class="waves-effect btn btn-large btn-primary"> <i class="fa fa-check"></i> Save</button>
                                <button style="width:100%; margin-bottom:0px; border-radius:0px;" type="button" ng-if="SavingData==true" disabled class="waves-effect btn btn-primary"> <i class="fa fa-check fa-spin"></i> Save</button>
                            </td>
                            <td style="width:50%;">
                                <a style="width:100%; margin-bottom:0px; border-radius:0px;" ng-if="SavingData==false" class="waves-effect btn btn-large btn-default" ng-click="ToggleEditView()"><i class="fa fa-times-circle"></i> Cancel</a>

                                <button style="width:100%; margin-bottom:0px; border-radius:0px;" ng-if="SavingData==true" disabled class="waves-effect btn btn-large btn-default"><i class="fa fa-times-circle"></i> Cancel</button>
                            </td>
                        </tr>
                    </table>
                </div>


            </div>
        </div>


        </div>

        <div id="myModal2" class="modal fade bottommenu" >

            <div class="modal-body">
                <ul class="animated slideInUp" id="selectAction">
                    <li ng-click="viewhistory()"><span>View history</span><a href="#/InventoryHistory" class="waves-effect btn-primary btn"> <i class="fa fa-file-text"></i> </a></li>
                    <li ng-click="showinventory()"><span>Show all Inventory</span><a href="#/FindItems" class="waves-effect btn-danger btn"> <i class="fa fa-dollar"></i> </a></li>
                    <li ng-click="addtocart(CurrentInventory)"><span>Select fot cart</span><a class="waves-effect btn-success btn" data-dismiss="modal"> <i class="fa fa-shopping-cart"></i> </a></li>
                    <li ng-click="ToggleEditView()"><span>Edit Item details</span><a class="waves-effect btn bgm-orange" data-dismiss="modal"> <i class="fa fa-pencil"></i> </a></li>
                </ul>
            </div>
        </div>

    <a style="font-size: 30px; background: #4caf50 !important; margin-right: 8px; font-family: monospace; text-decoration: none;" ng-click="OpenmenuModal()" class="waves-effect Addbtn btn-info">
        I
    </a>


    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <img src="{{CurrentActiveImage.LargeImageURI}}" id="imagepreview" style="max-height:250px;max-width:250px;">
                </div>

            </div>
        </div>
    </div>
    </div>
        <div id="overlay"></div>




 <style>
     .udt
     {
         padding-top:13px;
     }
     .h-banner
     {
         height:150px !important

     }
 </style>