

<link href="css/finditem.css" rel="stylesheet" />



<div>


    <a class="cd-top" onclick="scrollToTop()" title="Go to top"><i class="fa fa-arrow-up"></i></a>

    <div style="margin-top:12px;" class="page-header">


        <div style="padding-left:9px;" class="col-xs-5">
            <h4 style="margin-top:0px; font-size:16px;">Inventory Items </h4>
        </div>
        <div style="padding-right:8px; text-align:right" class="col-xs-7">
            <p style="font-size:13px;">{{currentrecord}} of {{totalrecords}} records shown</p>
        </div>
    </div>


    <div ng-if="myinventoryColumnLoaded==false">

        <div class="modal-backdrop fade in"></div>
        <div class="spinner" style="text-align:center; position:fixed; top:33%; width:100%;  z-index:10000">
            <img src="img/loader.gif" alt="Alternate Text" />

            <!--<i style="font-size: 100px; color: #0083C7; " class="fa fa-spin fa-spinner"></i>-->
        </div>
    </div>
    <div id="sticky-anchor"></div>
    <div id="sticky" class="topup">
        <table class="searchtable">
            <tbody>
                <tr>
                    <td>
                        <ul style="padding:0px; margin:auto">
                            <li style="list-style-type:none;" class="dropdown">
                                <button data-toggle="dropdown" type="button" class="btn transparentBtn status" aria-expanded="false">
                                    <span class="textData"> {{SearchFromText}} </span> <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu dm-icon searchlist">
                                    <li><a ng-click="searchfunction('All')" alt="All">All</a></li>
                                    <li><a ng-click="searchfunction('pPart')" alt="pPart">Items</a></li>
                                    <li><a ng-click="searchfunction('lLoc')" alt="lLoc">Location</a></li>
                                    <li><a ng-click="searchfunction('iStatusValue')" alt="iStatusValue">Status</a></li>
                                    <li class="unitSearchFields" style="display: block;"><a ng-click="searchfunction('iReqValue')" alt="iReqValue">Unique Tag</a></li>
                                    <!--<li class="unitSearchFields" style="display: block;"><a onclick="searchfunction('iUnitTag2')" alt="iUnitTag2">Unit Tag 2</a></li>
                                    <li class="unitSearchFields" style="display: block;"><a onclick="searchfunction('iUnitTag3')" alt="iUnitTag3">Unit Tag 3</a></li>
                                    <li class="unitSearchFields" style="display: block;"><a onclick="searchfunction('iUnitNumber1')" alt="iUnitNumber1">Unit Number</a></li>
                                    <li class="unitSearchFields" style="display: block;"><a onclick="searchfunction('iUnitNumber2')" alt="iUnitNumber2">Unit Number 2</a></li>
                                    <li class="unitSearchFields" style="display: block;"><a onclick="searchfunction('iUniqueDate')" alt="iUniqueDate">unit date</a></li>
                                    <li class="unitSearchFields" style="display: block;"><a onclick="searchfunction('iUnitDate2')" alt="iUnitDate2">Unit Date 2</a></li>-->

                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td>



                        <div style="position:relative" class="fg-line">
                            <input style="border-radius:0px; margin-left:2px; height:37px;" id="MasterSearch" type="text" ng-model="SearchValue" class="form-control" placeholder="Type to Search">
                            <i id="btnClearSearch" class="fa fa-times-circle" ng-click="ClearFilter()" ng-show="SearchValue!=''"></i>
                        </div>

                    </td>
                    <td>
                        <a style="margin-top: 0px; padding-left: 9px; margin-left: 5px; height: 37px; width: 37px;" id="btnMasterSearch" ng-click="SearchInventory()" class="btn transparentBtn"><i class="fa fa-search"></i></a>


                    </td>
                    <td>
                        <a style="margin-top: 0px; padding-left: 9px; margin-left: 5px; height: 37px; width: 37px;  " ng-click="ScanItemSearch()" class="btn transparentBtn"><i class="fa fa-qrcode"></i></a>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="display:none">
        <input type="file" id="myfile" name="myfile" />

    </div>
    <div style="text-align: center; color: #d9534f; display:none;" class="maincontent norecords">
        <br /><br /><br />
        <h1><i class="fa fa-meh-o"></i> Oops !! </h1>
        <h3>No record matched your Query</h3>
        <a style="cursor:pointer" ng-click="ClearFilter()">Clear your filters</a>
        <br /><br />

    </div>

    <div class="animated slideInLeft" id="mylist">

        <div class="pageData">

            <ul class=" widget-products">
                <li ng-repeat="_obj in InventoryItems" class="newlistitem">
                    <a class="">
                        <span class="img">
                            <img ng-if="_obj.ImagePath==''" src="img/default.png" alt="" />
                            <img ng-if="_obj.ImagePath!=''" src="{{_obj.ImagePath}}" alt="" />
                        </span>
                        <span class="product clearfix" ng-click="GoToDetailPage(_obj)" on-long-press="SetCurrentObject(_obj)" on-touch-end="ShowOptionModal()">
                            <!--<span class="product clearfix" ng-click="ShowOptionModal()">-->
                            <!--<span class="name">


                            </span>-->

                            <h5 class="list-group-item-heading">

                                {{_obj.pPart}} <span class="pull-right"> <span> <span ng-if="IsAvailableMyInventoryColumn('iQty')">{{_obj.iQty}}</span> <span ng-if="IsAvailableMyInventoryColumn('uomUOM')"> {{_obj.uomUOM}}</span>  </span> </span>

                            </h5>

                            <span class="list-group-item-text">
                                <span class="text" style="width:30%">
                                    <span ng-if="IsAvailableMyInventoryColumn('lLoc')">
                                        {{_obj.lLoc}}
                                    </span>
                                </span>
                                <span class="" style="float:right">
                                    <span ng-if="IsAvailableMyInventoryColumn('iStatusValue')">
                                        {{_obj.iStatusValue}}
                                    </span>
                                </span>
                            </span>
                            <br />
                            <span class="text">
                                <span ng-if="IsAvailableMyInventoryColumn('pDescription')">
                                    {{_obj.pDescription}}
                                </span>
                            </span>

                        </span>
                    </a>

                    <a class="checkicon" id="actionQty_{{_obj.iID}}" ng-click="AddToCart(_obj)">

                        <i style="font-size: 35px; color:transparent;" class="fa fa-check"></i>

                    </a>
                </li>
            </ul>
        </div>


    </div>




    <div style="text-align:center; top:100px; overflow:hidden;" id="myModal1" class="modal fade " role="dialog">

        <div class="animated flipInY modal-body">
            <img style="max-width:250px; max-height:280px;" src="{{selectedImage}}" alt="">
            <button style="padding: 2px 7px; position: absolute; margin-left: -23px; margin-top:-5px;" class="btn-danger" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
        </div>

    </div>


    <div id="myModal2" class="modal bottommenu fade">

        <div class="modal-body">
            <ul class="animated bounceIn selectAction">
                <li> <span>New Inventory</span> <a href="#/inventory" class="btn-success btn"> <i class="fa fa-plus"></i> </a></li>
                <li class="bottomlink" ng-if="_areImagesShown==false" ng-click="Showhideimage('true')"> <span>Show Image</span> <a class="btn-info btn decrease" style="background-color: #C65E28;" data-dismiss="modal"> <i class="fa fa-image"></i> </a></li>
                <li class="bottomlink" ng-if="_areImagesShown==true" ng-click="Showhideimage('false')"> <span>Hide Image</span> <a class="btn-info btn decrease" style="background-color: #C65E28;" data-dismiss="modal"> <i class="fa fa-image"></i> </a></li>
                <li class="bottomlink" ng-if="_areZeroRecordsShown==false" ng-click=" showhidezerorecord('true')"><span>Show Zero record</span><a class="btn-info btn decrease" style="background-color: #583782;" data-dismiss="modal"> 0 </a></li>
                <li class="bottomlink" ng-if="_areZeroRecordsShown==true" ng-click="showhidezerorecord('false')"><span>Hide Zero record</span><a class="btn-info btn decrease" style="background-color: #583782;" data-dismiss="modal"> 0 </a></li>
                <li ng-click="SelectAll()" class="bottomlink"><span>Select All</span><a class="btn-primary btn decrease" data-dismiss="modal"> <i class="fa fa-check"></i>  </a></li>
            </ul>
        </div>
    </div>

    <a ng-click="OpenmenuModal()" class="Addbtn btn-info" ng-if="mainObjectToSend.length==0">
        <i class="fa fa-plus"></i>
    </a>


    <div style="text-align:center; top:100px; overflow:hidden;" id="myModalforlist" class="modal fade">
        <div class="modal-body">
            <ul class="list-group">
                <li data-dismiss="modal" class="list-group-item" ng-click="GoToDetailPage(_Currentobj)">
                    <a>
                        <i class="fa fa-info-circle"></i>&nbsp;&nbsp;View details -{{_Currentobj.pPart}}
                    </a>
                </li>
                <li data-dismiss="modal" ng-click="AddToCart(_Currentobj)" class="list-group-item">
                    <a>
                        <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Add to cart
                    </a>
                </li>
                <li data-dismiss="modal" class="list-group-item">
                    <a>
                        <i class="fa fa-camera"></i>&nbsp;&nbsp;Add images to this item
                    </a>
                </li>

                <li data-dismiss="modal" class="list-group-item">
                    <a>
                        <i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Other menu
                    </a>
                </li>

                <li data-dismiss="modal" class="list-group-item">
                    <a>
                        <i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Other menu
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <div id="mycartModal" class="modal bottommenu fade">

        <div class="modal-body">
            <ul class="animated transactionbody selectAction">


                <li class="bottomlink" ng-if="IsAvailableMyInventoryColumn('iQty')" ng-click="GoToNextMobile(1)"> <span>Increase</span> <a style="background-color: #177B3D;" class="btn-success btn decrease" data-dismiss="modal"> <i class="fa fa-plus"></i> </a></li>
                <li class="bottomlink" ng-if="IsAvailableMyInventoryColumn('iQty')" ng-click="GoToNextMobile(-1)"> <span>Decrease</span> <a style="background-color: #AF2525;" class="btn-danger btn decrease" data-dismiss="modal"> <i class="fa fa-minus-circle"></i> </a></li>
                <li class="bottomlink" ng-if="IsAvailableMyInventoryColumn('iQty')" ng-click="GoToNextMobile(12)"> <span>Adjust</span> <a style="background-color: #f8c217;" class="btn-danger btn adjust" data-dismiss="modal"> <i class="fa fa-arrows-v"></i> </a></li>
                <li class="bottomlink" ng-if="IsAnyUnitDataFieldActive()==true" ng-click="GoToNextMobile(4)"><span>Tag</span><a style="background-color: #0D190F" class="btn-info btn decrease" data-dismiss="modal"> <i class="fa fa-tag"></i>  </a></li>
                <li class="bottomlink" ng-if="IsAvailableMyInventoryColumn('lLoc')" ng-click="GoToNextMobile(0)"><span>Move</span><a style="background-color: #C65E28;" class="btn-warning btn decrease" data-dismiss="modal"> <i class="fa fa-exchange"></i>  </a></li>
                <li class="bottomlink" ng-if="IsAvailableMyInventoryColumn('uomUOM')" ng-click="GoToNextMobile(2)"><span>Convert</span><a style="background-color: #CE59A1" class="btn-info btn decrease" data-dismiss="modal"> <i class="fa fa-refresh"></i>  </a></li>
                <li class="bottomlink" ng-if="IsAvailableMyInventoryColumn('iStatusValue')" ng-click="GoToNextMobile(3)"><span>Update</span><a style=" background-color: #583782" class="btn-info btn decrease" data-dismiss="modal"> <i class="fa fa-pencil"></i>  </a></li>
                <li ng-click="SelectAll()" class="bottomlink"><span>Select All</span><a class="btn-primary btn decrease" data-dismiss="modal"> <i class="fa fa-check"></i>  </a></li>
                <li class="bottomlink" data-dismiss="modal" ng-click="DeselectAll()"><span>Deselect All</span><a class="btn-danger btn decrease" data-dismiss="modal"> <i class="fa fa-square-o"></i>  </a></li>
            </ul>
        </div>
    </div>

    <a data-backdrop="static" style="text-decoration:none;" ng-click="OpentransactionModal()" class="animated {{CurrentActiveClass}} cartbtn btn-primary" ng-if="mainObjectToSend.length>0">
        <span class="cartcounter" style="font-size:32px;"> {{mainObjectToSend.length}}</span>
        <i style="display:none;" class="cartcrossicon fa fa-times"></i>
    </a>
</div>
<script>

    var offset = 50;
    //browser window scroll (in pixels) after which the "back to top" link opacity is reduced
    var offset_opacity = 1200;
    //duration of the top scrolling animation (in ms)
    var scroll_top_duration = 700;
    //grab the "back to top" link
    var $back_to_top = $('.cd-top');

    function scrollToTop() {

        $('html, body').animate({ scrollTop: 0 }, 500, 'linear');
    }



    $(window).scroll(function () {
        ($(this).scrollTop() > offset) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
        if ($(this).scrollTop() > offset_opacity) {
            $back_to_top.addClass('cd-fade-out');
        }
    });
</script>

<script>
    function sticky_relocate() {
        var window_top = $(window).scrollTop();
        var div_top = $('#sticky-anchor').offset().top;
        if (window_top > div_top + 22) {
            $('#sticky').addClass('stick');
            $('.page-header').fadeOut(1000);


        } else {
            $('#sticky').removeClass('stick');
            $('.page-header').fadeIn(1000);
        }
    }

    $(function () {
        $(window).scroll(sticky_relocate);
        sticky_relocate();
    });
</script>
