<style>
    #viewdata {
        background: #128ECE;
        width: 100%;
        color: white;
    }

    .container{
        width:100% !important;
    }

  

    .btn-success {
        background-color: #2ecc71;
        border-color: #27ae60;
    }

    .btn {
        border: none;
        padding: 6px 12px;
        border-bottom: 4px solid;
        -webkit-transition: border-color 0.1s ease-in-out 0s,background-color 0.1s ease-in-out 0s;
        transition: border-color 0.1s ease-in-out 0s,background-color 0.1s ease-in-out 0s;
        outline: none;
    }

    .checkbox-nice label {
        padding-top: 3px;
    }

    label {
        font-weight: 400;
        font-size: 0.875em;
    }

    .checkbox-nice input[type=checkbox] {
        visibility: hidden;
    }

    .checkbox-nice {
        position: relative;
        padding-left: 15px;
    }

    .widget-todo .name {
        float: left;
    }

    .widget-todo > li {
        border-bottom: 1px solid #ebebeb;
        padding: 10px 5px;
        background: white;
    }

    .widget-todo {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .widget-products li .product > .warranty > i {
        color: #f1c40f;
    }

    .widget-products a {
        cursor:pointer;
        text-decoration: none !important;
    }

    .widget-products li .product > .warranty {
        display: block;
        text-decoration: none;
        width: 50%;
        float: left;
        font-size: 0.875em;
    }

    .widget-products li .product > .price > i {
        color: #2ecc71;
    }

    .widget-products li .product > .price {
        display: block;
        text-decoration: none;
        width: 50%;
        float: left;
        font-size: 0.875em;
    }

    .widget-products li .product > .name {
        display: block;
        font-weight: 600;
        padding-bottom: 7px;
    }

    .widget-products li .product {
        display: block;
        margin-left: 80px;
        margin-top: 7px;
        border-bottom: 1px solid #D8D8D8;
    }

    .widget-products li .img {
        display: block;
        float: left;
        text-align: center;
        width: 70px;
        height: 68px;
        overflow: hidden;
        margin-top: 7px;
    }

    .widget-products li > a {
        height: 88px;
        display: block;
        width: 100%;
        color: #344644;
        padding: 3px 10px;
        position: relative;
        -webkit-transition: border-color 0.1s ease-in-out 0s,background-color 0.1s ease-in-out 0s;
        transition: border-color 0.1s ease-in-out 0s,background-color 0.1s ease-in-out 0s;
    }

    .widget-products li {
       
        background:#f4f4f4;
    }

    .widget-products {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .widget-users li {
        border-bottom: 1px solid #ebebeb;
        padding: 15px 0;
        height: 96px;
    }

    .label {
        border-radius: 3px;
        font-size: 0.875em;
        font-weight: 600;
    }

    .widget-users li > .details > .time {
        color: #3498db;
        font-size: 0.75em;
        padding-bottom: 7px;
    }

    .widget-users li > .details > .name > a {
        color: #344644;
    }

    .widget-users li > .details > .name {
        font-weight: 600;
    }

    .widget-users li > .details {
        margin-left: 60px;
    }

    .widget-users li > .img {
        float: left;
        margin-top: 8px;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
    }

    .widget-users {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .tabs-wrapper.tabs-no-header .tab-content {
        padding: 0 20px 20px;
    }

    .nav-tabs > li > a {
        border-radius: 0;
        font-size: 1.125em;
        font-weight: 300;
        outline: none;
        color: #555;
        margin-right: 3px;
    }

    .nav > li {
        float: left;
    }

    .tabs-wrapper .nav-tabs {
        margin-bottom: 15px;
    }

    .nav-tabs {
        background: #d0d8de;
        border-color: transparent;
        -moz-border-radius: 3px 3px 0 0;
        -webkit-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
    }

    .main-box {
        background: #FFFFFF;
        -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
        -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
        -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
        -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
        box-shadow: 1px 1px 2px 0 #CCCCCC;
        margin-bottom: 16px;
        -webikt-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }


    .bottmsectop {
        background: rgba(18, 142, 206, 0.65);
        color: #fff;
        width: 100%;
        position: fixed;
        bottom: 0;
        left:0px;
        right:0px;
    }


  
    
     .searchtable {
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
    }

    .searchlist {
        top: initial;
        /*bottom: 100%;*/
    }

    .transparentBtn {
        background: transparent;
        border: 2px solid white;
        color: white !important;
        margin-top: 0px;
        margin-left: 5px;
    }

    .text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-inline-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        word-break: break-all;
        margin-bottom: 0;
        line-height: 1.3;
    }

    h5.list-group-item-heading
    {
        font-size:14px !important;
        text-transform:uppercase;
    }

    .list-group-item-heading .pull-right {
        font-size: 13px !important;
    }
    
     .list-group-item-heading {
        margin-bottom: 0px;
        line-height: 20px !important;
        font-size: 14px !important;
        font-weight: 100;
        color: #333;
        padding-bottom: 3px;
        font-family:Verdana;
    }

    .list-group-item-text
    {
        font-size:12px;
    }
    .text
    {
        font-size:12px;
    }



    #btnClearSearch {
        color: #BE0D2F;
        background: #eaeaea;
        padding: 7px;
        /* padding-top: 6px; */
        position: absolute;
        cursor: pointer;
        margin-top: -37px;
        right: -2px;
        font-size: 22px;
    }

    .img img
    {
        height:60px;
        width:60px;
        border:1px solid #ccc;
    }

    .cd-top.cd-is-visible {
        visibility: visible;
        opacity: 1;
    }

    .cd-top {
        height: 50px;
        width: 50px;
        color: #fff !important;
        background: #128ECE;
        position: fixed;
        right: 25px;
        bottom: 25px;
        border-radius: 100%;
        z-index: 100;
        font-size: 25px;
        padding-left: 12px;
        padding-top: 6px;
        opacity: 1;
        visibility: hidden;
    }

</style>



<div class="topheader">
    <div class="col-xs-3">
        <a href="#/mainmenu"><i class="fa fa-home"></i></a>

    </div>
    <div class="col-xs-6">
        <img style="width:150px; margin-top:-2px;" src="img/logo.png" alt="Alternate Text" />
    </div>
    <div class="col-xs-3">
        <div style="float:right;">
            <div class="headerdropdown dropdown">
                <a data-toggle="dropdown" aria-expanded="true">
                    <img src="img/dummy-user48.png" alt="">
                </a>
                <ul class="dropdown-menu animated slideInDown">


                    <li>
                        <a><i class="fa fa-user"></i> My Profile</a>
                    </li>




                    <li>
                        <a href="#" title="Logout"><i class="fa fa-sign-out"></i> Log Out</a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>

<div>
    <br /><br />
</div>


<a class="cd-top" onclick="scrollToTop()" title="Go to top"><i class="fa fa-arrow-up"></i></a>

<div class="animated slideInLeft">

    <div class="pageData ">
        <div class="page-header">

            <h3>Find Inventory Items </h3>


        </div>
        <div class="topup">
            <table class="searchtable">
                <tbody>
                    <tr>
                        <td>
                            <ul style="padding:0px; margin:auto">
                                <li style="list-style-type:none;" class="dropdown">
                                    <button data-toggle="dropdown" type="button" class="btn transparentBtn status" aria-expanded="false">
                                        <span class="textData"> {{SearchFromText}} </span> <span class="caret"></span>
                                    </button>

                                    <ul class="dropdown-menu dm-icon searchlist">
                                        <li><a ng-click="searchfunction('All')" alt="All">All</a></li>
                                        <li><a ng-click="searchfunction('pPart')" alt="pPart">Items</a></li>
                                        <li><a ng-click="searchfunction('lLoc')" alt="lLoc">Location</a></li>
                                        <li><a ng-click="searchfunction('iStatusValue')" alt="iStatusValue">Status</a></li>
                                        <li class="unitSearchFields" style="display: block;"><a ng-click="searchfunction('iReqValue')" alt="iReqValue">Unique Tag</a></li>
                                        <!--<li class="unitSearchFields" style="display: block;"><a onclick="searchfunction('iUnitTag2')" alt="iUnitTag2">Unit Tag 2</a></li>
                                    <li class="unitSearchFields" style="display: block;"><a onclick="searchfunction('iUnitTag3')" alt="iUnitTag3">Unit Tag 3</a></li>
                                    <li class="unitSearchFields" style="display: block;"><a onclick="searchfunction('iUnitNumber1')" alt="iUnitNumber1">Unit Number</a></li>
                                    <li class="unitSearchFields" style="display: block;"><a onclick="searchfunction('iUnitNumber2')" alt="iUnitNumber2">Unit Number 2</a></li>
                                    <li class="unitSearchFields" style="display: block;"><a onclick="searchfunction('iUniqueDate')" alt="iUniqueDate">unit date</a></li>
                                    <li class="unitSearchFields" style="display: block;"><a onclick="searchfunction('iUnitDate2')" alt="iUnitDate2">Unit Date 2</a></li>-->

                                    </ul>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <div style="position:relative" class="fg-line">
                                <input style="border-radius:0px; margin-left:2px; height:37px;" id="MasterSearch" type="text" ng-model="SearchValue" class="form-control" placeholder="Type to Search">
                                <i id="btnClearSearch" class="fa fa-times-circle" ng-click="ClearFilter()" ng-show="SearchValue!=''"></i>
                            </div>

                        </td>
                        <td>
                            <a style="margin-top: 0px; height: 35px; padding-left: 9px; margin-left: 5px; height: 35px; width: 35px;" id="btnMasterSearch" ng-click="SearchInventory()" class="btn transparentBtn"><i class="fa fa-search"></i></a>


                        </td>
                        <td>
                            <a style="margin-top: 0px; height: 35px; padding-left: 9px; margin-left: 5px; height: 35px; width: 35px;  " ng-click="ScanItemSearch()" class="btn transparentBtn"><i class="fa fa-qrcode"></i></a>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            </div>
            <ul class=" widget-products">
                <li ng-repeat="_obj in InventoryItems">
                    <a class="">
                        <span data-toggle="modal" data-target="#myModal1" class="img">
                            <img src="img/_dummyImage.jpg" alt="">
                        </span>
                        <span class="product clearfix">
                            <!--<span class="name">


                        </span>-->

                            <h5 class="list-group-item-heading">
                                {{_obj.ItemNumber}} <span class="pull-right"> <span class="">{{_obj.CurrentQuantity}} </span> {{_obj.UOM}} </span>

                            </h5>

                            <span class="list-group-item-text">
                                <span class="text" style="width:30%">
                                    {{_obj.Location}}
                                </span>
                                <span class="" style="float:right">
                                    {{_obj.StatusValue}}
                                </span>
                            </span>
                            <br />
                            <span class="text">
                                {{_obj.ItemDescription}}

                            </span>



                        </span>
                    </a>
                </li>

            </ul>

        <div>
            <br />
            <br />
         
        </div>

            <!--<div class="bottmsectop">

        </div>-->



        </div>
</div>

<div style="text-align: center; color: #d9534f; display:none; margin-top: 20px;" class="maincontent norecords">
    <h2><i class="fa fa-meh-o"></i> Oops !! </h2>
    <h3>No record matched your Query</h3>
</div>


<div style="text-align:center; top:100px; overflow:hidden;" id="myModal1" class="modal fade " role="dialog">

    <div class="animated flipInY modal-body">
        <img style="max-width:250px; max-height:280px;" src="img/_dummyImage.jpg" alt="">
        <button style="padding: 2px 7px; position: absolute; margin-left: -23px; margin-top:-5px;" class="btn-danger" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
    </div>

</div>




<script>


    var offset = 300;
    //browser window scroll (in pixels) after which the "back to top" link opacity is reduced
    var offset_opacity = 1200;
    //duration of the top scrolling animation (in ms)
    var scroll_top_duration = 700;
    //grab the "back to top" link
    var $back_to_top = $('.cd-top');

    function scrollToTop() {
      
        $('html, body').animate({ scrollTop: 0 }, 500, 'linear');
    }    $(window).scroll(function () {
        ($(this).scrollTop() > offset) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
        if ($(this).scrollTop() > offset_opacity) {
            $back_to_top.addClass('cd-fade-out');
        }
    });
</script>