
<div style="margin-top:12px; display:none;" class="page-header ng-scope">

    <div class="row">

        <div class="col-xs-7">
            <h4 style="margin-top:0px;line-height:34px; margin-bottom:0px; color:#000;">Help </h4>
        </div>
    </div>


</div>

<div style="background:#fff; display:none; margin-top:10px;" class="ng-scope">
    <ul class="collapsible animated fadeinright delay-1" data-collapsible="accordion">
        <li>
            <div class="collapsible-header" onclick="Toggle('#firstDiv')"><i class="ion-android-arrow-dropdown right"></i> 1.Why can't i scan ? </div>
            <div class="collapsible-body" id="firstDiv">
                <p class="fontsize2">
                    If you’re having problems "scan", then please check camera permissions at below place.
                    <br /><br /> <b> Go to settings > Clearly Invetory > Turn on camera</b>

                </p>
            </div>
        </li>

        <li>
            <div class="collapsible-header" onclick="Toggle('#SecondDiv')"><i class="ion-android-arrow-dropdown right"></i>2. Unable to select any picture ?</div>
            <div class="collapsible-body" id="SecondDiv">
                <p>
                    If you’re having problems chossing picture, please check photos permissions at below place

                    <br />

                    <br />
                    <b> Go to settings > Clearly Invetory > Turn on photos</b>
                </p>
            </div>
        </li>

        <li>

            <div class="collapsible-header" onclick="Toggle('#ThirdDiv')" style=" color: brown;"><i class="ion-android-arrow-dropdown right"></i>3. If you’re still having  then..</div>
            <div class="collapsible-body" id="ThirdDiv">
                <p>
                    Please contact to administrator at below email

                    <br />

                   <a style="color:#069;text-decoration: underline;" href="mailto:info@clearlyinventory.com">info@clearlyinventory.com</a>
                </p>
            </div>
        </li>

    </ul>
</div>
<!--<div style="background:#fff; margin-top:10px; padding:10px;" class="ng-scope">
    <h4> 1. why can't i scan in Clearly Inventory</h4>
    <p> If you’re having problems "scan", first make sure you’re using the latest version of Clearly Inventory.If you’re still having  then please check camera permissions at below place</p>
    <p> <b> Go to settings > Clearly Invetory > Turn on camera</b> </p>
    <p>  This usually solves most <b> "scan" </b>issues. </p>
    <hr />
    <h4>  2. why i am unable to select any picture from my photo library</h4>

    <p>   If you’re having problems chossing picture, please check photos permissions at below place</p>



    <p>
        <b> Go to settings > Clearly Invetory > Turn on photos</b>
    </p>

    <hr />


</div>-->

<!--<style>
    .container {
        width: 100%;
    }

    body {
        background: #eaeaea;
        overflow-x: hidden !important;
    }

    .collapsible-body p {
        font-size: 14px;
        padding: 12px;
    
    }
    .collapsible-header {
        font-size: 18px !important;
    }
</style>
<script>
    function Toggle(ID) {
        $(ID).toggle("slow");
    }

    Toggle('#firstDiv');

</script>-->


<link href="css/activityreport.css" rel="stylesheet" />
<link href="css/mobileorder.css" rel="stylesheet" />



<style>
    .infoareas {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    table tr {
        margin-bottom: 0px;
        border: 1px solid #F2F2F2;
        border-right: transparent;
        background: #fff;
    }
    .well
    {
        background:#fff;
        padding:10px;
    }

    .container
    {
        width:98%;
    }
</style>


<div class="title-header">
    <div class="row">
        <div class="col-xs-12">
            <h4 class="titletext"> Manage <small>Activity fields </small></h4>
        </div>
    </div>
</div>
<a href="#/setting" class="newbackbtn ng-scope"> <i class="fa fa-arrow-left"></i> </a>
<a  class="waves-effect btn btn-danger roundbtntitle"> <i class="fa fa-info-circle"></i> </a>
<div style="display:none;" class="top50 ng-scope">

    <h4>String and Number</h4>


    <table class="table gridTable table-striped bs-item">


        <tbody class="dragarea ng-pristine ng-valid" ng-model="MyInventorycolumns">
            <!-- ngRepeat: obj in MyInventorycolumns -->
            <tr  class="MoveCursor ng-scope">
                <td>
                    <div class="infoareas">

                        <div class="row">

                            <div class="col-xs-2">
                                <a class="btn text btn-warning ng-binding">1 </a>
                            </div>

                            <div class="col-xs-6">
                                <a class="text ng-binding">Act string 1</a>
                            </div>
                            <div class="col-xs-4">
                                <div class="btn-group custombtnGroup">
                                    <label class="switch1">
                                        <input type="checkbox" ng-model="obj.originalMobileOrder" class="ng-valid ng-dirty">
                                        <div class="slider round"></div>
                                    </label>

                                    <!--<input ng-model="obj.originalMobileOrder"  type="checkbox" bootstrap-switch />-->


                                </div>
                            </div>
                        </div>

                    </div>
                </td>
            </tr><!-- end ngRepeat: obj in MyInventorycolumns -->
            <tr  class="MoveCursor ng-scope">
                <td>
                    <div class="infoareas">

                        <div class="row">

                            <div class="col-xs-2">
                                <a class="btn text btn-warning ng-binding">2 </a>
                            </div>

                            <div class="col-xs-6">
                                <a class="text ng-binding">Act string 2</a>
                            </div>
                            <div class="col-xs-4">
                                <div class="btn-group custombtnGroup">
                                    <label class="switch1">
                                        <input type="checkbox" ng-model="obj.originalMobileOrder" class="ng-valid ng-dirty">
                                        <div class="slider round" style="
    /* border-radius: 34px; */
"></div>
                                    </label>

                                    <!--<input ng-model="obj.originalMobileOrder"  type="checkbox" bootstrap-switch />-->


                                </div>
                            </div>
                        </div>

                    </div>
                </td>
            </tr><!-- end ngRepeat: obj in MyInventorycolumns -->
            <tr  class="MoveCursor ng-scope">
                <td>
                    <div class="infoareas">

                        <div class="row">

                            <div class="col-xs-2">
                                <a class="btn text btn-warning ng-binding">3 </a>
                            </div>

                            <div class="col-xs-6">
                                <a class="text ng-binding">Act string 3</a>
                            </div>
                            <div class="col-xs-4">
                                <div class="btn-group custombtnGroup">
                                    <label class="switch1">
                                        <input type="checkbox" ng-model="obj.originalMobileOrder" class="ng-valid ng-dirty">
                                        <div class="slider round"></div>
                                    </label>

                                    <!--<input ng-model="obj.originalMobileOrder"  type="checkbox" bootstrap-switch />-->


                                </div>
                            </div>
                        </div>

                    </div>
                </td>
            </tr>


        </tbody>


    </table>
    
    
    <div class="ng-scope">

        <h4>Dropdowns</h4>


        <table class="table gridTable table-striped bs-item">


            <tbody class="dragarea ng-pristine ng-valid" ng-model="MyInventorycolumns">
                <!-- ngRepeat: obj in MyInventorycolumns -->
                <tr  class="MoveCursor ng-scope">
                    <td>
                        <div class="infoareas">

                            <div class="row">

                                <div class="col-xs-2">
                                    <a class="btn text btn-warning ng-binding" style="
    background: #e99002;
">1</a>
                                </div>

                                <div class="col-xs-6">
                                    <a class="text ng-binding">Dropdown 1</a>
                                </div>
                                <div class="col-xs-4">
                                    <div class="btn-group custombtnGroup">
                                        <label class="switch1">
                                            <input type="checkbox" ng-model="obj.originalMobileOrder" class="ng-pristine ng-valid">
                                            <div class="slider round"></div>
                                        </label>

                                        <!--<input ng-model="obj.originalMobileOrder"  type="checkbox" bootstrap-switch />-->


                                    </div>
                                </div>
                            </div>

                        </div>
                    </td>
                </tr><!-- end ngRepeat: obj in MyInventorycolumns -->
                <tr  class="MoveCursor ng-scope">
                    <td>
                        <div class="infoareas">

                            <div class="row">

                                <div class="col-xs-2">
                                    <a class="btn text btn-warning ng-binding" style="
    background: #e99002;
">2</a>
                                </div>

                                <div class="col-xs-6">
                                    <a class="text ng-binding">Dropdown 2</a>
                                </div>
                                <div class="col-xs-4">
                                    <div class="btn-group custombtnGroup">
                                        <label class="switch1">
                                            <input type="checkbox" ng-model="obj.originalMobileOrder" class="ng-pristine ng-valid">
                                            <div class="slider round"></div>
                                        </label>

                                        <!--<input ng-model="obj.originalMobileOrder"  type="checkbox" bootstrap-switch />-->


                                    </div>
                                </div>
                            </div>

                        </div>
                    </td>
                </tr><!-- end ngRepeat: obj in MyInventorycolumns -->
                <tr  class="MoveCursor ng-scope">
                    <td>
                        <div class="infoareas">

                            <div class="row">

                                <div class="col-xs-2">
                                    <a class="btn text btn-warning ng-binding" style="
    background: #e99002;
">3</a>
                                </div>

                                <div class="col-xs-6">
                                    <a class="text ng-binding">Act string 3</a>
                                </div>
                                <div class="col-xs-4">
                                    <div class="btn-group custombtnGroup">
                                        <label class="switch1">
                                            <input type="checkbox" ng-model="obj.originalMobileOrder" class="ng-pristine ng-valid">
                                            <div class="slider round"></div>
                                        </label>

                                        <!--<input ng-model="obj.originalMobileOrder"  type="checkbox" bootstrap-switch />-->


                                    </div>
                                </div>
                            </div>

                        </div>
                    </td>
                </tr>


            </tbody>


        </table>
    </div>
</div>

<div style="display:none;" class="top50">
    <h4>Enter data name</h4>
    <div class="well">
        <div class="">

            <input type="text" class="form-control" />
        </div>
    </div>
    

    <h4>What kind of data will the field contain?</h4>
    <div class="well">
        <div class="form-group">
        
            <p class="remember animated bouncein delay-6">
                <input type="radio" id="test1" />
                <label for="test1">Text and Numbers </label>
            </p>
            <p class="remember animated bouncein delay-6">
                <input type="radio" id="test5" />
                <label for="test5">Numbers only</label>
            </p>
            <p class="remember animated bouncein delay-6">
                <input type="radio" id="test5" />
                <label for="test5">Checkbox</label>
            </p>
            <p class="remember animated bouncein delay-6">
                <input type="radio" id="test5" />
                <label for="test5">Dropdown list</label>
            </p>
            <p class="remember animated bouncein delay-6">
                <input type="radio" id="test5" />
                <label for="test5">date and Time</label>
            </p>

            <p class="remember animated bouncein delay-6">
                <input type="radio" id="test5" />
                <label for="test5">Currency Only</label>
            </p>

        </div>

        <a class="btn btn-primary" ><i class="fa fa-check"></i> Save</a>
        <a class="btn btn-primary"><i class="fa fa-info-circle"></i> Detail</a>
        <a class="btn btn-gray"><i class="fa fa-times"></i> Cancel</a>

    </div>

    

    
</div>


<div style="display:none;" class="top50">
    <h4>Data Type properties</h4>
    <div class="well">
        <div class="form-group">
            <label>Default value</label>
            <input type="text" class="form-control" name="name" value=" " />
        </div>

        <div class="form-group">
            <label>Max character length</label>
            <input type="text" class="form-control" name="name" value=" " />
        </div>
            
        <p class="remember animated bouncein delay-6">
            <input type="checkbox" id="test1" />
            <label for="test1">Is required</label>
        </p>
    </div>

    <h4>Activity Types</h4>
    <div class="well">
        <div id="activitytype">
            <div class="row">
                <div class="col-xs-6" ng-click="UpdateParentAction($index,'Increase')">

                    <div class="bgm-increase">

                        <div class="incarrow"><i class="fa fa-arrow-up"></i></div>

                        <span> Increase</span>
                        <!-- ngIf: _obj.SearchValue=='Increase' && _obj.ColumnName=='ParentAction' -->
                    </div>

                </div>
                <div class="col-xs-6" ng-click="UpdateParentAction($index,'Decrease')">
                    <div class="bgm-decrease">

                        <div class="deccarrow"><i class="fa fa-arrow-down"></i> </div>
                        <span>Decrease</span>
                        <!-- ngIf: _obj.SearchValue=='Decrease' && _obj.ColumnName=='ParentAction' -->
                    </div>
                </div>
                <div class="col-xs-6" ng-click="UpdateParentAction($index,'Move')">
                    <div class="bgm-move">
                        <div class="movarrow"><i class="fa fa-arrow-right"></i></div>

                        <span> Move </span>
                        <!-- ngIf: _obj.SearchValue=='Move' && _obj.ColumnName=='ParentAction' -->
                    </div>
                </div>
                <div class="col-xs-6" ng-click="UpdateParentAction($index,'Update')">
                    <div class="bgm-purple">
                        <div class="uparrow"><i class="fa fa-history fa-flip-horizontal"></i> </div>
                        <span>Update </span>
                        <!-- ngIf: _obj.SearchValue=='Update' && _obj.ColumnName=='ParentAction' -->
                    </div>
                </div>
                <div class="col-xs-6" ng-click="UpdateParentAction($index,'Tag')">
                    <div class="bgm-apply">
                        <div class="tagarrow"><i class="fa fa-tag"></i></div>
                        <span> Tag </span>
                        <!-- ngIf: _obj.SearchValue=='Tag' && _obj.ColumnName=='ParentAction' -->
                    </div>
                </div>
                <div class="col-xs-6" ng-click="UpdateParentAction($index,'Convert')">
                    <div class="bgm-convert">
                        <div class="conarrow"><i class="fa fa-sitemap"></i></div>
                        <span>Convert</span>
                        <!-- ngIf: _obj.SearchValue=='Convert' && _obj.ColumnName=='ParentAction' -->
                    </div>
                </div>
            </div>
        </div>



    </div>

    <h4>Mobile Order</h4>
    <div class="well">

        <div class="form-group">
            <select class="form-control">
                <option value="value">Select Mobile order</option>
            </select>
        </div>
        

        <a class="btn btn-primary"><i class="fa fa-check"></i> Save</a>

        <a class="btn btn-gray"><i class="fa fa-times"></i> Cancel</a>

    </div>
    
  
</div>


<div></div>

<!--<a ng-click="Openbottommenu()" class="menubtn waves-effect btn-info">
    <i class="fa fa-bars"></i>
</a>-->
<div id="bottommenumodal" class="modal bottommenu fade">
    <div class="modal-body">
        <ul class="animated slideInUp selectAction">
            <li> <a href="#/inventory"><span class="newinv">Add Inventory</span></a>  <a href="#/inventory" class=" waves-effect btn-warning btn"> <i class="fa fa-plus"></i> </a></li>
            <li> <a href="#/FindItems"><span class="newinv">Go to Inventory</span></a>  <a href="#/FindItems" class=" waves-effect btn-success btn"> <i class="fa fa-shopping-cart"></i> </a></li>
            <li> <a href="#/reportmenu"><span class="newinv">Go to Reports</span></a>  <a href="#/reportmenu" class=" waves-effect btn-primary btn"> <i class="fa fa-th-list"></i> </a></li>
            <li class="bottomlink"><span data-dismiss="modal">Close</span><a style="background:#bbb !important;" class=" waves-effect btn-primary btn decrease" data-dismiss="modal"> <i class="fa fa-times"></i>  </a></li>
        </ul>
    </div>
</div>

<!--<a class="myLinkToTop btn btn-primary">
    <i class="fa fa-arrow-circle-o-down"></i>
</a>

<a class="myMenuLink btn btn-primary">
    <i class="fa fa-arrow-circle-o-up"></i>
</a>-->

<div class="maincontent">
    <div id="mask"></div>

    <div class="mcontent">

        <h1>Masking</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam maiores, placeat. Est unde provident placeat deleniti, modi ea. Corporis iste dolorem ullam culpa. Asperiores illum harum, possimus cum ad doloribus.</p>
        <p>Ab soluta quidem quibusdam ullam error sapiente officiis, dolorum unde dolore corporis maiores delectus voluptate assumenda veniam? Nostrum eius ad sequi, nemo eos porro libero, nam, magni, perspiciatis fuga soluta!</p>
        <p>Blanditiis maxime unde perspiciatis repudiandae ipsum, in nihil possimus officiis? Minus, perferendis debitis doloribus sint repellendus accusamus recusandae pariatur quisquam asperiores temporibus optio in. Quia quas nihil fugiat omnis hic?</p>
        <p>Error cum tenetur cupiditate dolore, possimus vitae. Optio fuga ipsam sit amet modi unde, officia quo, tempore obcaecati quis, nihil. Natus, ducimus deserunt, minus consequuntur accusamus minima mollitia voluptatum optio.</p>
        <p>Quibusdam, dolor deserunt. Quia quo, deleniti saepe perspiciatis. Delectus dolorum labore quidem debitis excepturi facilis assumenda magni ex. Architecto illum tenetur, harum nulla consequatur debitis aut sint officiis praesentium similique.</p>
    </div>
</div>
<style>
  

    .maincontent {
        padding: 2em;
        font-family: sans-serif;
        line-height: 1.5;
        background: #2196F3;
        color: #FFF;
        box-sizing: border-box;
      
    }

    .show {
        display:block;
    }

    h1 {
        color: yellow;
    }

    #mask {
        position: fixed;
        top: 16%;
        right: 35px;
      
        width: 0px;
        height: 0px;
        border-radius: 100%;
        z-index: 99;
        transform: translateY(-50%) scale(1);
        box-shadow: 0 0 0 100em #FFF;
        transition: 1s;
    }

    .reveal #mask {
        width: 100vw;
        height: 100vw;
        transform: translateY(-50%) scale(1.5);
        pointer-events: none;
    }

  

</style>

<script>
    $('.myLinkToTop').click(function () {
        $('html, body').animate({ scrollTop: $(document).height() }, 'slow');
        return false;
    });

    $('.myMenuLink').click(function () {
        $('html, body').animate({ scrollTop: 0 }, 'slow');
        return false;
    });

    $('.roundbtntitle').on("click", function () {

     

        $('.maincontent').toggleClass('reveal');
    })


    
</script>














