
<style>
    .navbar-toggle {
        display: block !important;
    }


    #menu-toggle {
        display: block !important;
        float: left;
        padding: 12px;
        margin-right: 12px;
        background: #A00D03;
        border: transparent;
        color: #fff;
    }


    #myModal1 {
        position: fixed;
        right: 13px;
        font-size: 18px;
        text-align: right;
        bottom: 125px;
        display: none;
        background: transparent;
        overflow: hidden;
    }

        #myModal1 span {
            font-size: 14px;
            background: #fff;
            padding: 3px;
            box-shadow: 0 2px 10px rgba(0,0,0,.2);
            margin-right: 7px;
        }


        #myModal1 .modal-body {
            background: transparent;
        }

    .Addbtn {
        position: fixed;
        bottom: 75px;
        right: 20px;
        z-index: 13000;
        color: #128ece !important;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        text-align: center;
        line-height: 50px;
    }

    #selectAction {
        position: fixed;
        bottom: 120px;
        right: 25px;
    }



        #selectAction li {
            list-style-type: none;
        }



        #selectAction .btn {
            height: 40px;
            width: 40px;
            padding: 0px;
            border-radius: 100%;
            text-align: center;
            line-height: 38px;
            border: transparent;
            margin-bottom: 5px;
        }

    .btn-block {
        height: 45px;
        padding-left: 16px;
    }
</style>

<style>
    #myModalforlist {
        top: 25%;
        overflow: hidden;
        width: 95%;
        margin: 0 auto;
    }

        #myModalforlist ul {
            padding: 0px;
            margin-bottom: 0px;
        }

            #myModalforlist ul li {
                padding: 14px;
                border-bottom: 1px solid #ccc;
                background: #fff;
                list-style-type: none;
            }

                #myModalforlist ul li a {
                    padding-left: 20px;
                    display: block;
                    width: 100%;
                    text-decoration: none !important;
                    background: #fff;
                    color: #000;
                }


    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border: 1px solid #ccc;
        height: 50px !important;
    }

    .select2-container--default .select2-selection--multiple {
        border-radius: 0px !important;
        height: 50px;
    }
        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            background-color: transparent;
            border: transparent;
            border-radius: 4px;
            cursor: default;
            float: left;
            margin-right: 5px;
            margin-top: 10px;
            padding: 0 5px;
            /* font-size: 15px; */
        }
        .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
         
            cursor: pointer;
            display: inline-block;
            font-weight: bold;
            position: absolute;
            margin-right: 2px;
            font-size: 20px;
            top: 1px;
            right: -1px;
            padding: 10px;
            background: brown;
            padding-left: 15px;
            color: #fff !important;
            padding-right: 15px;
        }

    
</style>

<style>
    #itemlistmodal {
    
        background: rgba(255,255,255,0.9);
        width: 100%;
        margin: 0 auto;
        top: 0;
        bottom: 0;
        overflow: hidden;
    }

        #itemlistmodal .modal-header {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left:7px;
          
        }

    #itemlistmodal .modal-body
    {
        overflow:auto;
        min-height:250px;
        max-height:500px;
        padding:7px;
    }

        #itemlistmodal .modal-header .close {
            margin-top: 6px;
            opacity: 1;
        }
    .searchresultlist {
        padding-left: 0px;
        border: 1px solid #eaeaea;
    }
    
    
     .searchresultlist li a {
        color: #000;
        padding-left:10px;
    }
    .searchresultlist li {
        list-style-type: none;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        background:#fff;
    }

        .searchresultlist li a .fa-angle-right
        {
            position:absolute;
            right:32px;
            font-size:18px;
        }

</style>


<style>
    #locationlistmodal {
        background: rgba(255,255,255,0.9);
        width: 100%;
        margin: 0 auto;
        top: 0;
        bottom: 0;
        overflow: hidden;
    }

        #locationlistmodal .modal-header {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 7px;
        }

        #locationlistmodal .modal-body {
            overflow: auto;
            min-height: 250px;
            max-height: 500px;
            padding: 7px;
        }

        #locationlistmodal .modal-header .close {
            margin-top: 6px;
            opacity: 1;
        }

   
</style>

<div class="topheader">
    <div class="col-xs-3">
        <a href="#/mainmenu"><i class="fa fa-home"></i></a>

    </div>
    <div class="col-xs-6">
        <img style="width:150px; margin-top:-2px;" src="img/logo.png" alt="Alternate Text" />
    </div>
    <div class="col-xs-3">
        <div style="float:right;">
            <div class="headerdropdown dropdown">
                <a data-toggle="dropdown" aria-expanded="true">
                    <img src="img/dummy-user48.png" alt="">
                </a>
                <ul class="dropdown-menu animated slideInDown">


                    <li>
                        <a><i class="fa fa-user"></i> My Profile</a>
                    </li>




                    <li>
                        <a ng-click="logOut()" title="Logout"><i class="fa fa-sign-out"></i> Log Out</a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>

<div>
    <br /><br />
</div>


<div class="page-header">

    <h3>Add Inventory</h3>
</div>

<div class="maincontent animated slideInLeft">

    <form id="myform" name="myform">

        <div class="device">

            <div class="spinner" style="text-align:center">
                <i style="font-size: 100px; color: #0083C7;" class="fa fa-spin fa-spinner"></i>
            </div>






            <div style="display:none;" class="swiper-container">

                <div class="row iteminfo">
                    <div class="col-md-2 col-xs-3">

                        <output style="float: left; padding-top: 0px; margin-top: 0px;" id="list321"></output>

                        <img id="defaultimg" ng-click="getstep(9)" style="height:60px; width:60px; border:1px solid #ccc;" src="img/default.png" alt="Alternate Text" />
                    </div>
                    <div class="col-md-10 col-xs-9">
                        <div> <span style="font-size:18px;" ng-click="getstep(2)"> {{ InventoryObject.Quantity }}</span> <span ng-click="getstep(4)"> {{Uom}}</span>  of <span ng-click="getstep(0)">{{InventoryObject.ItemID}}</span>  </div>
                        <div ng-click="getstep(1)">  <span> [{{ InventoryObject.Description }}] </span> </div>
                        <div>
                            Loc:<span ng-click="getstep(3)">  {{InventoryObject.Location}} </span> Status:<span ng-click="getstep(4)"> {{InventoryObject.Status }} </span>
                        </div>
                    </div>
                </div>




                <div class="swiper-wrapper">

                    <div class="swiper-slide" ng-repeat="obj in MyinventoryFields" end-repeat>

                        <div class="form-group" ng-if="obj.ColumnName=='pPart'">


                            <div class="row">
                                <div class="col-xs-7">
                                    <label>Item Name <span>*</span> </label>
                                    <div ng-if="InventoryObject.AutoID==false" class="input-group">

                                        <div>

                                            <!--<select class="form-control" id="ItemName" ng-model="InventoryObject.ItemID">
            </select>-->


                                            <input type="text" id="ItemName" class="form-control" ng-model="InventoryObject.ItemID" required="" />

                                        </div>



                                        <span class="input-group-addon last" ng-click="itemlist()"><i class="fa fa-search"></i></span>

                                    </div>


                                    <div ng-if="InventoryObject.AutoID==true" class="input-group">

                                        <div>
                                            <input placeholder="Automated" type="text" id="ItemName" disabled="disabled" value="Automated" class="form-control" />
                                        </div>

                                    </div>

                                    
                                </div>

                                <div class="col-xs-5">
                                    <label>Auto/Manual</label>
                                    <br />

                                    <div id="label-switch" class="make-switch" data-on-label="SI" data-off-label="NO">
                                        <input data-on-label="auto" data-off-label="manual" type="checkbox" ng-model="InventoryObject.AutoID" bootstrap-switch>
                                    </div>

                                  
                                </div>
                            </div>

                        </div>

                        <div class="form-group" ng-if="obj.ColumnName=='pDescription'">
                            <label>Item Description </label>
                            <div class="input-group">



                                <input type="text" id="pDescriptionForm" ng-model="InventoryObject.Description" name="name" class="form-control" value="" />


                                <span class="input-group-addon last" ng-click="GetLastValue('Inv_Description','#pDescriptionForm')"><i class="fa fa-refresh"></i></span>
                            </div>








                        </div>


                        <div class="form-group" ng-if="obj.ColumnName=='iQty'">
                            <label>Quantity</label>


                            <input ng-model="InventoryObject.Quantity" min="0" class="form-control" type="number" name="Quantity" value="" />



                        </div>



                        <div class="form-group" ng-if="obj.ColumnName=='lLoc'">
                            <label>Select Location <span>*</span></label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="Location" ng-model="InventoryObject.Location" />
                                <!--<select class="form-control" id="Location" ng-model="InventoryObject.Location">
                                </select>-->
                                <span class="input-group-addon last" ng-click="locationlist()"><i class="fa fa-search"></i></span>

                                <span class="input-group-addon last" ng-click="GetLastValue('Inv_Location','#Location')"><i class="fa fa-refresh"></i></span>
                            </div>




                        </div>




                        <div class="form-group" ng-if="obj.ColumnName=='lZone'">
                            <label>Location Group</label>
                            <div class="input-group">

                                <input type="text" class="form-control" id="lZone" ng-model="InventoryObject.lZone" />



                                <span class="input-group-addon last" ng-click="GetLastValue('Inv_lZone','#lZone')"><i class="fa fa-refresh"></i></span>
                            </div>




                        </div>


                        <div class="form-group" ng-if="obj.ColumnName=='iStatusValue'">
                            <label>Status</label>
                            <div class="input-group">

                                <select class="form-control"  id="Status" ng-model="InventoryObject.Status">
                                    <option value="{{obj.StatusValue}}" ng-repeat="obj in StatusList">{{obj.StatusValue}}</option>
                                </select>


                                <span class="input-group-addon last" ng-click="GetLastValue('Inv_Status','#Status')"><i class="fa fa-refresh"></i></span>
                            </div>
                        </div>



                        <div class="form-group" ng-if="obj.ColumnName=='uomUOM'">
                            <label>Select UOM <span>*</span></label>
                            <div class="input-group">

                                <select class="form-control" ng-model="InventoryObject.Uom" selectpicker id="UOM" required="">
                                    <option ng-repeat="_optionValue in UOMList" value="{{_optionValue.UnitOfMeasureName}}">{{_optionValue.UnitOfMeasureName}}</option>
                                </select>


                                <span class="input-group-addon last" ng-click="GetLastValue('Inv_Uom','#UOM')"><i class="fa fa-refresh"></i></span>
                            </div>
                        </div>

                        <div class="form-group" ng-if="obj.ColumnName=='pCountFrq'">
                            <label>Item Group</label>
                            <div class="input-group">



                                <input class="form-control" id="itemgroup" ng-model="InventoryObject.ItemGroup" type="text" name="name" value=" " />


                                <span class="input-group-addon last" ng-click="GetLastValue('Inv_ItemGroup','#itemgroup')"><i class="fa fa-refresh"></i></span>
                            </div>
                        </div>




                        <div class="form-group" ng-if="obj.ColumnName=='iCostPerUnit'">
                            <label>Cost per unit</label>

                            <div class="input-group">

                                <input ng-model="InventoryObject.Cost" min="0" id="Costperunit" class="form-control" type="number" name="cost" value="" />

                                <span class="input-group-addon last" ng-click="GetLastValue('Inv_Cost','#Costperunit')"><i class="fa fa-refresh"></i></span>

                            </div>


                        </div>


                        
                       


                    </div>

                    <div class="swiper-slide">


                        <div ng-show="scanfieldID=='laststep'">



                            <output style="float: left; padding-top: 0px; margin-top: 0px;" id="list123"></output>


                            <div class="iosbtn">
                                <div class="fileUpload btn btn-primary" style="float:left;" ng-click="OpenBox()">
                                    <div><i class="fa fa-plus-circle"></i></div>
                                    <span>Add Image</span>

                                    <input type="file" style="visibility:hidden" id="files" accept="image/*;capture=camera" />
                                </div>
                            </div>



                            <div class="androidbtn">

                                <div class="fileUpload btn btn-primary" style="float:left;" ng-click="OpenBoxAndroid()">
                                    <div><i class="fa fa-plus-circle"></i></div>
                                    <span>Add Image</span>
                                    <input type="file" style="visibility:hidden" id="files" accept="image/*;capture=camera" />
                                </div>
                            </div>




                            <div>
                                <br />
                            </div>
                        </div>



                    </div>



                    <div class="swiper-slide" ng-repeat="obj in CustomItemDataList" ng-if="IsAvailableMyInventoryColumn(obj.ColumnMap)==true" end-repeat1>

                        <div class="form-group">
                            <label>{{obj.cfdName}} <span ng-if="obj.cfdIsRequired">*</span></label>

                            <div ng-if="obj.cfdDataType=='string'" class="input-group">
                                <input id="CustomItem_{{obj.cfdID}}" type="text" ng-model="InventoryObject.CustomPartData[$index].Value" class="form-control" value="{{obj.CfValue}}" />

                                <span ng-click="GetLastValueCustom(obj.cfdID,1)" class="input-group-addon last"><i class="fa fa-refresh"></i></span>
                            </div>

                            <div ng-if="obj.cfdDataType=='checkbox'">


                                <input ng-model="InventoryObject.CustomPartData[$index].Value" type="checkbox" bootstrap-switch />


                            </div>

                            <div class="input-group" ng-if="obj.cfdDataType=='combobox'">

                                <div class="select">
                                    <select id="CustomItem_{{obj.cfdID}}" class="form-control" ng-model="InventoryObject.CustomPartData[$index].Value">

                                        <option value="{{_optionValue}}" ng-repeat="_optionValue in obj.cfdComboValues track by $index">{{_optionValue}}</option>

                                    </select>
                                </div>
                                <span ng-click="GetLastValueCustom(obj.cfdID,1)" class="input-group-addon last"><i class="fa fa-refresh"></i></span>

                            </div>

                            <div ng-if="obj.cfdDataType=='date'||obj.cfdDataType=='datetime'" class="input-group">
                                <input id="CustomItem_{{obj.cfdID}}" type="text" class="form-control customFieldDatePicker FormDateType" ng-model="InventoryObject.CustomPartData[$index].Value" value="{{obj.CfValue}}" />
                                <span ng-click="GetLastValueCustom(obj.cfdID,1)" class="input-group-addon last"><i class="fa fa-refresh"></i></span>
                            </div>

                            <div ng-if="obj.cfdDataType=='number'" class="input-group">
                                <input id="CustomItem_{{obj.cfdID}}" type="number" class="form-control FormControlType" ng-model="InventoryObject.CustomPartData[$index].Value" value="{{obj.CfValue}}" />
                                <span ng-click="GetLastValueCustom(obj.cfdID,1)" class="input-group-addon last"><i class="fa fa-refresh"></i></span>
                            </div>


                            <div ng-if="obj.cfdDataType=='currency'" class="input-group">
                                <input id="CustomItem_{{obj.cfdID}}" type="text" class="form-control FormControlType" ng-model="InventoryObject.CustomPartData[$index].Value" ng-change="" value="{{obj.CfValue}}" />
                                <span ng-click="GetLastValueCustom(obj.cfdID,1)" class="input-group-addon last"><i class="fa fa-refresh"></i></span>
                            </div>


                        </div>




                    </div>

                    <div ng-repeat="obj in UnitDataList" ng-if="IsAvailableMyInventoryColumn(obj.ColumnMap)==true" class="swiper-slide" end-repeat2>


                        <div class="form-group">
                            <label>{{obj.FieldLabel}}</label>

                            <div ng-if="obj.FieldDataType=='Text' && obj.FieldName=='ReqValue'" class="input-group">
                                <input id="UniqueTag" type="text" ng-model="InventoryObject.UniqueTag" class="form-control" value="" />
                                <span ng-click="GetLastValue('Inv_UniqueTag','#UniqueTag')" class="input-group-addon last"><i class="fa fa-refresh"></i></span>
                            </div>

                            <div ng-if="obj.FieldDataType=='Text' && obj.FieldName=='UnitTag2'" class="input-group">
                                <input id="UniqueTag" type="text" ng-model="InventoryObject.UnitTag2" class="form-control" value="" />
                                <span ng-click="GetLastValue('Inv_UnitTag2','#UnitTag2')" class="input-group-addon last"><i class="fa fa-refresh"></i></span>
                            </div>

                            <div ng-if="obj.FieldDataType=='Text' && obj.FieldName=='UnitTag3'" class="input-group">
                                <input id="UnitTag3" type="text" ng-model="InventoryObject.UnitTag3" class="form-control" value="" />
                                <span ng-click="GetLastValue('Inv_UnitTag3','#UnitTag3')" class="input-group-addon last"><i class="fa fa-refresh"></i></span>
                            </div>

                            <div ng-if="obj.FieldDataType=='Date' && obj.FieldName=='UniqueDate'" class="input-group">
                                <input id="UniqueDate" type="date" ng-model="InventoryObject.UniqueDate" class="form-control" value="" />
                                <span ng-click="GetLastValue('Inv_UniqueDate','#UniqueDate')" class="input-group-addon last"><i class="fa fa-refresh"></i></span>
                            </div>

                            <div ng-if="obj.FieldDataType=='Date' && obj.FieldName=='UnitDate2'" class="input-group">
                                <input id="UnitDate2" type="date" ng-model="InventoryObject.UnitDate2" class="form-control" value="" />
                                <span ng-click="GetLastValue('Inv_UnitDate2','#UnitDate2')" class="input-group-addon last"><i class="fa fa-refresh"></i></span>
                            </div>

                            <div ng-if="obj.FieldDataType=='Number' && obj.FieldName=='UnitNumber1'" class="input-group">
                                <input id="UnitNumber1" type="number" class="form-control" value="" />
                                <span ng-click="GetLastValue('Inv_UnitNumber1','#UnitNumber1')" class="input-group-addon last"><i class="fa fa-refresh"></i></span>
                            </div>

                            <div ng-if="obj.FieldDataType=='Number' && obj.FieldName=='UnitNumber2'" class="input-group">
                                <input id="UnitNumber2" type="number" class="form-control" value="" />
                                <span ng-click="GetLastValue('Inv_UnitNumber2','#UnitNumber2')" class="input-group-addon last"><i class="fa fa-refresh"></i></span>
                            </div>

                        </div>

                     

                    </div>

                    <div ng-repeat="obj in CustomActivityDataList" class="swiper-slide" end-repeat3>

                        <div class="form-group">
                            <label>{{obj.cfdName}} <span ng-if="obj.cfdIsRequired">*</span></label>
                            <div ng-if="obj.cfdDataType=='string'" class="input-group">
                                <input id="CustomActivity_{{obj.cfdID}}" type="text" ng-model="InventoryObject.CustomTxnData[$index].Value" class="form-control stringType" value="{{obj.CfValue}}" />
                                <span ng-click="GetLastValueCustom(obj.cfdID,2)" class="input-group-addon last"><i class="fa fa-refresh"></i></span>
                            </div>


                            <div ng-if="obj.cfdDataType=='checkbox'" class="checkbox">

                                <input type="checkbox" ng-model="InventoryObject.CustomTxnData[$index].Value" bootstrap-switch>

                            </div>

                            <div class="input-group" ng-if="obj.cfdDataType=='combobox'">


                                <div class="select">
                                    <select id="CustomActivity_{{obj.cfdID}}" class="form-control" ng-model="InventoryObject.CustomTxnData[$index].Value">

                                        <option value="{{_optionValue}}" ng-repeat="_optionValue in obj.cfdComboValues track by $index">{{_optionValue}}</option>

                                    </select>
                                </div>
                                <span ng-click="GetLastValueCustom(obj.cfdID,2)" class="input-group-addon last"><i class="fa fa-refresh"></i></span>

                            </div>


                            <div ng-if="obj.cfdDataType=='date'||obj.cfdDataType=='datetime'" class="input-group">
                                <input id="CustomActivity_{{obj.cfdID}}" type="date" ng-model="InventoryObject.CustomTxnData[$index].Value" class="form-control customFieldDatePicker FormDateType" value="{{obj.CfValue}}" />
                                <span ng-click="GetLastValueCustom(obj.cfdID,2)" class="input-group-addon last"><i class="fa fa-refresh"></i></span>
                            </div>

                            <div ng-if="obj.cfdDataType=='number'" class="input-group">
                                <input id="CustomActivity_{{obj.cfdID}}" type="number" class="form-control FormControlType" ng-model="InventoryObject.CustomTxnData[$index].Value" value="{{obj.CfValue}}" />
                                <span ng-click="GetLastValueCustom(obj.cfdID,2)" class="input-group-addon last"><i class="fa fa-refresh"></i></span>
                            </div>

                            <div ng-if="obj.cfdDataType=='currency'" class="input-group">
                                <input id="CustomActivity_{{obj.cfdID}}" type="text" class="form-control FormControlType" ng-model="InventoryObject.CustomTxnData[$index].Value" ng-change="" value="{{obj.CfValue}}" />
                                <span ng-click="GetLastValueCustom(obj.cfdID,2)" class="input-group-addon last"><i class="fa fa-refresh"></i></span>
                            </div>

                        </div>













                    </div>




                </div>

                <table style="width:100%;">
                    <tr>
                        <td>
                            <a class="btn btn-primary arrow-left"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;Back</a>
                        </td>

                        <td ng-if="scanfieldID=='forquantity'"><button ng-click="UpDownValue('Quantity',true)" type="button" class="btn scanbtn btn-primary"><i class="fa fa-plus"></i></button></td>
                        <td ng-if="scanfieldID=='forquantity'"><button ng-click="UpDownValue('Quantity',false)" type="button" class="btn scanbtn btn-primary"><i class="fa fa-minus"></i> </button></td>


                        <td ng-if="scanfieldID=='pDescriptionForm'||scanfieldID=='pPartForm'||scanfieldID=='Location'">
                            <a class="scanbtn btn btn-primary" ng-click="ScanNew()"> <i class="fa fa-barcode"></i>&nbsp;&nbsp;Scan</a>
                        </td>
                        <td>
                            <a class="btn btn-primary arrow-right">Next&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
                        </td>
                    </tr>
                </table>


                <hr />


                <div ng-if="CheckRequiredField()==true" class="wellNew">
                    Seems like your inventory details are not filled up correctly may be you are missing some required details or need to correct some value ,please avail correct values in those inputs.
                </div>

                <a ng-click="addinventory()" style="width:100%; margin-top:15px;" ng-disabled="CheckRequiredField()==true" id="addinventories" class="btn btn-primary"> <i class="fa fa-plus"></i>  Add Inventory</a>

            </div>
            <div style="display: none;" class="pagination"></div>












        </div>


    </form>



</div>
<div>
    <br /><br />
</div>
<div id="myModalforlist" class="modal fade" role="dialog">
    <!-- Modal content-->




    <div class="modal-body">

        <ul>
            <li>
                <a onclick="capturePhoto();"> <i class="fa fa-camera"></i> Capture Photo</a>
            </li>
            <li>
                <a ng-click="triggerFileClick()"><i class="fa fa-picture-o"></i> From Photo Libarary</a>
            </li>
        </ul>



    </div>
    <!--<div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
    </div>-->


</div>

<div id="itemlistmodal" class="modal fade animated bounceIn">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ><span> <i class="fa fa-times-circle"></i> </span></button>
        <h4>select item</h4>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <input type="text" placeholder="Type Keywork to find items"  ng-change="OnChangeItemNameFunction()" class="form-control" ng-model="SearchItemValue" required="" autofocus />
          
        </div>

        <div ng-if="ItemSearching==true">
            <i class="fa fa-spin fa-spinner"></i> searching please wait..
        </div>
        <ul class="searchresultlist" ng-if="ItemSearching==false">
            <li ng-click="SetItemData(obj)" ng-repeat="obj in SearchList"><a>{{obj.ItemID}} <i class="fa fa-angle-right"></i></a></li>
        </ul>

    </div>
</div>


<div id="locationlistmodal" class="modal fade animated bounceIn">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span> <i class="fa fa-times-circle"></i> </span></button>
        <h4>select Location</h4>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <input type="text" placeholder="Type Keywork to find locations" ng-change="OnChangeLocationNameFunction()" class="form-control" ng-model="SearchLocationValue" required="" autofocus />

        </div>

        <div ng-if="LocationSearching==true">
            <i class="fa fa-spin fa-spinner"></i> searching please wait..
        </div>
        <ul class="searchresultlist" ng-if="LocationSearching==false">
            <li ng-click="LocationSetItemData(obj)" ng-repeat="obj in LocationSearchList"><a>{{obj.LocationName}} <i class="fa fa-angle-right"></i></a></li>
        </ul>

    </div>
</div>