


<style>
    .navbar-toggle {
        display: block !important;
    }


    #menu-toggle {
        display: block !important;
        float: left;
        padding: 12px;
        margin-right: 12px;
        background: #A00D03;
        border: transparent;
        color: #fff;
    }


    #myModal1 {
        position: fixed;
        right: 13px;
        font-size: 18px;
        text-align: right;
        bottom: 125px;
        display: none;
        background: transparent;
        overflow: hidden;
    }

        #myModal1 span {
            font-size: 14px;
            background: #fff;
            padding: 3px;
            box-shadow: 0 2px 10px rgba(0,0,0,.2);
            margin-right: 7px;
        }


        #myModal1 .modal-body {
            background: transparent;
        }

    .Addbtn {
        position: fixed;
        bottom: 75px;
        right: 20px;
        z-index: 13000;
        color: #128ece !important;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        text-align: center;
        line-height: 50px;
    }

    #selectAction {
        position: fixed;
        bottom: 120px;
        right: 25px;
    }



        #selectAction li {
            list-style-type: none;
        }



        #selectAction .btn {
            height: 40px;
            width: 40px;
            padding: 0px;
            border-radius: 100%;
            text-align: center;
            line-height: 38px;
            border: transparent;
            margin-bottom: 5px;
        }

    .btn-block {
        height: 45px;
        padding-left: 16px;
    }
</style>




<div class="topheader">
    <div class="col-xs-3">
        <a href="#/mainmenu"><i class="fa fa-home"></i></a>

    </div>
    <div class="col-xs-6">
        <img style="width:150px; margin-top:-2px;" src="img/logo.png" alt="Alternate Text" />
    </div>
    <div class="col-xs-3">
        <div style="text-align:right;">
            <a><i class="fa fa-chevron-circle-right"></i></a>

        </div>

    </div>
</div>

<div>
    <br /><br />
</div>


<div class="page-header">

    <h3>Add Inventory</h3>
</div>
<div class="maincontent">



    <form name="myform">

        <div class="form-group">
            <label>Item Name</label>
            <div class="input-group">


                <!--<input type="text" id="pPartForm" class="form-control" ng-model="InventoryObject.ItemName" required="" autofocus />-->
               <select class="form-control" id="ItemName" ng-model="InventoryObject.ItemName" required="" autofocus>
                    <option ng-repeat="_optionValue in ItemList" value="{{_optionValue.ItemID}}">{{_optionValue.ItemNumber}}</option>
                </select>

                <span class="input-group-addon last" ng-click="ScanNew('pPartForm')"> scan</span>
                <span class="input-group-addon last" ng-click="GetLastValue('Inv_ItemName','#ItemName')"><i class="fa fa-refresh"></i></span>
            </div>
        </div>


        <div class="form-group">
            <label>Item Description</label>
            <div class="input-group">



                <input type="text" id="pDescriptionForm" name="name" class="form-control" value="" />

                <span class="input-group-addon last" ng-click="ScanNew('pDescriptionForm')"> scan</span>
                <span class="input-group-addon last" ng-click="GetLastValue('Inv_pDescriptionForm','#pDescriptionForm')"><i class="fa fa-refresh"></i></span>
            </div>
        </div>


        <div class="form-group">
            <label>Quantity</label>
            <div class="input-group">

                <input ng-model="InventoryObject.Quantity" class="form-control" type="text" name="Quantity" value="" />

                <span class="input-group-addon last" ng-click="UpDownValue('Quantity',true)"><i class="fa fa-plus"></i></span>
                <span class="input-group-addon last" ng-click="UpDownValue('Quantity',false)"><i class="fa fa-minus"></i></span>
            </div>
        </div>


        <div class="form-group">
            <label>Select Location</label>
            <div class="input-group">



                <select class="form-control" id="Location" ng-model="InventoryObject.Location">
                    <option ng-repeat="_optionValue in LocationList" value="{{_optionValue.LocationID}}">{{_optionValue.LocationName}}</option>
                </select>

                <span class="input-group-addon last" ng-click="ScanNew('Location')"> scan</span>
                <span class="input-group-addon last" ng-click="GetLastValue('Inv_Location','#Location')"><i class="fa fa-refresh"></i></span>
            </div>
        </div>

        <div class="form-group">
            <label>Select UOM</label>
            <div class="input-group">



                <select class="form-control" ng-model="InventoryObject.UOM" id="UOM" required="">
                    <option ng-repeat="_optionValue in UOMList" value="{{_optionValue.UnitOfMeasureID}}">{{_optionValue.UnitOfMeasureName}}</option>
                </select>


                <span class="input-group-addon last" ng-click="GetLastValue('Inv_UOM','#UOM')"><i class="fa fa-refresh"></i></span>
            </div>
        </div>


        <div class="form-group">
            <label>Status</label>
            <div class="input-group">



                <input class="form-control" id="Status" type="text" name="name" value=" " />


                <span class="input-group-addon last" ng-click="GetLastValue('Inv_Status','#Status')"><i class="fa fa-refresh"></i></span>
            </div>
        </div>



        <div class="form-group">
            <label>Cost per unit</label>
            <input ng-model="InventoryObject.CostPerUnit" class="form-control" type="text" name="cost" value="" />
        </div>





        <div class="form-group">
            <label>Unique tag</label>
            <input ng-model="InventoryObject.uniquetag" class="form-control" type="text" name="unit" value="" />
        </div>


        <div class="fileUpload btn btn-primary" ng-click="OpenBox()">
            <div><i class="fa fa-plus-circle"></i></div>
            <span>Add Image</span>
            
            <input type="file" style="visibility:hidden" id="files" multiple />
        </div>

      
        <output id="list"></output>

      




        <div>
            <br />
        </div>

        <a ng-click="addinventory()" style="width:100%;" ng-disabled="myform.$invalid" id="addinventories" class="btn btn-primary"> <i class="fa fa-plus"></i>  Add Inventory</a>
    </form>
</div>
<div>
    <br /><br />
</div>
