




<link href="css/history.css" rel="stylesheet" />



<div class="title-header">

    <div class="row">

        <div class="col-xs-12">
            <h4 class="titletext">Inventory history </h4>
        </div>
    </div>
</div>

<a href="#/detail" class="newbackbtn left15"> <i class="fa fa-arrow-left"></i> </a>

<a class="btn btn-danger waves-effect roundbtntitle"> <i class="fa fa-plus"></i> </a>



<div style="text-align:left; padding-left:12px; padding-right:12px;" class="top50 container" >


    <div class="iteminfo">
        <div class="row">
            <div class="col-xs-7">
                <p style="margin-bottom:4px;">{{CurrentInventory.pPart}} </p>
                <small> {{CurrentInventory.pDescription}} </small>
            </div>
            <div class="col-xs-5">
                <div style="text-align:right">
                    <h4 class="label label-warning">{{CurrentInventory.iQty}} {{CurrentInventory.uomUOM}}</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <p>Loc {{CurrentInventory.lLoc}} </p>
              
            </div>
            <div class="col-xs-6">
                <div style="text-align:right">
                    <p>Status {{CurrentInventory.iStatusValue}} </p>
                </div>
               
            </div>
        </div>
    </div>

    <h4>Recent Activities</h4>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label>Activity Date </label>
                <div class="fg-line">
                    <input id="ActivityDate" ng-change="GetRecentActivities()" ng-model="ActivityDate" class="form-control ItemAutoComplete" type="date" name="name" value="" />
                </div>

            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label>Activity </label>

                <div class="dropdown" >
                    <button style=" width:100%; height:47px; border:transparent;" type="button" data-toggle="dropdown" class="waves-effect btn btn-warning">
                    <span ng-if="Activity==''">Activity </span> <span ng-if="Activity!=''"><span ng-if="Activity!='Apply'">{{Activity}} </span><span ng-if="Activity=='Apply'">Tag </span></span>  <i class="fa fa-caret-down"></i></button>
                    <ul class="dropdown-menu" style="width:100%;">
                        <li><a ng-click="Activity=''">All</a></li>
                        <li><a ng-click="Activity='Increase'">Increase</a></li>
                        <li><a ng-click="Activity='Decrease'">Decrease</a></li>
                        <li><a ng-click="Activity='Convert'">Convert</a></li>
                        <li><a ng-click="Activity='Update'">Update</a></li>
                        <li><a ng-click="Activity='Apply'">Tag</a></li>
                        <li><a ng-click="Activity='Move'">Move</a></li>
                    </ul>
                </div>

                

            </div>
        </div>
    </div>
    <div ng-if="isSearching==true">
        <img src="img/loader.gif"  />
    </div>
    <div ng-repeat="_obj in Recentactivities" ng-if="isSearching==false && Recentactivities.length>0">




        <div ng-if="_obj.ParentAction=='Increase'" class="activityinfo bgm-increase">
            <div class="row">
                <div class="col-xs-2">
                    <span class="btn-floating resize btn-large waves-effect waves-light accent-color btn z-depth-1">
                        I
                    </span>
                </div>
                <div class="col-xs-7">
                    <h5>Increase {{_obj.itQty}} {{_obj.uomUOM}} on {{_obj.itUpdateDate}}</h5>
                </div>
                <div class="col-xs-3">
                    <div style="text-align:right; margin-right:5px; margin-top:12px;" ng-if="_obj.CanUndo==true">
                        <a style="height:30px; width:30px; background:#fff; border-radius:100%; border:transparent; padding:0px; line-height:30px; text-align:center;" class="btn waves-effect" ng-click="Undo(_obj.itID,_obj.itInvID,_obj.itParentTransID)"> <i class="fa fa-undo"></i></a>
                    </div>
                </div>
            </div>

        </div>
        <div ng-if="_obj.ParentAction=='Decrease'" class="bgm-decrease activityinfo">
            <div class="row">
                <div class="col-xs-2">
                    <span class="btn-floating resize btn-large waves-effect waves-light accent-color btn z-depth-1">
                        D
                    </span>
                </div>
                <div class="col-xs-7">
                    <h5>Decrease {{_obj.itQty}} {{_obj.uomUOM}} on {{_obj.itUpdateDate}}</h5>
                </div>
                <div class="col-xs-3">
                    <div style="text-align:right; margin-right:5px; margin-top:12px;" ng-if="_obj.CanUndo==true">
                        <a style="height:30px; width:30px; background:#fff; border-radius:100%; border:transparent; padding:0px; line-height:30px; text-align:center;" class="btn waves-effect" ng-click="Undo(_obj.itID,_obj.itInvID,_obj.itParentTransID)"> <i class="fa fa-undo"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="_obj.ParentAction=='Move'" class="bgm-move activityinfo">
            <div class="row">
                <div class="col-xs-2">
                    <span class="btn-floating resize btn-large waves-effect waves-light accent-color btn z-depth-1">
                       M
                    </span>
                </div>
                <div class="col-xs-7">
                    <h5>Move {{_obj.itQty}} {{_obj.uomUOM}} on {{_obj.itUpdateDate}}</h5>
                </div>
                <div class="col-xs-3">
                    <div style="text-align:right; margin-right:5px; margin-top:12px;" ng-if="_obj.CanUndo==true">
                        <a style="height:30px; width:30px; background:#fff; border-radius:100%; border:transparent; padding:0px; line-height:30px; text-align:center;" class="btn waves-effect" ng-click="Undo(_obj.itID,_obj.itInvID,_obj.itParentTransID)"> <i class="fa fa-undo"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="_obj.ParentAction=='Convert'" class="bgm-convert activityinfo">
            <div class="row">
                <div class="col-xs-2">
                    <span class="btn-floating resize btn-large waves-effect waves-light accent-color btn z-depth-1">
                        C
                    </span>
                </div>
                <div class="col-xs-7">
                    <h5>Convert {{_obj.itQty}} {{_obj.uomUOM}} on {{_obj.itUpdateDate}}</h5>
                </div>
                <div class="col-xs-3">
                    <div style="text-align:right; margin-right:5px; margin-top:12px;" ng-if="_obj.CanUndo==true">
                        <a style="height:30px; width:30px; background:#fff; border-radius:100%; border:transparent; padding:0px; line-height:30px; text-align:center;" class="btn waves-effect" ng-click="Undo(_obj.itID,_obj.itInvID,_obj.itParentTransID)"> <i class="fa fa-undo"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="_obj.ParentAction=='Update'" class="bgm-status activityinfo">
            <div class="row">
               <div class="col-xs-2">
                <span class="btn-floating resize btn-large waves-effect waves-light accent-color btn z-depth-1">
                    U
                </span>
            </div>
            <div class="col-xs-7">
                <h5>Update {{_obj.itQty}} {{_obj.uomUOM}} on {{_obj.itUpdateDate}}</h5>
            </div>
                <div class="col-xs-3">
                    <div style="text-align:right; margin-right:5px; margin-top:12px;" ng-if="_obj.CanUndo==true">
                        <a style="height:30px; width:30px; background:#fff; border-radius:100%; border:transparent; padding:0px; line-height:30px; text-align:center;" class="btn waves-effect" ng-click="Undo(_obj.itID,_obj.itInvID,_obj.itParentTransID)"> <i class="fa fa-undo"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="_obj.ParentAction=='Apply'" class="bgm-apply activityinfo">
            <div class="row">
                <div class="col-xs-2">
                    <span class="btn-floating resize btn-large waves-effect waves-light accent-color btn z-depth-1">
                        T
                    </span>
                </div>
                <div class="col-xs-7">
                    <h5>Tag {{_obj.itQty}} {{_obj.uomUOM}} on {{_obj.itUpdateDate}}</h5>
                </div>
                <div class="col-xs-3">
                    <div style="text-align:right; margin-right:5px; margin-top:12px;" ng-if="_obj.CanUndo==true">
                        <a style="height:30px; width:30px; background:#fff; border-radius:100%; border:transparent; padding:0px; line-height:30px; text-align:center;" class="btn waves-effect" ng-click="Undo(_obj.itID,_obj.itInvID,_obj.itParentTransID)"> <i class="fa fa-undo"></i></a>
                    </div>
                </div>
            </div>
        </div>

        
      
    </div>
    <div ng-if="Recentactivities.length==0 && isSearching==false">
        <h4>No Data available, please update your search data and then give it another shot. </h4>

    </div>
</div>

<a ng-click="Openbottommenu()" class="menubtn waves-effect btn-info">
    <i class="fa fa-bars"></i>
</a>

<div id="bottommenumodal" class="modal bottommenu fade">
    <div class="modal-body">
        <ul class="animated slideInUp selectAction">
            <li> <a href="#/inventory"><span class="newinv">Add Inventory</span></a>  <a href="#/inventory" class=" waves-effect btn-warning btn"> <i class="fa fa-plus"></i> </a></li>
            <li> <a href="#/FindItems"><span class="newinv">Go to Inventory</span></a>  <a href="#/FindItems" class=" waves-effect btn-success btn"> <i class="fa fa-shopping-cart"></i> </a></li>
            <li> <a href="#/reportmenu"><span class="newinv">Go to Reports</span></a>  <a href="#/reportmenu" class=" waves-effect btn-primary btn"> <i class="fa fa-th-list"></i> </a></li>
            <li class="bottomlink"><span data-dismiss="modal">Close</span><a style="background:#bbb !important;" class=" waves-effect btn-primary btn decrease" data-dismiss="modal"> <i class="fa fa-times"></i>  </a></li>
        </ul>
    </div>
</div>







