


<style>
    .navbar-toggle {
        display: block !important;
    }


    #menu-toggle {
        display: block !important;
        float: left;
        padding: 12px;
        margin-right: 12px;
        background: #A00D03;
        border: transparent;
        color: #fff;
    }


    #myModal1 {
        position: fixed;
        right: 13px;
        font-size: 18px;
        text-align: right;
        bottom: 125px;
        display: none;
        background: transparent;
        overflow: hidden;
    }

        #myModal1 span {
            font-size: 14px;
            background: #fff;
            padding: 3px;
            box-shadow: 0 2px 10px rgba(0,0,0,.2);
            margin-right: 7px;
        }


        #myModal1 .modal-body {
            background: transparent;
        }

    .Addbtn {
        position: fixed;
        bottom: 75px;
        right: 20px;
        z-index: 13000;
        color: #128ece !important;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        text-align: center;
        line-height: 50px;
    }

    #selectAction {
        position: fixed;
        bottom: 120px;
        right: 25px;
    }



        #selectAction li {
            list-style-type: none;
        }



        #selectAction .btn {
            height: 40px;
            width: 40px;
            padding: 0px;
            border-radius: 100%;
            text-align: center;
            line-height: 38px;
            border: transparent;
            margin-bottom: 5px;
        }

    .btn-block {
        height: 45px;
        padding-left: 16px;
    }



</style>


<script>







</script>

<div class="topheader">
    <div class="col-xs-3">
        <a href="#/mainmenu"><i class="fa fa-home"></i></a>

    </div>
    <div class="col-xs-6">
        <img style="width:150px; margin-top:-2px;" src="img/logo.png" alt="Alternate Text" />
    </div>
    <div class="col-xs-3">
        <div style="float:right;">
            <div class="headerdropdown dropdown">
                <a data-toggle="dropdown" aria-expanded="true">
                    <img src="img/dummy-user48.png" alt="">
                </a>
                <ul class="dropdown-menu animated slideInDown">


                    <li>
                        <a><i class="fa fa-user"></i> My Profile</a>
                    </li>




                    <li>
                        <a ng-click="logOut()" title="Logout"><i class="fa fa-sign-out"></i> Log Out</a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>

<div>
    <br /><br />
</div>


<div class="page-header">

    <h3>Add Inventory</h3>
</div>
<div class="maincontent animated slideInLeft">

    <form id="myform" name="myform">

        <div class="device">

            <div class="swiper-container">

                <div class="row iteminfo">
                    <div class="col-md-2 col-xs-3">

                        <output style="float: left; padding-top: 0px; margin-top: 0px;" id="list321"></output>
                   
                        <img ng-click="getstep(6)" style="height:60px; width:60px; border:1px solid #ccc;" src="img/default.png" alt="Alternate Text" />
                    </div>
                    <div class="col-md-10 col-xs-9">
                       <div> <span style="font-size:18px;" ng-click="getstep(2)"> {{ Quantity }}</span> <span ng-click="getstep(4)"> {{UOM}}</span>  of <span ng-click="getstep(0)">{{ItemName}}</span>  </div>
                        <div ng-click="getstep(1)">  <span> [{{ Description }}] </span> </div>
                        <div>
                            Loc:<span ng-click="getstep(3)">  {{Location}} </span> Status:<span ng-click="getstep(4)"> {{Status }} </span>
                        </div>
                    </div>
                </div>


                <div class="swiper-wrapper">


                    <div class="swiper-slide">



                        <div class="form-group">
                            <label>Item Name</label>
                            <div class="input-group">


                                <input type="text" id="ItemName" class="form-control" ng-model="InventoryObject.ItemName" required="" autofocus />


                                <span class="input-group-addon last" ng-click="GetLastValue('Inv_ItemName','#ItemName')"><i class="fa fa-refresh"></i></span>
                            </div>

                            <table style="width:100%;">
                                <tr>
                                    <td>
                                        <a ng-click="movetoback()" class="btn btn-primary"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;Back</a>
                                    </td>
                                    <td>
                                        <a class="scanbtn btn btn-primary" id="itemName"> <i class="fa fa-barcode"></i>&nbsp;&nbsp;Scan</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary arrow-right">Next&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
                                    </td>
                                </tr>
                            </table>


                        </div>

                    </div>

                    <div class="swiper-slide">



                        <div class="form-group">
                            <label>Item Description</label>
                            <div class="input-group">



                                <input type="text" id="pDescriptionForm" ng-model="InventoryObject.Description" name="name" class="form-control" value="" />


                                <span class="input-group-addon last" ng-click="GetLastValue('Inv_Description','#pDescriptionForm')"><i class="fa fa-refresh"></i></span>
                            </div>


                            <table style="width:100%;">
                                <tr>
                                    <td><a class="btn btn-primary arrow-left"><i class="fa fa-angle-left"></i> Back</a></td>
                                    <td><a class="scanbtn btn btn-primary" ng-click="ScanNew('pDescriptionForm')"><i class="fa fa-barcode"></i>&nbsp;&nbsp;Scan</a></td>
                                    <td><a class="btn btn-primary arrow-right">Next <i class="fa fa-angle-right"></i></a></td>
                                </tr>
                            </table>





                        </div>




                    </div>

                    <div class="swiper-slide">

                        <div class="form-group">
                            <label>Quantity</label>


                            <input ng-model="InventoryObject.Quantity" min="0" class="form-control" type="number" name="Quantity" value="" />



                        </div>


                        <table>
                            <tr>
                                <td><a class="btn btn-primary arrow-left"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;Back</a></td>
                                <td><button ng-click="UpDownValue('Quantity',true)" type="button" class="btn scanbtn btn-primary"><i class="fa fa-plus"></i></button></td>
                                <td><button ng-click="UpDownValue('Quantity',false)" type="button" class="btn scanbtn btn-primary"><i class="fa fa-minus"></i> </button></td>
                                <td><a class="btn btn-primary arrow-right">Next&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></td>
                            </tr>
                        </table>

                    </div>

                    <div class="swiper-slide">


                        <div class="form-group">
                            <label>Select Location</label>
                            <div class="input-group">



                                <select class="form-control" id="Location" ng-model="InventoryObject.Location">
                                    <option ng-repeat="_optionValue in LocationList" value="{{_optionValue.LocationID}}">{{_optionValue.LocationName}}</option>
                                </select>

                                <span class="input-group-addon last" ng-click="GetLastValue('Inv_Location','#Location')"><i class="fa fa-refresh"></i></span>
                            </div>

                            <table>
                                <tr>
                                    <td><a class="btn btn-primary arrow-left"><i class="fa fa-angle-left"></i> Back</a></td>
                                    <td><a class="scanbtn btn btn-primary" ng-click="ScanNew('Location')"> <i class="fa fa-barcode"></i> Scan</a></td>
                                    <td><a class="btn btn-primary arrow-right">Next <i class="fa fa-angle-right"></i></a></td>
                                </tr>
                            </table>


                        </div>

                    </div>


                    <div class="swiper-slide">

                        <div class="form-group">
                            <label>Status</label>
                            <div class="input-group">



                                <input class="form-control" id="Status" ng-model="InventoryObject.Status" type="text" name="name" value=" " />


                                <span class="input-group-addon last" ng-click="GetLastValue('Inv_Status','#Status')"><i class="fa fa-refresh"></i></span>
                            </div>
                        </div>


                        <hr />
                        <div class="form-group">
                            <label>Select UOM</label>
                            <div class="input-group">

                                <select class="form-control" ng-model="InventoryObject.UOM" selectpicker id="UOM" required="">
                                    <option ng-repeat="_optionValue in UOMList" value="{{_optionValue.UnitOfMeasureID}}">{{_optionValue.UnitOfMeasureName}}</option>
                                </select>


                                <span class="input-group-addon last" ng-click="GetLastValue('Inv_UOM','#UOM')"><i class="fa fa-refresh"></i></span>
                            </div>
                        </div>


                        <table>
                            <tr>
                                <td><a class="scanbtn btn btn-primary arrow-left"><i class="fa fa-angle-left"></i> Back</a></td>

                                <td><a class="btn btn-primary arrow-right">Next <i class="fa fa-angle-right"></i></a></td>
                            </tr>
                        </table>


                    </div>


                    <div class="swiper-slide">

                        <div class="form-group">

                            <label>Unique tag</label>
                            <div class="input-group">
                                <input id="Unittag" ng-model="InventoryObject.uniquetag" class="form-control" type="text" name="unit" value="" />
                                <span class="input-group-addon last" ng-click="GetLastValue('Inv_uniquetag','#Unittag')"><i class="fa fa-refresh"></i></span>
                            </div>
                        </div>

                        <hr />

                        <div class="form-group">
                            <label>Cost per unit</label>

                            <div class="input-group">

                                <input ng-model="InventoryObject.CostPerUnit" min="0" id="Costperunit" class="form-control" type="number" name="cost" value="" />

                                <span class="input-group-addon last" ng-click="GetLastValue('Inv_CostPerUnit','#Costperunit')"><i class="fa fa-refresh"></i></span>

                            </div>


                        </div>




                        <table>
                            <tr>
                                <td><a class="scanbtn btn btn-primary arrow-left"><i class="fa fa-angle-left"></i> Back</a></td>

                                <td><a class="btn btn-primary arrow-right">Next <i class="fa fa-angle-right"></i></a></td>
                            </tr>
                        </table>


                    </div>


                    <div class="swiper-slide">




                        <div ng-if="myform.$invalid" class="wellNew">
                            <span ng-click="getstep(0)"> Item Name </span> and <span ng-click="getstep(4)"> unit of measure</span> is required please fill them first.
                        </div>


                        <output style="float: left; padding-top: 0px; margin-top: 0px;" id="list123"></output>

                        <div class="fileUpload btn btn-primary" style="float:left;" ng-click="OpenBox()">
                            <div><i class="fa fa-plus-circle"></i></div>
                            <span>Add Image</span>
                            <input type="file" style="visibility:hidden" id="files" accept="image/*;capture=camera" />
                        </div>

                        <div>
                            <br />
                        </div>

                        <a ng-click="addinventory()" style="width:100%; margin-top:15px;" ng-disabled="myform.$invalid" id="addinventories" class="btn btn-primary"> <i class="fa fa-plus"></i>  Add Inventory</a>

                        <table>
                            <tr>
                                <td><a class="scanbtn btn btn-primary arrow-left"><i class="fa fa-angle-left"></i> Back</a></td>

                                <td><a class="btn btn-primary arrow-right">Next <i class="fa fa-angle-right"></i></a></td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
            <div style="display: none;" class="pagination"></div>
        </div>


    </form>
</div>
<div>
    <br /><br />
</div>
