
<style>


    #sticky {
        width: 100%;
    }

        #sticky.stick {
            position: fixed;
            top: 0;
            z-index: 996;
            background: #2196F3;
            padding-bottom: 2px;
            padding-top: 2px;
            padding-right: 4px;
            padding-left: 4px;
            -webkit-animation: cssAnimation 1s 16 ease;
            -moz-animation: cssAnimation 1s 16 ease;
            -o-animation: cssAnimation 1s 16 ease;
        }
    #btnClearSearch {
        color: #555;
        padding: 7px;
        /* padding-top: 6px; */
        position: absolute;
        cursor: pointer;
        margin-top: 4px;
        right: -2px;
        font-size: 20px;
        z-index: 100;
    }
    .page-header {
        color: #000;
    }
    .container
    {
        width:100%;
    }

    .btn-large {
        text-align: center;
        height: auto;
        margin-top: 8px;
        padding-left: 12px;
        padding-right: 12px;
    }


        .btn-large p {

            margin: 0 0 10px;
            text-transform: capitalize;
            margin-top:-5px;
            margin-bottom:8px;
        }

    .btn-large h4
    {
        font-size:50px;
        text-align:right;
    }

    body
    {
        background:#eaeaea;
        overflow-x:hidden !important;
    }

    .list
    {
        padding-left:0px;
        margin-left:0px;
    }

    .list-group-item {
        list-style-type: none;
        padding:15px !important;
        min-height:65px;
    }

    .list-group-item a {
      font-size:14px;
    }

        .list li a{
            padding:10px;
            font-size:20px;
            color:#000;
            background:#fff;
            border-bottom:1px solid #ccc;
        }

    .form-group label span {
        color: red;
    }

    .btn-large:disabled
    {
        color:#fff !important;
        opacity:0.7 !important;
    }
</style>


<div style="margin-top:12px;" class="page-header">

    <div class="row">
        
        <div class="col-xs-12">
            <h4 style="margin-top:0px;line-height:34px;  margin-bottom:0px; color:#000;">Manage Locations</h4>
        </div>
    </div>
</div>

<div ng-if="mode == 1" class="listview animated zoomIn">


    <a ng-click="addlocation()" class="waves-effect waves-light btn-large primary-color width-100 animated bouncein delay-6">

        <i class="fa fa-plus-circle"></i> Add new Location


    </a>
    <div id="sticky-anchor"></div>
    <div id="sticky" class="topup">
        <table class="searchtable">
            <tbody>
                <tr>

                    <td>


                        <div class="input-group">



                            <div style="position:relative" class="fg-line">


                                <input style="border-radius:0px;" id="MasterSearch" type="text" ng-model="SearchData.SearchValue" class="form-control" placeholder="Type location to Search">


                                <i></i>
                            </div>
                            <a class="input-group-addon last" ng-if="SearchData.SearchValue!=''" id="btnClearSearchNew" ng-click="ClearFilter()"> <i class="fa fa-times-circle"></i> </a>
                            
                            <a class="input-group-addon last textData" style="margin-top: 0px;  width: 37px;" id="btnMasterSearch" ng-click="GetLocations()"><i class="fa fa-search" style="font-size:20px;"></i> </a>
                        </div>


                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="LocationsLoaded==false">

        <div class="modal-backdrop fade in"></div>
        <div class="spinner" style="text-align:center; position:fixed; top:33%; width:100%;  z-index:10000">
            <img src="img/loader.gif" alt="Alternate Text" />

            <!--<i style="font-size: 100px; color: #0083C7; " class="fa fa-spin fa-spinner"></i>-->
        </div>
    </div>


    <ul class="list-group">
        <li class="list-group-item" ng-repeat="obj in Locations" ng-if="obj.LocationName != ''">

            <div class="row">
                <div class="col-xs-7">
                    <a>{{obj.LocationName}}</a>
                </div>

                <div class="col-xs-5">
                    <a ng-click="deletelocation(obj)" id="Delete_{{obj.LocationID}}" style="height:40px; width:40px; padding:0px; line-height:40px; border-radius:0px;" class="btn btn-danger pull-right">
                        <i class="fa fa-trash-o"></i>
                    </a>
                    <a ng-click="editlocation(obj)" style="height:40px; width:40px; padding:0px; line-height:40px; border-radius:0px;" class="btn btn-warning pull-right">
                        <i class="fa fa-pencil"></i>
                    </a>
                </div>
            </div>




        </li>
    </ul>

    <div style="text-align: center; color: #d9534f; display:none;" class="maincontent norecords">

        <div ng-if="ActualTotalRecords!=0 && LocationsLoaded==true">

            <h3>No record matched your Query</h3>
            <a style="cursor:pointer;width:auto;" class="btn btn-primary" ng-click="ClearFilter()"> <i class="fa fa-filter"></i> Clear your filters</a>
            <br /><br />
        </div>
        <div style="position:relative; z-index:100000;" ng-if="ActualTotalRecords==0">
            <br />
            <h5>You don't have any location records yet. Click the "Add location".</h5>
            <br />
        </div>

    </div>


</div>


<div class="animated zoomIn" ng-if="mode == 2 || mode == 3 ">

    <form name="locationform">

        <div style="background:#fff;padding:10px; margin-top:7px;">

            <div class="row">
                <div class="col-md-12">
                    <h4 ng-if="mode == 2">Fill below value to add new</h4>
                    <h4 ng-if="mode == 3">Update below value to update Location</h4>
                </div>
            </div>


            <div class="form-group">
                <label>Location <span>*</span></label>
                <input class="form-control" type="text" ng-model="locationdata.LocationName" required />
            </div>

            <div class="form-group">
                <label>Location Group</label>
                <input class="form-control" type="text" ng-model="locationdata.LocationZone" />
            </div>

            <div class="form-group">
                <label>Description</label>
                <input class="form-control" type="text" ng-model="locationdata.LocationDescription" />
            </div>




            <div class="row">
                <div class="col-xs-6">
                    <button type="button" ng-disabled="locationform.$invalid || IsProcessing==true" ng-click="savelocation()" ng-if="mode == 2" class="btn-large btn-primary"> <i class="fa fa-plus-circle" ng-class="{'fa-spin':IsProcessing==true}"></i> Add</button>
                    <button type="button" ng-disabled="locationform.$invalid || IsProcessing==true" ng-click="savelocation()" ng-if="mode == 3" class="btn-large btn-primary"> <i class="fa fa-check-circle" ng-class="{'fa-spin':IsProcessing==true}"></i> Update</button>
                </div>
                <div class="col-xs-6">
                    <a style="width:100%" ng-click="leaveform()" class="btn btn-large gray-color"> <i class="fa fa-times"></i> Cancel</a>
                </div>
            </div>
        </div>

    </form>



</div>
