
<style>

    .sortIcon {
        font-size: 14px;
        color: #847878;
    }
    .container {
        width: 100%;
    }

    .btn-large {
        text-align: center;
        height: auto;
        padding-left: 12px;
        padding-right: 12px;
        margin-top: 8px;
    }


        .btn-large p {
            margin: 0 0 10px;
            text-transform: capitalize;
            margin-top: -5px;
            margin-bottom: 8px;
        }

        .btn-large h4 {
            font-size: 50px;
            text-align: right;
        }

    body {
        background: #eaeaea;
        overflow-x: hidden !important;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .list {
        padding-left: 0px;
        margin-left: 0px;
    }

    .list-group-item {
        list-style-type: none;
        padding: 7px !important;
        text-align: center;
        min-height: 72px;
    }

        .list-group-item a {
            font-size: 12px;
            font-family: Verdana;
            width: 100%;
        }

    .list li a {
        padding: 10px;
        font-size: 20px;
        color: #000;
        background: #fff;
        border-bottom: 1px solid #ccc;
    }

    .form-group label span {
        color: red;
    }

    .btn-large:disabled {
        color: #fff !important;
        opacity: 0.7 !important;
    }

    .operator {
        max-height: 250px;
        overflow-y: auto;
        text-align: center;
    }


        .operator li {
            background: #fff;
        }


    li.disabled {
        background: #E2E2E2;
        text-decoration: line-through;
    }

    .operator li a {
        color: #000 !important;
        text-align:left;
    }

    .dropdown-toggle {
        padding-left: 13px;
        padding-right: 13px;
        height: 30px;
        line-height: 30px;
    }

    .text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-inline-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        word-break: break-all;
        margin-bottom: 0;
        font-size: 17px;
        line-height: 32px;
    }

  


    .onbtn {
        color: #fff;
        padding: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
        background: #0094ff;
    }


    .alert-info {
        background-color: #5bc0de;
        border-color: #3db5d8;
        color: #ffffff;
        height: 50px;
        margin-bottom: 5px;
    }

    .infoareas {
        padding-top: 10px;
        padding-bottom: 10px;
    }


    .Addbtn {
        position: fixed;
        bottom: 23px;
        left: 12px;
        background: #b39a99 !important;
        z-index: 13000;
        color: #fff !important;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
    }
    .save-btn {
        margin-bottom: 4px;
        width: 88px;
        height: 35px;
        line-height: 35px;
        text-transform: capitalize;
        border-radius: 18px;
    }

    .ordernumber {
        position: absolute;
        padding: 5px;
        background: #e99002;
        height: 25px;
        width: 25px;
        padding: 0px;
        font-size: 12px;
        border-radius: 100%;
        line-height: 25px;
        margin-top: -6px;
    }

    .custombtnGroup {
        float: right;
    }

    .vertical-text {
        -ms-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -ms-transform-origin: left top 0;
        -moz-transform-origin: left top 0;
        -webkit-transform-origin: left top 0;
        transform-origin: left top 0;
        color: #333;
        text-transform: uppercase;
        white-space: nowrap;
        position: fixed;
        left: 96%;
        top: 42%;
    }

    .myLinkToTop {
        position: fixed;
        top: 30%;
        right: 6px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        padding: 0px;
        text-align: center;
        border-radius: 100%;
        padding: 0px;
    }


    .myMenuLink {
        position: fixed;
        top: 20%;
        right: 6px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        padding: 0px;
        text-align: center;
        border-radius: 100%;
        padding: 0px;
    }

    .btn-primary.dropdown-toggle {
        opacity: 0.5;
    }

    .btn-success.dropdown-toggle {
        border-radius: 16px;
    }

    .btn-primary {
        background-color: #2196F3 !important;
        border: transparent !important;
        border-radius: 100%;
        font-size: 16px;
        height: 35px;
        line-height: 35px;
        float: right;
        border-radius: 18px;
        padding-left: 9px;
        padding-right: 9px;
    }

    .report-header {
        background-color: #2196F3;
        color: #fff;
        padding-bottom: 15px;
        position: fixed;
        width: 100%;
        z-index: 10;
    }

        .report-header h4, small {
            color: #fff !important;
        }

        .report-header h4 {
            padding-left: 50px;
        }

        .report-header small {
            font-size: 12px !important;
        }


    .container {
        padding: 0px;
    }

    #toolbar {
        box-shadow: none;
    }

    .roundbtn {
        height: 40px;
        width: 40px;
        border-radius: 100%;
        position: fixed;
        padding: 0px;
        margin-top: 20px;
        margin-left: 17px;
        line-height: 37px;
        z-index: 100;
        color: #fff;
        font-size: 25px;
    }

    .contentsection {
        padding-top: 50px;
        padding-left: 12px;
        padding-right:12px;
    }

        .contentsection .date {
            margin-left: 50px;
        }

    .btn-white {
        height: 40px;
        width: 40px;
        padding: 0px;
        border-radius: 40px;
        text-align: center;
        line-height: 40px;
    }

    .infoareas .row {
        padding: 10px;
        padding-left: 0px;
    }

    .infoareas .col-xs-10 {
        border-bottom: 1px solid #ccc;
    }

    .infoareas p {
        font-size: 12px;
    }

    .infoareas i {
        color: #069;
        margin-top: 7px;
    }

    .table > tbody > tr > td
    {
        white-space:normal !important;
    }
    code {
        color: #000;
        float: right;
        font-weight:800;
    }

    body
    {
    overflow-x:hidden !important;
    }

    .contentsection {
        overflow-x: hidden !important;
    }
    .table-striped
    {
        padding:10px;
        background:#fff;
        margin-bottom:10px;
    }

        .table-striped tr td p {
            text-align: center;
            font-size: 11px;
        }

    .table > tbody > tr > td
    {
        border:transparent !important;
    }
    .well {
        padding: 10px;
        margin-bottom: 15px;
        box-shadow: 5px 7px 5px #ccc !important;
    }

    .morebtn {
        float: right;
        background: #fff;
        color: #2196F3 !important;
        padding: 0;
        position: absolute;
        right: 30px;
        border: 1px solid #2196F3;
        border-radius: 100%;
        height: 30px;
        width: 30px;
        text-align: center;
        line-height: 26px;
        font-size: 15px;
        margin-top: 70px;
        cursor: pointer;
        z-index: 9;
    }

        .morebtn i {
            font-size: 15px;
        }
        
         .ExtraTr {
            display: none;
        }
    .newroundbtn {
        height: 40px;
        width: 40px;
        border-radius: 100%;
        position: fixed;
        padding: 0px;
        margin-top: 15px;
        margin-left: 15px;
        line-height: 37px;
        z-index: 100;
        color: #fff;
        font-size: 25px;
    }
    .table-responsive
    {
        border:transparent;
        overflow-x: hidden !important;
    }

  

    input[type=text]:focus
    {
        border:transparent;
        box-shadow:none !important;
        border:1px solid #ccc;
        border-bottom:1px solid #ccc !important;
    }

    .Addbtn {
        position: fixed;
        bottom: 23px;
        right: 12px;
        background: #b39a99 !important;
        z-index: 13000;
        color: #fff !important;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
    }

        .Addbtn .fa {
            font-size: 24px;
            margin-top: 13px;
            color: #fff !important;
        }

    .selectAction {
        position: fixed;
        bottom: 75px;
        right: 35px;
    }



        .selectAction li {
            list-style-type: none;
        }


            .selectAction li span {
                color: #000;
            }


        .selectAction .btn {
            height: 34px;
            width: 34px;
            padding: 0px;
            border-radius: 100%;
            text-align: center;
            line-height: 34px;
            border: transparent;
            margin-bottom: 5px;
            color: #fff;
        }

    #myModal2 {
        position: fixed;
        right: 13px;
        font-size: 18px;
        text-align: right;
        display: none;
        background: transparent;
        overflow: hidden;
    }

        #myModal2 span {
            font-size: 16px;
            font-family: verdana;
            margin-right: 7px;
        }


        #myModal2 .modal-body {
            background: transparent;
        }

    .rotate {
        -ms-transform: rotate(42deg);
        -webkit-transform: rotate(42deg);
        transform: rotate(42deg);
    }

    .cd-top.cd-is-visible {
        visibility: visible;
        opacity: 0.7;
    }

    .cd-top {
        visibility: hidden;
    }
</style>

<div class="title-header">

    <div class="row">

        <div class="col-xs-12">
            <h4 class="titletext">Local Restock <small>Reports</small></h4>
        </div>


    </div>
</div>
<div ng-if="isDataLoading==false">

    <div class="modal-backdrop fade in"></div>
    <div class="spinner" style="text-align:center; position:fixed; top:33%; width:100%;  z-index:10000">
        <img src="img/loader.gif" alt="Alternate Text" />

     
    </div>
</div>

<a href="#/reportmenu" ng-if="isviewload==false" class="newbackbtn left15"> <i class="fa fa-arrow-left"></i> </a>

<a ng-if="isviewload==true" ng-click="showview()" class="left15 newbackbtn"> <i class="fa fa-arrow-left"></i> </a>

<a ng-if="isviewload==true" ng-click="showfilter()" class="waves-effect btn roundbtntitle"><i class="fa fa-filter"></i> </a>

<a class="Addbtn cd-top" onclick="scrollToTop()" title="Go to top"><i class="fa fa-arrow-up"></i></a>



<div class="contentsection">
    <div ng-if="isviewload==false" class="infoareas">
        <div ng-repeat="_obj in LocalRestockViews" ng-click="AssignCurrentView(_obj)" class="row">
            <div class="col-xs-2">
                <a class="btn btn-white">
                    {{$index+1}}
                </a>
            </div>
            <div class="col-xs-10">
                <div style="padding-top:0px;" class="row">
                    <div class="col-xs-12">
                        <a class="text">{{_obj.Name}} </a>
                        <p>{{_obj.Description}}</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


    <div ng-if="isviewload==true" class="paginationtext">
        <span style="font-size:13px;">{{currentrecord}} of {{totalrecords}} <span>records shown <span class="pull-right" ng-click="clearfilterArray()"></span> </span> </span>
    </div>


    <div ng-if="isviewload==true" class="table-responsive">
        

        <div style="margin-top:10px;" class="input-group">

            <span style="padding:5px; border:1px solid #ccc; border-right:transparent" class="input-group-addon">
                <a class="dropdown-toggle"  aria-expanded="true">
                    <i style="padding:0px; background:transparent; color:#afaeae !important; font-size:16px !important;" class="fa fa-search"></i>
                </a>
            </span>

            <input style="border-left:transparent" type="text" ng-model="FilterData.SearchValue" class="form-control ng-pristine ng-valid" placeholder="Type to Search">

            <i ng-if="FilterData.SearchValue!=''" ng-click="clearfilter()" class="fa fa-times filtercross right47"></i> 

            <a class="input-group-addon last textData" ng-click="GetLocalDataAccordingToView()" style="margin-top: 0px;"><i class="fa fa-search" style="font-size:20px;"></i> </a>
          

        </div>

        <div ng-if="LocalRestockList.length==0" style="text-align:center;" class="well">

            <div class="row">
                <div class="col-md-12">
                    <img style="height:150px; width:200px;" src="img/oops_image.png" alt="Alternate Text" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h4>No such records found !!</h4>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <a ng-click="clearfilter()" class="btn btn-primary width-100"> <i class="fa fa-times"></i> Clear filter</a>
                </div>
            </div>



        </div>


        <div class="well" ng-repeat="_obj in LocalRestockList" ng-init="parentIndex=$index">
            <table class="table table-striped">

                <tbody id="row_{{_obj.pID}}">
                    <tr ng-if="IsAvailableColumn('ImageFileName')">
                        <td style="text-align:center;" colspan="2">
                            <img ng-if="_obj.ImageFileName !=''" style="height:55px; width:55px; border-radius:55px;" src="{{_obj.ImagePath}}" alt="Alternate Text" />
                            <img ng-if="_obj.ImageFileName ==''" style="height:55px; width:55px; border-radius:55px;" src="img/default.png" alt="Alternate Text" />
                        </td>
                    </tr>
                    <tr ng-repeat="_obj2 in Columns" ng-class="{'ExtraTr':$index > 2}" ng-if="_obj2.ColumnID!='LeaveBlank' && _obj2.Visible!=false && _obj2.ColumnID != 'Button1' && _obj2.ColumnID != 'Button2' && _obj2.ColumnID != 'ImageFileName' ">
                        <td width="50%">
                            <code ng-if="_obj2.isFirstFurtherCalculated == true || _obj2.isSecondFurtherCalculated == true" class="w3-codespan">{{_obj2.DisplayLabel}}</code>
                            <code ng-if="_obj2.isFirstFurtherCalculated == false && _obj2.isSecondFurtherCalculated == false" ng-click="applysorting(_obj2.ColumnID)" class="w3-codespan">{{_obj2.DisplayLabel}} <i ng-if="_obj2.ColumnID==sortColumn && sortDir=='DESC'" class=" sortIcon fa fa-chevron-down"></i> <i ng-if="_obj2.ColumnID==sortColumn && sortDir=='ASC'" class="sortIcon fa fa-chevron-up"></i></code>
                            <a class="morebtn" ng-click="ShowHideDiv(_obj.pID)" ng-if="$index==0"><i class="fa fa-chevron-up" id="icon_{{_obj.pID}}"></i></a>
                        </td>
                        <td width="50%">{{GetCellData(_obj2.ColumnID,parentIndex,_obj2.isCalculated) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div style="background:#fff; padding:0px; overflow-x:hidden;" id="filtermodal" class="modal animated bounceIn">
    <div class="modal-header">
        <span  class="close">
            <i data-dismiss="modal" class="fa fa-times"></i>
        </span>
        <h4>Apply filters</h4>
    </div>

    <div style="padding:10px;" class="modal-body">

        <div class="row" ng-repeat="_obj in FilterArray" ng-if="_obj.ColumnName!='Button1' && _obj.ColumnName!='Button2'&& _obj.ColumnName!='ImageFileName' && isFurtherCalculatedColumn(_obj.ColumnName)==false">


            <div class="col-xs-12">
                <h6>{{GetDisplayLabel(_obj.ColumnName) }}</h6>

                <div class="input-group" ng-if="_obj.ColumnName=='uomUOM' || _obj.ColumnName=='DefaultUOM' ">
                    <span style="padding:5px; border:1px solid #ccc; border-right:transparent" class=" input-group-addon">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <img src="{{GetImagePath(_obj.FilterOperator)}}" alt="">
                        </a>
                        <ul class="dropdown-menu operator shadow-z-5 ng-scope" role="menu" aria-labelledby="dropdownMenu">
                            <li style="text-align: left"><a tabindex="-1" ng-click="_obj.FilterOperator='eq'"><img src="img/filter/EqualTo.gif" alt=""> Equals</a></li>
                            <li style="text-align: left"><a tabindex="-1" ng-click="_obj.FilterOperator='ne'"><img src="img/filter/NotEqualTo.gif" alt=""> Does not equals</a></li>
                        </ul>
                    </span>
                    <select ng-if="_obj.ColumnName=='uomUOM' || _obj.ColumnName=='DefaultUOM'" ng-model="_obj.SearchValue" class=" form-control">
                        <option value="">Choose UOM</option>
                        <option value="{{obj.UnitOfMeasureName}}" ng-selected="obj.UnitOfMeasureName==_obj.SearchValue" ng-repeat="obj in UOMList">{{obj.UnitOfMeasureName}}</option>
                    </select>
                </div>
                <div class="input-group" ng-if="GetColumnDataType(_obj.ColumnName)=='string' && _obj.ColumnName!='DefaultUOM' && _obj.ColumnName!='uomUOM'">
                    <span style="padding:5px; border:1px solid #ccc; border-right:transparent" class="input-group-addon">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">

                            <img src="{{GetImagePath(_obj.FilterOperator)}}" alt="">
                        </a>
                        <ul class="dropdown-menu operator shadow-z-5 ng-scope" role="menu" aria-labelledby="dropdownMenu">
                            <li style="text-align: left"><a tabindex="-1" ng-click="_obj.FilterOperator='cn'"><img src="img/filter/Contains.gif" alt=""> Contains</a></li>
                            <li style="text-align: left"><a tabindex="-1" ng-click="_obj.FilterOperator='eq'"><img src="img/filter/EqualTo.gif" alt=""> Exact</a></li>
                            <li style="text-align: left"><a tabindex="-1" ng-click="_obj.FilterOperator='ne'"><img src="img/filter/NotEqualTo.gif" alt=""> does not equals</a></li>
                            <li style="text-align: left"><a tabindex="-1" ng-click="_obj.FilterOperator='bw'"><img src="img/filter/BeginsWith.gif" alt=""> Begins With</a></li>
                        </ul>

                    </span>
                    <input class="form-control" type="text" name="name" ng-model="_obj.SearchValue" value="" />
                </div>


                <div class="input-group" ng-if="GetColumnDataType(_obj.ColumnName)=='date'||GetColumnDataType(_obj.ColumnName)=='datetime'">
                    <span style="padding:5px; border:1px solid #ccc; border-right:transparent" class="input-group-addon">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">

                            <img src="{{GetImagePath(_obj.FilterOperator)}}" alt="">
                        </a>
                        <ul class="dropdown-menu operator shadow-z-5 ng-scope" role="menu" aria-labelledby="dropdownMenu">
                            <li style="text-align: left"><a tabindex="-1" ng-click="_obj.FilterOperator='cn'"><img src="img/filter/Contains.gif" alt=""> Contains</a></li>
                            <li style="text-align: left"><a tabindex="-1" ng-click="_obj.FilterOperator='eq'"><img src="img/filter/EqualTo.gif" alt=""> Exact</a></li>
                            <li style="text-align: left"><a tabindex="-1" ng-click="_obj.FilterOperator='ne'"><img src="img/filter/NotEqualTo.gif" alt=""> does not equals</a></li>
                            <li style="text-align: left"><a tabindex="-1" ng-click="_obj.FilterOperator='bw'"><img src="img/filter/BeginsWith.gif" alt=""> Begins With</a></li>
                        </ul>
                        <ul class="dropdown-menu operator" role="menu" aria-labelledby="dropdownMenu">
                            <li><a tabindex="-1" data-ng-click="_obj.FilterOperator='date-eq'"><img src="img/filter/EqualTo.gif" alt=""> Equals</a></li>
                            <li><a tabindex="-1" data-ng-click="_obj.FilterOperator='date-before'"><img src="img/filter/OnOrBefore.gif" alt="">On OR Before</a></li>
                            <li><a tabindex="-1" data-ng-click="_obj.FilterOperator='date-after'"><img src="img/filter/OnOrAfter.gif" alt="">On OR After</a></li>
                        </ul>

                    </span>
                    <input class="form-control" type="date" name="name" ng-model="_obj.SearchValue" value="" />
                </div>

                <div class="input-group" ng-if="GetColumnDataType(_obj.ColumnName)=='combobox'">

                    <span style="padding:5px; border:1px solid #ccc; border-right:transparent" class=" input-group-addon">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">

                            <img src="{{GetImagePath(_obj.FilterOperator)}}" alt="">
                        </a>
                        <ul class="dropdown-menu operator shadow-z-5 ng-scope" role="menu" aria-labelledby="dropdownMenu">
                            <li style="text-align: left"><a tabindex="-1" ng-click="_obj.FilterOperator='eq'"><img src="img/filter/EqualTo.gif" alt=""> Equals</a></li>
                            <li style="text-align: left"><a tabindex="-1" ng-click="_obj.FilterOperator='ne'"><img src="img/filter/NotEqualTo.gif" alt=""> Does not equals</a></li>
                        </ul>

                    </span>
                    <select class="form-control" ng-model="_obj.SearchValue">
                        <option ng-repeat="_data in GetComboData(_obj.ColumnName)" value="{{_data}}">{{_data}}</option>
                    </select>
                </div>

                <div class="input-group" ng-if="GetColumnDataType(_obj.ColumnName)=='number'||GetColumnDataType(_obj.ColumnName)=='decimal' ||GetColumnDataType(_obj.ColumnName)=='money' || GetColumnDataType(_obj.ColumnName)=='currency'">

                    <span style="padding:5px; border:1px solid #ccc; border-right:transparent" class=" input-group-addon">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">

                            <img src="{{GetImagePath(_obj.FilterOperator)}}" alt="">
                        </a>



                        <ul class="dropdown-menu operator" role="menu" aria-labelledby="dropdownMenu">
                            <li><a tabindex="-1" ng-click="_obj.FilterOperator='num-eq'"><img src="img/filter/EqualTo.gif" alt=""> Equals</a></li>
                            <li><a tabindex="-1" ng-click="_obj.FilterOperator='num-ne'"><img src="img/filter/NotEqualTo.gif" alt=""> Does NOT Equal</a></li>
                            <li><a tabindex="-1" ng-click="_obj.FilterOperator='num-gte'"><img src="img/filter/GreaterThanOrEqualTo.gif" alt=""> Greater Than OR Equals</a></li>
                            <li><a tabindex="-1" ng-click="_obj.FilterOperator='num-lte'"><img src="img/filter/LessThanOrEqualTo.gif" alt=""> Less Than OR Equals</a></li>

                        </ul>

                    </span>
                    <input class="form-control" type="number" data-type="number" pattern="[0-9]*" inputmode="numeric" name="name" ng-model="_obj.SearchValue" value="" />
                </div>


            </div>
            <div class="col-xs-12">
                <br />
            </div>
        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <div class="col-xs-6">
                <a class="btn btn-primary width-100 pull-left" ng-click="GetLocalDataAccordingToView()"><i style="padding-left:5px !important; padding-right:5px !important;" class="fa fa-filter"></i>Filter</a>
            </div>
            <div class="col-xs-6">
                <a class="btn btn-danger width-100 pull-left" style="border-radius:45px; padding-left:10px; padding-right:10px;" ng-click="clearfilterArray()"><i style="padding-left:5px !important; padding-right:5px !important;" class="fa fa-times"></i>Clear</a>
            </div>
        </div>
        
    </div>

</div>



<a ng-click="Openbottommenu()" class="menubtn waves-effect btn-info">
    <i class="fa fa-bars"></i>
</a>

<div id="bottommenumodal" class="modal bottommenu fade">
    <div class="modal-body">
        <ul class="animated slideInUp selectAction">
            <li> <a href="#/inventory"><span class="newinv">Add Inventory</span></a>  <a href="#/inventory" class=" waves-effect btn-warning btn"> <i class="fa fa-plus"></i> </a></li>
            <li> <a href="#/FindItems"><span class="newinv">Go to Inventory</span></a>  <a href="#/FindItems" class=" waves-effect btn-success btn"> <i class="fa fa-shopping-cart"></i> </a></li>
            <li> <a href="#/reportmenu"><span class="newinv">All Reports</span></a>  <a href="#/reportmenu" class=" waves-effect accent-color btn"> <i class="fa fa-th-list"></i> </a></li>
            <li class="bottomlink"><span data-dismiss="modal">Close</span><a style="background:#bbb !important;" class=" waves-effect btn-primary btn decrease" data-dismiss="modal"> <i class="fa fa-times"></i>  </a></li>
        </ul>
    </div>
</div>




<script>
    $('.myLinkToTop').click(function () {
        $('html, body').animate({ scrollTop: $(document).height() }, 'slow');
        return false;
    });

    $('.myMenuLink').click(function () {
        $('html, body').animate({ scrollTop: 0 }, 'slow');
        return false;
    });
</script>
<script>

    var offset = 50;
    //browser window scroll (in pixels) after which the "back to top" link opacity is reduced
    var offset_opacity = 1200;
    //duration of the top scrolling animation (in ms)
    var scroll_top_duration = 700;
    //grab the "back to top" link
    var $back_to_top = $('.cd-top');

    function scrollToTop() {

        $('html, body').animate({ scrollTop: 0 }, 500, 'linear');
    }



    $(window).scroll(function () {
        ($(this).scrollTop() > offset) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
        if ($(this).scrollTop() > offset_opacity) {
            $back_to_top.addClass('cd-fade-out');
        }
    });
</script>


















