



    <form class="login-form" role="form" name="myform">
        <div class="row">
        <div class="col-md-12">
            <div style="text-align:center">

                <img class="loginlogo" src="img/u2.png" alt="Alternate Text" />

                </div>
                <div class="row">
                  
                    <div class="col-xs-12">

                        <div class="form-group">
                            <label>Account Name</label>
                            <div class="input-group">
                                <span class="input-group-addon"> <i class="fa fa-briefcase"></i></span>
                                <input type="text" class="form-control" placeholder="Account" data-ng-model="loginData.account" required autofocus>
                            </div>

                        </div>

                      
                     
                    </div>
                </div>
             


                <div class="row">
                  
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>User Name</label>
                            <div class="input-group">
                                <span class="input-group-addon"> <i class="fa fa-user"></i></span>
                                <input type="text" class="form-control" placeholder="Username" data-ng-model="loginData.userName" required>
                            </div>
                        </div>


                       
                      

                    </div>
                </div>

            


                <div class="row">
                 
                    <div class="col-xs-12">

                        <div class="form-group">
                            <label>Password</label>
                            <div class="input-group">
                                <span class="input-group-addon"> <i class="fa fa-key"></i></span>
                                <input type="password" class="form-control" placeholder="Password" data-ng-model="loginData.password" required>
                            </div>
                        </div>

                      
                       
                    </div>
                </div>


                <button class="btn  btn-primary btn-block" type="submit" ng-disabled="myform.$invalid" id="loginBtn" data-ng-click="login()">Sign In <i class="fa fa-angle-right"></i> </button>

                <a onclick="vibrate()" class="btn btn-primary btn-block">I Forgot my Info Email to Me <i class="fa fa-angle-right"></i></a>

                <a onclick="playBeep()" class="btn btn-primary btn-block">Create Account <i class="fa fa-angle-right"></i></a>


            </div>
        </div>
    </form>

<style>
    .navbar {
        display: none;
    }

    .layoutheader {
        display: none;
    }

    body {
        background: #128ece;
        padding-top: 7px;
        overflow-x: hidden !important;
    }

    .loginlogo {
        width: 82px;
        margin-bottom: 15px;
    }

    #viewdata {
        margin-top: 0px;
    }

    label {
        color: #fff;
        font-size: 15px;
    }

    .login-form .col-xs-5 {
        text-align: right;
    }

    .btn-primary {
        margin: 0 auto;
        margin-bottom: 15px;
        background: #fff !important;
        color: #000 !important;
    }

        .btn-primary .fa-angle-right {
            position: absolute;
            right: 25px;
            font-size: 25px;
            margin-top: -2px;
        }

    .form-control {
        height: 45px;
    }



    .input-group-addon {
        padding: 6px 12px;
        font-size: 18px;
        font-weight: normal;
        line-height: 1;
        color: #000;
        text-align: center;
        background-color: #fff;
        border-radius: 0;
        border-right: 1px solid #fff;
        cursor: pointer;
    }

    login-form {
        overflow: hidden !important;
    }

    .container {
        width: 96%;
    }
</style>

