

<link href="css/login.css" rel="stylesheet" />
<style>
    .input-group .form-group {
        margin-bottom: 0px !important;
    }
    .formarea {
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    }

    .signuplink {
        background: #fff;
        border-radius: 25px;
        display: block;
        padding: 12px;
        font-size: 18px;
        width: auto;
        margin: 0 auto;
        max-width: 200px;
        margin-top: 15px;
    }

    html
    {
        height:100%;
    }

    body
    {
        position:relative;
        height:100%;
    }

   

    .emailError
    {
        display:none;
    }

</style>

<div style="text-align:center; margin-bottom:15px;">

    <img style="height: 80px; width: 80px; padding: 10px;  margin-top: 20px; border-radius: 100%; box-shadow: 0 3px 15px rgba(0, 9, 128, 0.1), 0 11px 19px rgba(0, 9, 128, 0.1);" src="img/u2.png" alt="Alternate Text" />

</div>

<div style="text-align:center; margin-bottom:15px;">
    <h3 style="color:#fff">Log in to your account</h3>
</div>


<form class="login-form"  role="form" name="myform">
    <div class="row">
        <div class="col-md-12">
            <div class="formarea">
                <!--<div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Account Name <em>(optional)</em></label>
                            <div class="input-group">
                                <span class="input-group-addon"> <i class="fa fa-briefcase"></i></span>
                                <input type="text" class="form-control" placeholder="Account" data-ng-model="loginData.account" value="" autofocus>
                            </div>
                        </div>
                    </div>
                </div>-->


                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Email or <em>(username)</em></label>
                            <div class="input-group">
                                <span class="input-group-addon"> <i class="fa fa-user"></i></span>
                                <input id="Emailbox" type="email" name="e" class="form-control" placeholder="Username" data-send-value="" value="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">

                        <div class="form-group">
                            <label>Password</label>
                            <div class="input-group">
                                <span class="input-group-addon"> <i class="fa fa-key"></i></span>
                                <input id="Passwordbox" style="border-radius:0 !important; border-right:transparent;" type="{{passwordtype}}" class="form-control" placeholder="Password" data-ng-model="loginData.password" value="" required>

                                <span ng-show="Isshowpassword==true" ng-click="showpassword()" class="input-group-addon">
                                    <i class="fa fa-eye"></i>

                                </span>

                                <span ng-show="Isshowpassword==false" ng-click="hidepassword()" class="input-group-addon">
                                    <i class="fa fa-eye-slash"></i>
                                </span>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-xs-12">
                       
                        <a style="width:100%;" class="btn btn-gray animated center bouncein delay-6" id="loginBtn" data-ng-click="login()"><i class="fa fa-sign-in"></i> Sign In </a>

                    </div>
                </div>


            </div>
            <div class="row" ng-if="IsProduction==false" style="text-align:center">
                <h2 style="color: #ff5e00; font-size:17px; margin-top:7px;">Development</h2>
            </div>
        </div>
    </div>
</form>



<br />

<div style="text-align:center; width:100%;">

    <a style="color:#fff;">Don't have an account?</a>

    <a href="https://account.inventory4.com/signup/Mobilesignup" target="_blank" class="signuplink">Sign Up </a>
</div>



<div style="text-align:center; color:#fff;">
    <h2 id="currentserver"></h2>
    <h3 id="Appversion"></h3>
</div>





