
<link href="css/login.css" rel="stylesheet" />
<form class="login-form" role="form" name="myform">
    <br />  
    <div class="row">
        <div class="col-md-12">
            <div class="formarea">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>User Name</label>
                            <div class="input-group">
                                <span class="input-group-addon"> <i class="fa fa-user"></i></span>
                                <!--<input type="text" class="form-control" placeholder="Username" data-ng-model="loginData.userName" required>-->
                                <div class="select">
                                    <select class="form-control" id="username" data-ng-model="loginData.userName">
                                        <option value="">Choose Username</option>
                                        <option value="1">Mr. Green</option>
                                        <option value="2">Mr. Blue</option>
                                        <option value="3">Mr. Purple</option>
                                        <option value="4">Mr. Yellow</option>
                                        <option value="5">Mr. Red</option>
                                        <option value="6">Mr. Gray</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Password</label>
                            <div class="input-group">
                                <span class="input-group-addon"> <i class="fa fa-key"></i></span>
                                <input type="password" value="123456" class="form-control" placeholder="Password" /> <!--data-ng-model="loginData.password" required-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" class="waves-effect waves-light btn-primary animated center bouncein delay-6" data-ng-disabled="loginData.userName==''" id="loginBtn" data-ng-click="logindemo()"><i class="fa fa-sign-in"></i> Sign In</button>
                        <a class="pull-right signuplink" href="#/signup">Sign Up </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



