
<style>

    #viewdata
    {
        margin-top:0px;
    }
    
    
    
     .navbar {
        display: none;
    }

    .layoutheader {
        display: none;
    }
 

    .loginlogo
    {
     width:82px;
     margin-bottom:15px;
    }
    label
    {
     color:#fff;
     font-size:15px;
    }

    .login-form .col-xs-5 {
        text-align: right;
    }

    .btn-gray .fa-angle-right {
        position: absolute;
        right: 25px;
        font-size: 25px;
        margin-top: -2px;
    }

    .btn-primary
    {
     margin:0 auto;
     margin-bottom:15px;
    }

        .btn-primary .fa-angle-right {
            position: absolute;
            right: 25px;
            font-size: 25px;
            margin-top: -2px;
        }

 .form-control {
   height: 45px;
    }

    .login-form .row
    {
    margin-bottom:15px;
    }

    h3
    {
    color:#fff;
    font-size:18px;
    }

</style>

<link href="content/css/introjs.css" rel="stylesheet" />


<style>
    .introjs-helperNumberLayer
    {
        height:30px;
        width:30px;
    }
    .introjs-fixParent
    {
        position:relative !important;
    }
    .introjs-helperLayer
    {
        background-color:transparent !important;
    }
</style>

<div style="text-align:center">


    <img style="height:75px; width:75px;" src="img/u2.png" alt="Alternate Text" />


    <div class="page-header">

        <h3>What do you want to do?</h3>
    </div>

</div>

<div class="animated slideInDown maincontent" >

    <div class="row">
        <div class="col-md-12">

            <a id="step1" class="btn btn-md btn-primary btn-block" href="#/inventory"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Put Items In Inventory<i class="fa fa-angle-right"></i> </a>

            <a id="step2" class="btn btn-md btn-primary btn-block" href="#/FindItems"><i class="fa fa-search"></i>&nbsp;&nbsp;Find Items <i class="fa fa-angle-right"></i></a>

            <a class="btn btn-md btn-gray btn-block" ><i class="fa fa-th"></i>&nbsp;&nbsp;Pick Items <i class="fa fa-angle-right"></i></a>

            <a class="btn btn-md btn-gray btn-block" ><i class="fa fa-th"></i>&nbsp;&nbsp;Put Items <i class="fa fa-angle-right"></i></a>

            <button class="btn btn-md btn-gray btn-block"><i class="fa fa-book"></i>&nbsp;&nbsp;View Activity Log <i class="fa fa-angle-right"></i></button>

            <a id="step3" ng-click="logOut()" class="btn btn-md btn-primary btn-block"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Sign Out <i class="fa fa-angle-right"></i></a>

        </div>
    </div>

</div>

<script src="scripts/intro.js"></script>

<script type="text/javascript">
    function startIntro() {
        var intro = introJs();
        intro.setOptions({
            steps: [
              {
                  element: '#step1',
                  intro: "Click to Add new Inventory"
              },
              {
                  element: '#step2',
                  intro: "See all Inventories with respective item and manage all activities ",
                
              },
              {
                  element: '#step3',
                  intro: 'Click this button to sign out from app',
                  position: 'top'
                
              }
            
            ]
        });

        intro.start();
    }


    startIntro();
</script>