
<style>
    .navbar
    {
        display:none;
    }
    body {
        background:#128ece;
        padding-top:7px;
    }

    .loginlogo
    {
     width:82px;
     margin-bottom:15px;
    }
    label
    {
     color:#fff;
     font-size:15px;
    }

    .login-form .col-xs-5 {
        text-align: right;
    }

    .btn-gray .fa-angle-right {
        position: absolute;
        right: 25px;
        font-size: 25px;
        margin-top: -2px;
    }

    .btn-primary
    {
     margin:0 auto;
     margin-bottom:15px;
    }

        .btn-primary .fa-angle-right {
            position: absolute;
            right: 25px;
            font-size: 25px;
            margin-top: -2px;
        }

 .form-control {
   height: 45px;
    }

    .login-form .row
    {
    margin-bottom:15px;
    }

    h3
    {
    color:#fff;
    font-size:18px;
    }

</style>


  
  <div class="row">
        <div class="col-md-12">

            <div style="text-align:center">
                <h3>What do you want to do?</h3>
            </div>

            <div>
                <br />
            </div>
          
              

            <a class="btn btn-md btn-primary btn-block" href="#/inventory"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Put Items In Inventory<i class="fa fa-angle-right"></i> </a>

            <a class="btn btn-md btn-primary btn-block" href="#/FindItems"><i class="fa fa-search"></i>&nbsp;&nbsp;Find Items <i class="fa fa-angle-right"></i></a>

            <a class="btn btn-md btn-primary btn-block" href="#/orders"><i class="fa fa-th"></i>&nbsp;&nbsp;Pick Items <i class="fa fa-angle-right"></i></a>

            <a class="btn btn-md btn-primary btn-block" href="#/item"><i class="fa fa-th"></i>&nbsp;&nbsp;Put Items <i class="fa fa-angle-right"></i></a>

            <button class="btn btn-md btn-gray btn-block"><i class="fa fa-book"></i>&nbsp;&nbsp;View Activity Log <i class="fa fa-angle-right"></i></button>

            <a class="btn btn-md btn-primary btn-block" href="#"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Sign Out <i class="fa fa-angle-right"></i></a>


            </div>
        </div>
  
