
<style>

       #viewdata
       {
           margin-top:0px;
       }

    .side-nav {
        display: none !important;
    }

    #sidenav-overlay {
        display: none !important;
    }

        .navbar {
           display: none;
       }

       .layoutheader {
           display: none;
       }


       .loginlogo
       {
        width:82px;
        margin-bottom:15px;
       }
       label
       {
        color:#fff;
        font-size:15px;
       }

       .login-form .col-xs-5 {
           text-align: right;
       }

       .btn-gray .fa-angle-right {
           position: absolute;
           right: 25px;
           font-size: 25px;
           margin-top: -2px;
       }

       .btn-primary
       {
        margin:0 auto;
        margin-bottom:15px;
       }

           .btn-primary .fa-angle-right {
               position: absolute;
               right: 25px;
               font-size: 25px;
               margin-top: -2px;
           }

    .form-control {
      height: 45px;
       }

       .login-form .row
       {
       margin-bottom:15px;
       }

       h3
       {
       color:#fff;
       font-size:18px;
       }

    h1 {
        position: relative;
        text-align: center;
        font-size:20px;
        color:#fff;
    }

        h1 span {
            background: #2196F3;
            padding: 0 15px;
            position: relative;
            z-index: 1;
        }

        h1:before {
            background: #ddd;
            content: "";
            display: block;
            height: 1px;
            position: absolute;
            top: 50%;
            width: 100%;
        }

        h1:before {
            left: 0;
        }

</style>

<link href="content/css/introjs.css" rel="stylesheet" />


<style>
    .introjs-helperNumberLayer
    {
        height:30px;
        width:30px;
    }
    .introjs-fixParent
    {
        position:relative !important;
    }
    .introjs-helperLayer
    {
        background-color:transparent !important;
    }
    .walkbutton {
        height: 50px;
        width: 50px;
        bottom: 50px;
        line-height: 50px;
        padding: 0px;
        position: fixed !important;
        border-radius: 60px;
        font-size: 34px;
        right: 50px;
        color: #635B5B !important;
        z-index: 1000;
        background: white;
    }

    body {
        background: #2196F3;
    }

    #toolbar
    {
        display:none;
    }
    .gray-color {
       color: rgba(136, 136, 136, 0.5) !important;
    }
</style>

<div style="text-align:center">


    <img style="height:75px; width:75px;" src="img/u2.png" alt="Alternate Text" />


    <div class="page-header">

        <h4><span>What do you want to do?</span></h4>
    </div>

</div>

<div class="animated slideInDown maincontent">

    <div class="row">
        <div class="col-md-12">

            <a id="step1" class="waves-effect waves-light btn-large primary-color width-100 animated bouncein delay-6" href="#/FindItems"><i class="fa fa-bars"></i>&nbsp;&nbsp;Go to Inventory </a>
            
            <a id="step2" class="waves-effect waves-light btn-large primary-color width-100 animated bouncein delay-6" href="#/inventory"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Put Items In Inventory </a>

            <a id="step3" class="waves-effect waves-light btn-large primary-color width-100 animated bouncein delay-6" href="#/reportmenu"><i class="fa fa-th-list"></i>&nbsp;&nbsp;Reports</a>

            <a class="waves-effect waves-light btn-large gray-color width-100 animated bouncein delay-6 " ><i class="fa fa-clock-o"></i>&nbsp;&nbsp;Coming Soon </a>

            <a id="step4" class="waves-effect waves-light btn-large primary-color width-100 animated bouncein delay-6" href="#/setting"><i class="fa fa-cog"></i>&nbsp;&nbsp;Settings</a>

            <a id="step5" ng-click="logOut()" class="waves-effect waves-light btn-large primary-color width-100 animated bouncein delay-6"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Sign Out </a>

        </div>
    </div>



</div>

<h1 onclick="startIntro()"><span>Need Help?</span></h1>

<script src="scripts/intro.js"></script>

<script type="text/javascript">
    

    function startIntro() {
        var intro = introJs();
        intro.setOptions({
            steps: [
             
              {
                  element: '#step1',
                  intro: "See all Inventories with respective item and manage all activities ",

              },
               {
                   element: '#step2',
                   intro: "Click to Add new Inventory"
               },
                 {
                     element: '#step3',
                     intro: 'View report summary',
                     position: 'top'

                 },
              
              {
                  element: '#step4',
                  intro: 'Manage all libraries and arrange your inventory columns.',
                  position: 'top'

              },
              {
                  element: '#step5',
                  intro: 'Click this button to sign out from app',
                  position: 'top'

              },
              

            ]
        });

        intro.start();
    }
    var _FirstVisit = localStorage.getItem("FirstVisit");
    if (_FirstVisit == null || _FirstVisit==undefined ) {
        localStorage.setItem("FirstVisit", "Yes");
        startIntro();
    }
</script>