
<style>
    .container {
        width: 100%;
    }

    .btn-large {
        text-align: center;
        height: auto;
        padding-left: 12px;
        padding-right: 12px;
        margin-top: 8px;
    }


        .btn-large p {
            margin: 0 0 10px;
            text-transform: capitalize;
            margin-top: -5px;
            margin-bottom: 8px;
        }

        .btn-large h4 {
            font-size: 50px;
            text-align: right;
        }

    body {
        background: #eaeaea;
        overflow-x: hidden !important;
    }

    .list {
        padding-left: 0px;
        margin-left: 0px;
    }

    .list-group-item {
        list-style-type: none;
        padding: 7px !important;
        text-align: center;
        min-height: 72px;
    }

        .list-group-item a {
            font-size: 12px;
            font-family: Verdana;
            width: 100%;
        }

    .list li a {
        padding: 10px;
        font-size: 20px;
        color: #000;
        background: #fff;
        border-bottom: 1px solid #ccc;
    }

    .form-group label span {
        color: red;
    }

    .btn-large:disabled {
        color: #fff !important;
        opacity: 0.7 !important;
    }

    .operator {
        margin-left: -50px;
        max-height: 250px;
        overflow-y: auto;
        text-align:center;
    }


        .operator li {
            background: #fff;
        }


    li.disabled {
        background: #E2E2E2;
        text-decoration: line-through;
    }

    .operator li a {
        color: #000 !important;
    }

    .dropdown-toggle {
        padding-left: 13px;
        padding-right: 13px;
        height: 30px;
        line-height: 30px;
    }

    .text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-inline-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        word-break: break-all;
        margin-bottom: 0;
        min-height:24px;
      
    }

    table a {
        width: 100%;
    }


    table tr {
        width: 33.33%;
        float: left;
        background: #fff;
        margin-bottom: 5px;
        border: 1px solid #ccc;
        border-right: transparent;
    }

    table td {
        background: transparent;
        border: none;
        background-color: transparent !important;
    }

    .onbtn {
        color: #fff;
        /* height: 60px; */
        /* width: 34px; */
        padding: 10px;
        background: #0094ff;
        border-radius: 100%;
        /* line-height: 34px; */
        padding-top: 12px;
        padding-bottom: 12px;
        /* margin-top: 17px; */
    }
</style>

<div style="margin-top:12px;" class="page-header">

    <div class="row">
        <div class="col-xs-7">
            <h4 style="margin-top:0px; font-size:16px; line-height:34px; margin-bottom:0px; color:#000;">Inventory Columns</h4>
        </div>

        <div class="col-xs-5">
            <div style="text-align:right; color:#000; margin-top:8px;">
                Drag
                <a style="padding-left:11px; padding-right:11px;" class="onbtn" ng-if="isallowdrag==false" ng-click="allowdrag()">ON </a>
                <a class="onbtn" ng-if="isallowdrag==true" ng-click="disallowdrag()">OFF </a>
            </div>

        </div>
    </div>
</div>

<button ng-if="Isbuttonshow==true" type="button" title="Save" class="btn btn-large primary-color btn-primary" ng-click="saveColumns();"><i class="fa fa-check"></i> Save</button>

<button ng-if="loadingbutton==true" type="button" title="Save" class="btn btn-large primary-color btn-primary" ng-click="saveColumns();"><i class="fa fa-check  fa-spin"></i> Save</button>

<div ng-if="LocationsLoaded==false">

    <div class="modal-backdrop fade in"></div>
    <div class="spinner" style="text-align:center; position:fixed; top:33%; width:100%;  z-index:10000">
        <img src="img/loader.gif" alt="Alternate Text" />
    </div>
</div>


<table class="table gridTable table-striped bs-item">


    <tbody class="dragarea" ui-sortable="sortableOptions" ng-model="MyInventorycolumns">
        <tr data-ng-repeat="obj in MyInventorycolumns" class="MoveCursor" ng-if="obj.ColumnName != 'ActionQty'&& obj.ColumnName != 'HasConversion'" ng-class="{'unsortable':isallowdrag==false}">
            <td>
                <a class="text">{{obj.ColumnLabel}}</a>
                <div ng-disabled="obj.Show==false" class="btn-group custombtnGroup">
                    <button ng-disabled="obj.Show==false" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" title="(click to change)">
                        <span ng-if="obj.mobileorder!=0">
                            {{obj.mobileorder}}
                        </span>
                        <span ng-if="obj.mobileorder==0">
                            Off
                        </span>


                    </button>
                    <ul class="dropdown-menu operator" role="menu" aria-labelledby="dropdownMenu">
                        <li ng-if="!obj.Required">
                            <a ng-click="obj.mobileorder=0">
                                Off
                            </a>
                        </li>

                        <li ng-repeat="opt in MyInventorycolumns" ng-class="{'disabled':AlreadyTaken(obj.RowID,$index+1)==true}">
                            <a ng-click="obj.mobileorder=$index+1" ng-if="AlreadyTaken(obj.RowID,$index+1)==false">

                                {{$index+1}}

                            </a>

                            <a ng-if="AlreadyTaken(obj.RowID,$index+1)==true">{{$index+1}}</a>

                        </li>

                    </ul>
                </div>

            </td>
        </tr>
    </tbody>


</table>






<button ng-if="Isbuttonshow==true" type="button" title="Save" class="btn btn-large primary-color btn-primary" ng-click="saveColumns();"><i class="fa fa-check"></i> Save</button>

<button ng-if="loadingbutton==true" type="button" title="Save" class="btn btn-large primary-color btn-primary" ng-click="saveColumns();"><i class="fa fa-check  fa-spin"></i> Save</button>






