

<link href="css/profile.css" rel="stylesheet" />

<style>
    .btn-openimage {
        height: 40px;
        width: 40px;
        background: #d6b40d;
        display: inline-block;
        line-height: 43px;
        position: absolute;
        border-radius: 100%;
        margin-top: -31px;
        color: #fff !important;
    }
</style>

<style>
    .redColor {
        color: red;
    }

    .accordion {
        width: 100%;
        padding-top: 60px;
        background: #FFF;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

        .accordion .link {
            cursor: pointer;
            display: block;
            padding: 15px 15px 15px 42px;
            color: #069;
            font-size: 14px;
            font-weight: 700;
            border-bottom: 1px solid #CCC;
            position: relative;
            -webkit-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
            background: #f2f2f2;
        }

        .accordion li:last-child .link {
            border-bottom: 0;
        }

        .accordion li .link i {
            position: absolute;
            top: 16px;
            left: 12px;
            font-size: 18px;
            color: #595959;
            -webkit-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }

        .accordion li i.fa-chevron-down {
            right: 12px;
            left: auto;
            font-size: 16px;
        }

        .accordion li.open .link {
            color: #fff;
            background: #2196F3;
        }

        .accordion li.open i {
            color: #fff;
        }

            .accordion li.open i.fa-chevron-down {
                -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transform: rotate(180deg);
            }

        .accordion li.default .submenu {
            display: block;
        }
    /**
    * Submenu
    -----------------------------*/
    .submenu {
        display: none;
        font-size: 14px;
        box-shadow: 0 1px 7px rgba(193, 91, 91, 0.15);
        padding: 12px;
    }

        .submenu li {
            border-bottom: 1px solid #4b4a5e;
        }
</style>

<style>
    .cropArea {
        overflow: hidden;
        width: 100%;
        height: 300px;
        text-align: center;
        margin: 0 auto;
    }

    img-crop {
        width: 100%;
        height: 300px;
        display: block;
        position: relative;
        margin: 0 auto;
    }

        img-crop canvas {
            position: absolute;
            top: 50%;
            max-width: 220px;
        }


    .container h4 {
        word-break: normal;
    }

    #files
    {
        width:100%;
    }
</style>























<div style="display:none; width:100%;" class="profilepage">

    <div class="detailmode">
        <div class="bluearea">
            <div style="color:#fff; text-align:left; font-size:24px; margin-top:5px; padding-left:10px;">


                <br />
            </div>

            <img ng-if="_isProfileLoading==true" src="img/loader1.gif" class="loadingImage" alt="loading.." />
            <img src="{{picURl}}" ng-click="PreviewImage()" onerror="this.onerror = null; this.src = 'https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg';" class="myimg" id="myimg" ng-if="_isProfileLoading==false" alt="Alternate Text" />

            <div ng-click="openModel()">
                <a class="btn-openimage"><i class="fa fa-pencil"></i></a>

            </div>
            <div>
                <br />
            </div>
        </div>

        <div style="margin-top:0px;" class="followMeBar bluearea">

            <table style="width:100%">
                <tr>
                    <td>
                        <a href="#/FindItems">
                            <i class="fa fa-long-arrow-left"></i>
                        </a>
                    </td>
                    <td>
                        <h4>{{firstnameLabel}} {{lastnameLabel}}</h4>
                    </td>

                    <td ng-click="Editmode()">
                        <i class="fa fa-pencil"></i>
                    </td>
                </tr>
            </table>
        </div>


        <div class="container" style="width:95%">
            <h4>{{CurrentAccount}} </h4>
            <h4>  {{emailLabel}}</h4>
            <h4>{{organizationLabel}}</h4>
            <h4> {{phoneLabel}}</h4>
        </div>
    </div>

    <div class="editmode" style="padding:10px; padding-top:0px; display:none; text-align:left">

        <div class="title-header">
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="titletext">Update Profile Details </h4>
                </div>
            </div>
        </div>

        <a ng-click="detailmode()" class="newbackbtn"> <i class="fa fa-arrow-left"></i> </a>


        <a ng-click="detailmode()" class="btn waves-effect btn-danger roundbtntitle"> <i class="fa fa-times"></i> </a>

        <ul id="accordion" class="accordion">

            <li class="default open">
                <div class="link"><i class="fa fa-user"></i>Profile Details <i class="fa fa-chevron-down"></i></div>
                <div class="submenu">

                    <form name="myForm">


                        <div class="form-group">
                            <label>Name <span>*</span></label>
                            <input class="form-control" ng-model="firstname" type="text" name="name" required />
                        </div>

                        <div class="form-group">
                            <label>Email <span>*</span></label>
                            <input class="form-control" ng-model="email" type="email" name="name" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required />
                        </div>
                        <div class="form-group">
                            <label>Organization</label>
                            <input class="form-control" ng-model="organization" type="text" name="name" />
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input class="form-control" ng-model="phone" type="text" name="name" />
                        </div>

                    </form>

                    <a ng-if="isSaving==false" ng-disabled="myForm.$invalid" ng-click="Updateinfo()" class="btn waves-effect btn-primary"> <i class="fa fa-pencil"></i> Update</a>
                    <a ng-if="isSaving==true" ng-click="Updateinfo()" class="btn btn-primary waves-effect disabled"> <i class="fa fa-pencil fa-spin"></i> Update</a>
                    <a ng-click="detailmode()" class="waves-effect btn btn-gray"> <i class="fa fa-times"></i> Cancel</a>


                </div>
            </li>
            <li>
                <div class="link"><i class="fa fa-cogs"></i>Change Password <i class="fa fa-chevron-down"></i></div>
                <div class="submenu">

                    <form name="changepasswordform">

                        <div class="form-group">
                            <label>Current Password <span>*</span> </label>
                            <input type="text" ng-model="changePassword.currentPassword" class="form-control" name="name" value="" required />
                        </div>

                        <div class="form-group">
                            <label>New Password <span>*</span></label>
                            <input ng-model="changePassword.newPassword" type="text" class="form-control" name="name" value="" required />
                        </div>

                        <div class="form-group">
                            <label>Change Password <span>*</span></label>
                            <input type="text" ng-model="changePassword.confirmPassword" class="form-control" name="name" value="" required />
                        </div>


                        <a ng-show="ischangepassword==false" ng-disabled="changepasswordform.$invalid" ng-click="changePassword()" class="btn waves-effect btn-primary"> <i class="fa fa-check"> </i> Change</a>

                        <a ng-show="ischangepassword==true" disabled class="btn waves-effect btn-primary"> <i class="fa fa-spin fa-check"> </i> Change</a>


                    </form>
                </div>
            </li>


        </ul>



        <div>
            <br />
        </div>




    </div>

</div>



<div class="modal fade" id="imagemodaldetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="background:#fff;" class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span> <i class="fa fa-times"></i> </span></button>
        <h4>Image</h4>
    </div>
    <div class="modal-body">
        <img src="{{picURl}}" id="imagepreview" style="max-height:250px;max-width:250px;">
    </div>
</div>

<a ng-click="Openbottommenu()" class="menubtn waves-effect btn-info">
    <i class="fa fa-bars"></i>
</a>

<div id="bottommenumodal" class="modal bottommenu fade">
    <div class="modal-body">
        <ul class="animated slideInUp selectAction">
            <li ng-if="checkpermission('ACTION:CanAddInventory')==true"> <a href="#/inventory"><span class="newinv">Add Inventory</span></a>  <a href="#/inventory" class=" waves-effect btn-warning btn"> <i class="fa fa-plus"></i> </a></li>
            <li> <a href="#/FindItems"><span class="newinv">Go to Inventory</span></a>  <a href="#/FindItems" class=" waves-effect btn-success btn"> <i class="fa fa-shopping-cart"></i> </a></li>
            <li> <a href="#/reportmenu"><span class="newinv">Go to Reports</span></a>  <a href="#/reportmenu" class=" waves-effect btn-primary btn"> <i class="fa fa-th-list"></i> </a></li>
            
        </ul>
    </div>
</div>
<div id="myModalforlist" class="modal bottom-sheet bottom-modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-body">

        <ul>
            <li>
                <a ng-click="capturePhotoNew();"> <i class="fa fa-camera"></i> Capture Photo</a>
            </li>
            <li>

                <!--<a ng-click="triggerFileClick()"><i class="fa fa-picture-o"></i> From Photo Library</a>-->
                <a ng-click="getPhoto()"><i class="fa fa-picture-o"></i> From Photo Library</a>
            </li>

            <li style="background:#9e9e9e;">
                <a data-dismiss="modal"><i class="fa fa-times"></i> Cancel</a>
            </li>
        </ul>
    </div>
</div>
<div style="margin-top: 0px; z-index: 100001;" id="myModalforCropImg" class="modal fade" role="dialog">

    <div style="background:#069; color:#fff;" class="modal-header">
        <h4>Crop Image</h4>
    </div>
    <!-- Modal for Croping content-->
    <div style="background: #fff; overflow-y: auto; height: calc({{cropmodalheight}}px - 140px); " class="modal-body">


        <div ng-show="IsshowCropimg==true" class="cropArea">
            <img-crop image="myImage" area-type="square" area-size="300" result-image="myCroppedImage"></img-crop>
        </div>

        <div ng-show="IsshowCropimg==false">
            <img style="max-height:300px;" src="{{myImage}}" alt="Alternate Text" />
        </div>

        <div style="display:none;"><img id="croppedImage" ng-src="{{myCroppedImage}}" /></div>


    </div>

    <div style="background:#f5f5f5; text-align:left; margin-top:0;" class="modal-footer">
        <a class="btn btn-primary" ng-click="saveCroppedImage();"> <i class="fa fa-camera"></i> Save </a>

        <a ng-show="IsshowCropimg==false" class="btn btn-gray" ng-click="showcropimg();"> <i class="fa fa-camera"></i> Crop</a>

        <!--<a ng-show="IsshowCropimg==true" class="btn btn-gray" ng-click="showorgimg();"> <i class="fa fa-camera"></i> Original</a>-->

        <a ng-click="closecropmodal()" class="btn btn-gray pull-right" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</a>
    </div>
</div>

<input type="file" style="visibility:hidden" id="files"  accept="image/*;" />

<script>


    var stickyHeaders = (function () {

        var $window = $(window),
            $stickies;

        var load = function (stickies) {

            if (typeof stickies === "object" && stickies instanceof jQuery && stickies.length > 0) {

                $stickies = stickies.each(function () {

                    var $thisSticky = $(this).wrap('<div class="followWrap" />');

                    $thisSticky
                        .data('originalPosition', $thisSticky.offset().top)
                        .data('originalHeight', $thisSticky.outerHeight())
                          .parent()
                          .height($thisSticky.outerHeight());
                });

                $window.off("scroll.stickies").on("scroll.stickies", function () {
                    _whenScrolling();
                });
            }
        };

        var _whenScrolling = function () {

            $stickies.each(function (i) {

                var $thisSticky = $(this),
                    $stickyPosition = $thisSticky.data('originalPosition');

                if ($stickyPosition <= $window.scrollTop()) {

                    var $nextSticky = $stickies.eq(i + 1),
                        $nextStickyPosition = $nextSticky.data('originalPosition') - $thisSticky.data('originalHeight');

                    $thisSticky.addClass("fixed");

                    if ($nextSticky.length > 0 && $thisSticky.offset().top >= $nextStickyPosition) {

                        $thisSticky.addClass("absolute").css("top", $nextStickyPosition);
                    }

                } else {

                    var $prevSticky = $stickies.eq(i - 1);

                    $thisSticky.removeClass("fixed");

                    if ($prevSticky.length > 0 && $window.scrollTop() <= $thisSticky.data('originalPosition') - $thisSticky.data('originalHeight')) {

                        $prevSticky.removeClass("absolute").removeAttr("style");
                    }
                }
            });
        };

        return {
            load: load
        };
    })();

    $(function () {
        // stickyHeaders.load($(".followMeBar"));
    });



</script>



<script>
    $(function () {
        var Accordion = function (el, multiple) {
            this.el = el || {};
            this.multiple = multiple || false;

            // Variables privadas
            var links = this.el.find('.link');
            // Evento
            links.on('click', { el: this.el, multiple: this.multiple }, this.dropdown)
        }

        Accordion.prototype.dropdown = function (e) {
            var $el = e.data.el;
            $this = $(this),
			$next = $this.next();

            $next.slideToggle();
            $this.parent().toggleClass('open');

            if (!e.data.multiple) {
                $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
            };
        }

        var accordion = new Accordion($('#accordion'), false);
    });

</script>

<script src="scripts/jquery.ui.touch-punch.js"></script>