
<style>
    .container
    {
        width:100%;
    }

    .btn-large
    {
        text-align:center;
        height:auto;
      padding:5px;
    }

    .btn-large h5 {
       text-transform:capitalize;
       line-height:25px;
    }


    .btn-large i
    {
        display:block;
        font-size:25px;

    }


        .btn-large p {
           
            margin: 0 0 10px;
            text-transform: capitalize;
            margin-top:-5px;
            margin-bottom:8px;
        }

        .col-xs-8
        {
            text-align:left;
        }

   

    body
    {
        background:#eaeaea;
        overflow-x:hidden !important;
    }


</style>

<div style="margin-top:12px;" class="page-header">

    <div class="row">
        
        <div class="col-xs-7">
            <h4 style="margin-top:0px;line-height:34px; margin-bottom:0px; color:#000;">Reports</h4>
        </div>
    </div>
</div>


<div style="background:#fff; margin-top:10px; padding:10px;">

 

    <a href="#/currentinventory" ng-click="GoTo('/currentinventory')" class="waves-effect waves-light btn-large primary-color width-100 animated bouncein delay-6">

        <div class="row">
            <div class="col-xs-2">
                <i class="fa fa-th-list"></i>
            </div>
            <div class="col-xs-8">

                <h5>Current Inventory</h5>
            </div>

            <div class="col-xs-2">
              
                <h4>
                    {{InventoryViews.length}}
                </h4>
               
            </div>

        </div>


    </a>

    <button  type="button"  class="waves-effect waves-light btn-large primary-color width-100 animated bouncein delay-6">


        <div class="row">
            <div class="col-xs-2">
                <i class="fa fa-th-list"></i>

            </div>
            <div class="col-xs-8">

                <h5> Inventory summary</h5>

            </div>

            <div class="col-xs-2">
              

            </div>

        </div>



    </button>

    <button type="button"  class="waves-effect waves-light btn-large primary-color width-100 animated bouncein delay-6">
        <div class="row">
            <div class="col-xs-2">
                <i class="fa fa-th-list"></i>

            </div>
            <div class="col-xs-8">

                <h5>Activity</h5>

            </div>

            <div class="col-xs-2">

           
            </div>

        </div>



    </button>


    <button type="button"  class="waves-effect waves-light btn-large primary-color width-100 animated bouncein delay-6">
        <div class="row">
            <div class="col-xs-2">
                <i class="fa fa-th-list"></i>

            </div>
            <div class="col-xs-8">

                <h5> Global Restock</h5>

            </div>

            <div class="col-xs-2">

               
             
            </div>

        </div>



    </button>

    <button type="button"  class="waves-effect waves-light btn-large primary-color width-100 animated bouncein delay-6">
        <div class="row">
            <div class="col-xs-2">
                <i class="fa fa-th-list"></i>
            </div>
            <div class="col-xs-8">

                <h5>Local Restock</h5>

            </div>

            <div class="col-xs-2">
            


            </div>

        </div>



    </button>

    <button type="button"  class="waves-effect waves-light btn-large primary-color width-100 animated bouncein delay-6">
        <div class="row">
            <div class="col-xs-2">
                <i class="fa fa-th-list"></i>
            </div>
            <div class="col-xs-8">

                <h5>Items</h5>

            </div>

            <div class="col-xs-2">


             
            </div>

        </div>



    </button>

</div>
