<link href="css/setting.css" rel="stylesheet" />


<div class="title-header">
    <div class="row">
        <div class="col-xs-12">
            <h4 class="titletext">Manage setting</h4>
        </div>
    </div>
</div>
<a href="#/FindItems" class="newbackbtn"> <i class="fa fa-arrow-left"></i> </a>

<div class="top50">
    <br />
    <button type="button" ng-click="GoTo('/uom')" class="waves-effect waves-light btn-large btn-success width-100 animated bouncein delay-6">

        <div class="row">
            <div class="col-xs-9">
                <i class="fa fa-cog"></i> Manage UOM
            </div>
            

            <div class="col-xs-3">

                <div ng-if="IsUOMLoading == true"> <img height="30" width="30"  src="img/loader1.gif" alt="Alternate Text" /></div>
                <div ng-if="IsUOMLoading == false">
                    {{UOMList.length}}
                </div>
            </div>

        </div>

    </button>


    <button type="button" ng-click="GoTo('/Location')" class="waves-effect waves-light btn-large btn-danger width-100 animated bouncein delay-6">

        <div class="row">
            <div class="col-xs-9">
                <i class="fa fa-map-marker"></i>  Manage Location

            </div>

            <div class="col-xs-3">
                <div ng-if="IsLocationLoading == true"> <img height="30" width="30" src="img/loader1.gif" alt="Alternate Text" /></div>
                <div ng-if="IsLocationLoading == false">
                    {{LocationList.length}}
                </div>
            </div>
        </div>

    </button>


    <button type="button" ng-click="GoTo('/status')" class="waves-effect waves-light btn-large accent-color width-100 animated bouncein delay-6">
        <div class="row">
            <div class="col-xs-9">
                <i class="fa fa-check-circle-o"> </i> Manage Status

            </div>
         

            <div class="col-xs-3">

                <div ng-if="IsStatusLoading == true"> <img height="30" width="30" src="img/loader1.gif" alt="Alternate Text" /></div>
                <div ng-if="IsStatusLoading == false">
                    {{StatusList.length}}
                </div>
            </div>

        </div>



    </button>


    
    <button type="button" ng-click="GoTo('/selectcolumns')" class="waves-effect waves-light btn-large btn-success width-100 animated bouncein delay-6">
        <div class="row">
            <div class="col-xs-9">
                <i class="fa fa-check"></i> Select Inventory Columns

            </div>


            <div class="col-xs-3">

                <div ng-if="Iscolumnloading == true"> <img height="30" width="30" src="img/loader1.gif" alt="Alternate Text" /></div>
                <div ng-if="Iscolumnloading == false">
                    {{columnlist.length}}
                </div>
            </div>

        </div>



    </button>

    <button type="button" ng-click="GoTo('/mobileorder')" class="waves-effect waves-light btn-large btn-warning width-100 animated bouncein delay-6">
        <div class="row">
            <div class="col-xs-9">
                <i class="fa fa-sort-alpha-asc"></i> Arrange Inventory Columns

            </div>


            <div class="col-xs-3">

                <div ng-if="Iscolumnloading == true"> <img height="30" width="30" src="img/loader1.gif" alt="Alternate Text" /></div>
                <div ng-if="Iscolumnloading == false">
                    {{ columnlist2.length}}
                </div>
            </div>

        </div>



    </button>
</div>

<a ng-click="Openbottommenu()" class="menubtn waves-effect">
    <i class="fa fa-bars"></i>
</a>

<div id="bottommenumodal" class="modal bottommenu fade">
    <div class="modal-body">
        <ul class="animated slideInUp selectAction">
            <li> <a href="#/inventory"><span class="newinv">Add Inventory</span></a>  <a href="#/inventory" class=" waves-effect btn-warning btn"> <i class="fa fa-plus"></i> </a></li>
            <li> <a href="#/FindItems"><span class="newinv">Go to Inventory</span></a>  <a href="#/FindItems" class=" waves-effect btn-success btn"> <i class="fa fa-map-marker"></i> </a></li>
            <li> <a href="#/reportmenu"><span class="newinv">Go to Report</span></a>  <a href="#/Go to Report" class=" waves-effect btn-primary btn"> <i class="fa fa-check-circle-o"></i> </a></li>
            <li class="bottomlink"><span data-dismiss="modal">Close</span><a style="background:#bbb !important;" class=" waves-effect btn-primary btn decrease" data-dismiss="modal"> <i class="fa fa-times"></i>  </a></li>
        </ul>
    </div>
</div>
