
<style>
    .container
    {
        width:100%;
    }

    .btn-large
    {
        text-align:center;
        height:auto;
      padding:12px;
    }

    .btn-large h5 {
       text-transform:capitalize;
       line-height:25px;
    }


    .btn-large i
    {
        display:block;
        font-size:40px;

    }


        .btn-large p {
           
            margin: 0 0 10px;
            text-transform: capitalize;
            margin-top:-5px;
            margin-bottom:8px;
        }

   

    body
    {
        background:#eaeaea;
        overflow-x:hidden !important;
    }


</style>

<div style="margin-top:12px;" class="page-header">

    <div class="row">
        
        <div class="col-xs-7">
            <h4 style="margin-top:0px;line-height:34px; margin-bottom:0px; color:#000;">Settings</h4>
        </div>
    </div>


</div>


<div style="background:#fff; margin-top:10px; padding:10px;">



    <button type="button" ng-click="GoTo('/uom')" class="waves-effect waves-light btn-large primary-color width-100 animated bouncein delay-6">

        <div class="row">
            <div class="col-xs-2">
                <i class="fa fa-cog"></i>
            </div>
            <div class="col-xs-8">
              
                <h5 >Manage UOM</h5>
            </div>

            <div class="col-xs-2">

             
              
                
                <span ng-if="IsUOMLoading == true"> <img height="30" width="30"  src="img/loader1.gif" alt="Alternate Text" /></span>
                <h4 ng-if="IsUOMLoading == false">
                    {{UOMList.length}}
                </h4>
            </div>

        </div>


    </button>

    <button  type="button" ng-click="GoTo('/Location')" class="waves-effect waves-light btn-large primary-color width-100 animated bouncein delay-6">


        <div class="row">
            <div class="col-xs-2">
                <i class="fa fa-map-marker"></i>

            </div>
            <div class="col-xs-8">

                <h5>  Manage Location </h5>

            </div>

            <div class="col-xs-2">
                <span ng-if="IsLocationLoading == true"> <img height="30" width="30" src="img/loader1.gif" alt="Alternate Text" /></span>
                <h4 ng-if="IsLocationLoading == false">
                    {{LocationList.length}}
                </h4>

            </div>

        </div>



    </button>

    <button type="button" ng-click="GoTo('/status')" class="waves-effect waves-light btn-large primary-color width-100 animated bouncein delay-6">
        <div class="row">
            <div class="col-xs-2">
                <i class="fa fa-check-circle-o"></i>

            </div>
            <div class="col-xs-8">

                <h5> Manage Status</h5>

            </div>

            <div class="col-xs-2">

                <span ng-if="IsStatusLoading == true"> <img height="30" width="30" src="img/loader1.gif" alt="Alternate Text" /></span>
                <h4 ng-if="IsStatusLoading == false">
                    {{StatusList.length}}
                </h4>
            </div>

        </div>



    </button>


    <button type="button" ng-click="GoTo('/mobileorder')" class="waves-effect waves-light btn-large primary-color width-100 animated bouncein delay-6">
        <div class="row">
            <div class="col-xs-2">
                <i class="fa fa-sort-alpha-asc"></i>

            </div>
            <div class="col-xs-8">

                <h5> Arrange Inventory Columns</h5>

            </div>

            <div class="col-xs-2">

                <span ng-if="Iscolumnloading == true"> <img height="30" width="30" src="img/loader1.gif" alt="Alternate Text" /></span>
                <h4 ng-if="Iscolumnloading == false">
                    {{columnlist.length}}
                </h4>
            </div>

        </div>



    </button>

</div>
