
<style>


    .container
    {
        width:100%;
    }

    .btn-large {
        text-align: center;
        height: auto;
        padding-left: 12px;
        padding-right: 12px;
        margin-top: 8px;
    }


        .btn-large p {
           
            margin: 0 0 10px;
            text-transform: capitalize;
            margin-top:-5px;
            margin-bottom:8px;
        }

    .btn-large h4
    {
        font-size:50px;
        text-align:right;
    }

    body
    {
        background:#eaeaea;
        overflow-x:hidden !important;
    }

    .list
    {
        padding-left:0px;
        margin-left:0px;
    }

    .list-group-item {
        list-style-type: none;
        padding:15px !important;
        min-height:65px;
    }

    .list-group-item a {
      font-size:14px;
    }

        .list li a{
            padding:10px;
            font-size:20px;
            color:#000;
            background:#fff;
            border-bottom:1px solid #ccc;
        }

        .form-group label span
        {
            color:red;
        }

    .btn-large:disabled {
        color: #fff !important;
        opacity: 0.7 !important;
    }

    .list-group .btn-warning {
        border-radius: 100% !important;
        margin-right: 5px;
    }

    .list-group .btn-danger {
        border-radius: 100% !important;
        margin-right: 5px;
    }
</style>

<div style="margin-top:12px;" class="page-header">

    <div class="row">
        
        <div class="col-xs-2">
            <a class="waves-effect" href="#/setting">
                <img src="img/back.png" alt="Alternate Text" />
            </a>
        </div>
        <div class="col-xs-7">
            <h4 style="margin-top:0px;line-height:34px; margin-bottom:0px; color:#000;">Manage Status</h4>
        </div>
    </div>
</div>



<div ng-if="mode == 1" class="listview animated zoomIn">
    <a style="margin-bottom:10px;" ng-click="addstatus()" class="waves-effect width-100 btn btn-primary">
        <i class="fa fa-plus-circle"></i> Add new Status
    </a>

    <div class="input-group">
        <input style="border-radius:0px; border-bottom:transparent;" ng-change="FilterRecordsLength.length=(StatusList | filter:SearchData.test).length" class="form-control" placeholder="Type to search" type="text" ng-model="SearchData.test">
        <a class="input-group-addon last" ng-if="SearchData.test!=''" id="btnClearSearch" ng-click="ClearFilter()"> <i class="fa fa-times-circle"></i> </a>
        </div>
        <div ng-if="LocationsLoaded==false">

            <div class="modal-backdrop fade in"></div>
            <div class="spinner" style="text-align:center; position:fixed; top:33%; width:100%;  z-index:10000">
                <img src="img/loader.gif" alt="Alternate Text" />

                <!--<i style="font-size: 100px; color: #0083C7; " class="fa fa-spin fa-spinner"></i>-->
            </div>
        </div>

        <ul class="list-group">
            <li class="list-group-item" ng-init="FilterRecordsLength.length=(StatusList | filter:SearchData.test).length" ng-repeat="obj in filteredBars = (StatusList | filter:SearchData.test)" ng-if="obj.StatusValue != ''">

                <div class="row">
                    <div class="col-xs-7">
                        <a>{{obj.StatusValue}}</a>
                    </div>
                    <div class="col-xs-5">
                        <a ng-click="deletestatus(obj)" id="Delete_{{obj.StatusId}}" style="height:40px; width:40px; padding:0px; line-height:40px; border-radius:0px;" class="btn btn-danger pull-right">
                            <i class="fa fa-trash-o"></i>
                        </a>
                        <a ng-click="editstatus(obj)" style="height:40px; width:40px; padding:0px; line-height:40px; border-radius:0px;" class="btn btn-warning pull-right">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </div>
                </div>




            </li>

        </ul>


    <div ng-if="FilterRecordsLength.length==0 && LocationsLoaded==true" style="text-align: center; color: #d9534f;" class="maincontent norecords">

        <div>

            <h3>No record matched your Query</h3>
            <a style="cursor:pointer;width:auto;" class="btn btn-primary" ng-click="ClearFilter()"> <i class="fa fa-filter"></i> Clear your filters</a>
            <br /><br />
        </div>


    </div>
    </div>

<div class="animated zoomIn" ng-if="mode == 2 || mode == 3 ">


    <form name="status">

        <div style="background:#fff;padding:10px; margin-top:7px;">
            <h4 ng-if="mode == 2">Fill below value to add new</h4>
            <h4 ng-if="mode == 3">Update below value to update status</h4>
            <div class="form-group">
                <label>Status <span>*</span></label>
                <input class="form-control" type="text" id="StatusToCreate" ng-model="StatusToCreate" required />
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <button type="button" ng-disabled="locationform.$invalid || IsProcessing==true" ng-click="savestatus()" ng-if="mode == 2" class="btn width-100 btn-primary"> <i class="fa fa-plus-circle" ng-class="{'fa-spin':IsProcessing==true}"></i> Add</button>
                    <button type="button" ng-disabled="locationform.$invalid || IsProcessing==true" ng-click="savestatus()" ng-if="mode == 3" class="btn width-100 btn-primary"> <i class="fa fa-check-circle" ng-class="{'fa-spin':IsProcessing==true}"></i> Update</button>
                </div>
                <div class="col-xs-6">
                    <a style="width:100%" ng-click="leaveform()" class="btn btn-gray width-100"> <i class="fa fa-times"></i> Cancel</a>
                </div>
            </div>
            

        </div>

    </form>

</div>




  




    
