
<style>
    .container
    {
        width:100%;
    }

    .btn-large
    {
        text-align:center;
        height:auto;
        margin-top:8px;
    }

   


        .btn-large p {
           
            margin: 0 0 10px;
            text-transform: capitalize;
            margin-top:-5px;
            margin-bottom:8px;
        }

    .btn-large h4
    {
        font-size:50px;
        text-align:right;
    }

    body
    {
        background:#eaeaea;
        overflow-x:hidden !important;
    }


</style>

<div style="margin-top:12px;" class="page-header">

    <div class="row">
        <div class="col-xs-5">
            <a class="waves-effect" href="#/setting">
                <img src="img/back.png" alt="Alternate Text">
            </a>
        </div>
        <div class="col-xs-7">
            <h4 style="margin-top:0px;line-height:34px; text-align:right; margin-bottom:0px; color:#000;">Manage UOM</h4>
        </div>
    </div>


</div>





    <a class="waves-effect waves-light btn-large primary-color width-100 animated bouncein delay-6">

        <i class="fa fa-check-circle-o"></i> Add new UOM


    </a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Unit of measure
                </th>
                <th>
                    Action
                    </th>
            </tr>  
            
            </thead>


        <tbody>

            <tr ng-repeat="obj in UOMList">
                <td>{{obj.UnitOfMeasureName}}</td>


            <td>
                <a class="btn btn-danger">
                    <i class="fa fa-pencil"></i>
                </a>
            </td>  

            </tbody>

    <tr>
        <td></td>
    </tr>
</table>
